@(preferredContactForm: Form[(models.agent.addClient.PreferredContactData, String)])
@import models.agent.addClient.PreferredContactData

@main(title = Messages("agent.addClient.preferredContact.title")) {

<h2>@Messages("agent.addClient.preferredContact.heading")</h2>

    <p>@Messages("agent.addClient.preferredContact.intro")</p>

    @helper.form(action = controllers.agent.addClient.routes.PreferredContactController.preferredContact()) {

        <p>
            <label>
                <input type="radio" name="pointOfContact"
                @if(preferredContactForm.data.get("pointOfContact").getOrElse("me") == "me"){checked="checked"}
                value="me">
                @Messages("agent.addClient.preferredContact.pointOfContact.me.label")
            </label>
        </p>

        <p>
            <label>
                <input type="radio" name="pointOfContact"
                @if(preferredContactForm.data.get("pointOfContact").getOrElse("me") == "other"){checked="checked"}
                value="other">
                @Messages("agent.addClient.preferredContact.pointOfContact.other.label")
            </label>

            <p>
            @helpers.input(preferredContactForm("contactName"), '_label -> Messages("agent.addClient.preferredContact.contactName"))
            </p>
            <p>
            @helpers.input(preferredContactForm("contactPhone"), '_label -> Messages("agent.addClient.preferredContact.contactPhone"))
            </p>
            <p>
            @helpers.input(preferredContactForm("contactEmail"), '_label -> Messages("agent.addClient.preferredContact.contactEmail"))
            </p>

        </p>
        <p>
        <label>
            <input type="radio" name="pointOfContact"
            @if(preferredContactForm.data.get("pointOfContact").getOrElse("me") == "notUs"){checked="checked"}
            value="notUs">
            @Messages("agent.addClient.preferredContact.pointOfContact.notUs.label")
        </label>
        </p>
        <input type="hidden" value="@{preferredContactForm("instanceId").value}" id="instanceId" name="instanceId" />
        <p>
            <input type="submit" value="Submit" />
        </p>
    }
}