@(preferredContactForm: Form[(models.agent.addClient.PreferredContactData, String)])
@import models.agent.addClient.PreferredContactData

@main(title = "Add a new client") {

<h2>Add a new client to your agent tax account</h2>

    <p>We would like to understand if you are the preferred point of contact in relation to PAYE payment matters for this client?</p>

    @helper.form(action = controllers.agent.addClient.routes.PreferredContactController.preferredContact()) {

        <p>
            <label>
                <input type="radio" name="pointOfContact"
                @if(preferredContactForm.data.get("pointOfContact").getOrElse("me") == "me"){checked="checked"}
                value="me">
                I am the preferred point of contact
            </label>
        </p>

        <p>
            <label>
                <input type="radio" name="pointOfContact"
                @if(preferredContactForm.data.get("pointOfContact").getOrElse("me") == "other"){checked="checked"}
                value="other">
                A named person in my office is the preferred point of contact
            </label>

            <p>
            @helpers.input(preferredContactForm("contactName"), '_label -> "Contact name")
            </p>
            <p>
            @helpers.input(preferredContactForm("contactPhone"), '_label -> "Contact phone number")
            </p>
            <p>
            @helpers.input(preferredContactForm("contactEmail"), '_label -> "Contact email address")
            </p>

        </p>
        <p>
        <label>
            <input type="radio" name="pointOfContact"
            @if(preferredContactForm.data.get("pointOfContact").getOrElse("me") == "notUs"){checked="checked"}
            value="notUs">
            I am not the preferred point of contact
        </label>
        </p>
        <input type="hidden" value="@{preferredContactForm("instanceId").value}" id="instanceId" name="instanceId" />
        <p>
            <input type="submit" value="Submit" />
        </p>
    }
}