@(dateRange: Range, newClientSearchForm: Form[models.agent.addClient.ClientSearch])

@main(title = "Add a new client") {

<h2>Add a new client</h2>

    <h3>Search for your client</h3>



    @helper.form(action = controllers.agent.addClient.routes.SearchClientController.search()) {

        <div class="@if(newClientSearchForm.hasGlobalErrors){error}">
            <span name="globalErrors" id="globalErrors" class="error-notification">@newClientSearchForm.globalError.map(_.message).getOrElse("")</span>
        </div>

        <p>
        @helpers.input(newClientSearchForm("nino"), '_label -> "National Insurance Number")
        </p>

        <p>@helpers.input(newClientSearchForm("firstName"), '_label -> "Client First Name")    </p>

        <p>@helpers.input(newClientSearchForm("lastName"), '_label -> "Client Last Name")      </p>

        <p>@helpers.dateFieldsFreeYear(newClientSearchForm,
            "dob",
            "Date Of Birth",
            dateRange,
            '_groupDivClass -> "form-field")
        </p>
        <p>
            <input type="submit" value="Search"/>
        </p>


    }
}