@(form: Form[(models.agent.addClient.ClientSearch, String)])

@main(title = Messages("agent.addClient.search.title")) {

<h2>@Messages("agent.addClient.search.heading")</h2>

    <h3>@Messages("agent.addClient.search.subHeading")</h3>

    @helper.form(action = controllers.agent.addClient.routes.SearchClientController.search()) {

        <div class="@if(form.hasGlobalErrors){error}">
            <span id="global-errors" class="error-notification">@form.globalError.map(_.message).getOrElse("")</span>
        </div>
        <p>
            @helpers.input(form("nino"), '_label -> Messages("agent.addClient.search.nino"))
        </p>
        <p>@helpers.input(form("firstName"), '_label -> Messages("agent.addClient.search.firstName"))    </p>
        <p>@helpers.input(form("lastName"), '_label -> Messages("agent.addClient.search.lastName"))      </p>
        <p>@helpers.dateFieldsFreeYear(form,
            "dob",
            Html(Messages("agent.addClient.search.dob")),
            '_groupDivClass -> "form-field")
        </p>
            <input type="hidden" value="@{form("instanceId").value}" id="instanceId" name="instanceId" />
        <p>
            <input type="submit" value="Search"/>
        </p>
    }
}