@(email: connectors.SaEmailPreference, changeEmailAddressLinkId: String)(implicit request: Request[_], hostContext: hostcontext.HostContext)
@import uk.gov.hmrc.urls.Link
@import controllers.sa.prefs.ExternalUrls._
@import controllers.sa.prefs.ExternalUrlPrefixes._

<p>
    @Link.toInternalPage(
        id = Some(changeEmailAddressLinkId),
        url = changeEmailAddress,
        value = Some("Change your email address"),
        dataAttributes = Some(Map("journey-click" -> "self-assessment-preferences:Click:Change your email address"))
    ).toHtml
</p>
<p>
    @Link.toInternalPage(
        id = Some("opt-out-of-email-link"),
        url = optOutOfEmailReminders,
        value = Some("Stop paperless notifications"),
        dataAttributes = Some(Map("journey-click" -> "self-assessment-preferences:Click:Stop paperless notifications"))
    ).toHtml
</p>