@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
	@includes.head(title)
    </head>

    <body>
	<a href="#content" class="visuallyhidden">Skip to main content</a>

	@includes.header()

	<section class="l-constrained--topBordered">
	    <div class="l-bodyLeftColumn">
		@content
	    </div>

	<aside class="l-bodyRightColumn">
	    <div class="service-info">
		<p class="service-info__organisation-logo">HM Revenue<br>&amp; Customs</p>
            </div>
	</aside>
	</section>

	@includes.footer()
    </body>
</html>
