@(redirectUrl: String)

@main(title = "Your email address is NOT verified") {

<div id="print-prefs">
    <h1>Sign up for email reminders</h1>
    <h2 id="failureHeading">Looks like we have a problem...</h2>
    <p id="failureMessage">There is an issue validating your email address, the link you have clicked on is out of date.</p>

    <p>Please can you login to your tax account and start the process again to validate your email address.</p>

    <p><a class="button" href="@redirectUrl">Log in to Self Assessment</a></p>

</div>

}
