@(emailForm: Form[String], token: String, redirectUrl: String)

@import views.helpers.CustomHelpers._
@import helper._

@main(title = "My Preferences") {

<h2>Turn off paper</h2>
<div id="print-prefs">

    <p>
        Soon you can receive email alerts when new reminders and statements are available online, rather than letters.
    </p>

    <p>
        HMRC will be making this available over the next year and will let you know when this happens.
    </p>

    <p>
        If you would like to receive your reminders by email when this is available, enter your email address.
    </p>

    @helper.form(action = controllers.routes.SaPrefsController.submitPrefsForm(token, redirectUrl)) {
         <p>
            @inputText(
             emailForm("email"),
            '_label -> "",
            '_showConstraints -> false)
        </p>

        <p>
            <button class="button" type="submit">Submit</button>
        </p>

    }

    @helper.form(action = controllers.routes.SaPrefsController.submitKeepPaperForm(token, redirectUrl)) {
    <p>
       <input type="submit" style="border:none; background-color:transparent; text-decoration:underline; color:#0000FF;" value="No thanks. Keep sending me reminders by letter"></button>
    </p>
    }


</div>

}
