@(agentForm:Form[controllers.agent.registration.AgentTypeAndLegalEntity], conf:controllers.agent.registration.Configuration)

@import controllers.agent.registration.AgentTypeAndLegalEntityFormFields._
@import views.helpers._

@main(title = "Your tax home") {

    <h2>Agent type and Legal entity</h2>

    @helper.form(action = agent.registration.routes.AgentTypeAndLegalEntityController.postAgentType) {

         @helpers.fieldGroup(
                agentForm,
                Seq(
                    FormField(agentForm(legalEntity), conf.legalEntityOptions)
                ),
                '_label -> "Legal Entity",
                '_groupDivClass -> legalEntity,
                '_additionalTitleText -> "(only for 'In business as an agent' and 'Employer acting for employees')",
                '_valueAfter -> true
         )

         @helpers.fieldGroup(
                agentForm,
                Seq(
                    FormField(agentForm(agentType), conf.agentTypeOptions)
                ),
                '_label -> "Agent Type",
                '_groupDivClass -> agentType,
                '_valueAfter -> true
         )

        <p><input type="submit" value="Next"/></p>

    }

}