@(agentForm:Form[controllers.agent.registration.AgentContactDetails], paye: uk.gov.hmrc.common.microservice.paye.domain.PayeRoot)

@import controllers.agent.registration.AgentContactDetailsFormFields._

@main(title = "Your tax home") {

<h2>Contact Details</h2>

<p>We were able to determine the following details for you:</p>

@helper.form(action = agent.registration.routes.AgentContactDetailsController.postContactDetails) {

    <div><label for='title'>Title:</label><input disabled='true' id='title' name="title" value='@paye.title'/></div>
    <div><label for='firstName'>First name:</label><input disabled='true' id='firstName' name="firstName" value='@paye.firstName'/></div>
    <div><label for='middleName'>Middle name:</label><input disabled='true' id='middleName' name="middleName" value=''/></div>
    <div><label for='lastName'>Last name:</label><input disabled='true' id='lastName' name="lastName" value='@paye.surname'/></div>
    <div><label for='dateOfBirth'>Date of birth:</label><input disabled='true' id='dateOfBirth' name="dateOfBirth" value='@paye.dateOfBirth'/></div>
    <div><label for='nino'>National Insurance Number:</label><input disabled='true' id='nino' name="nino" value='@paye.nino'/></div>

    <p>Please provide at least one of the following details in case we need to contact you:</p>
    <p>
        @helpers.input(agentForm(daytimePhoneNumber), '_label -> "Daytime phone number:")
    </p>
    <p>
        @helpers.input(agentForm(mobilePhoneNumber), '_label -> "Mobile phone number:")
    </p>
    <p>
        @helpers.input(agentForm(emailAddress), '_label -> "Email address:")
    </p>

    <p><input type="submit" value="Next"/></p>
}


}