@(agentForm:Form[controllers.agent.registration.AgentProfessionalBodyMembership], professionalBodyOptions: Seq[(String, String)])

@import controllers.agent.registration.AgentProfessionalBodyMembershipFormFields._

@main(title = "Your tax home") {

    <h2>Professional Body Membership</h2>

    @helper.form(action = controllers.agent.registration.routes.AgentProfessionalBodyMembershipController.postProfessionalBodyMembership) {

        @helpers.dropdown(
            agentForm(qualifiedProfessionalBody),
            professionalBodyOptions,
            '_label -> "Select a Professional Body:",
            '_emptyValueText -> Messages("dropdown.please.select")
        )

        @helpers.input(agentForm(qualifiedMembershipNumber), '_label -> "Membership Number:", '_error -> agentForm.error("professionalBodyMembership") )

        <p><input type="submit" value="Apply"/></p>

    }

}