@(agentForm:Form[controllers.agent.registration.AgentProfessionalBodyMembership], professionalBodyOptions: Map[String, String])

@main(title = "Your tax home") {

    <h2>Professional Body Membership</h2>

    @helper.form(action = agent.registration.routes.AgentProfessionalBodyMembershipController.postProfessionalBodyMembership) {

        @helpers.dropdown(
            agentForm("professionalBodyMembership.professionalBody"),
            professionalBodyOptions,
            '_label -> "Select a Professional Body:"
        )

        @helpers.input(agentForm("professionalBodyMembership.membershipNumber"), '_label -> "Membership Number:", '_error -> agentForm.error("professionalBodyMembership") )

        <p><input type="submit" value="Apply"/></p>

    }

}