@(form:Form[controllers.agent.AgentDetails])

@main(title = "Your tax home") {


<h2 xmlns="http://www.w3.org/1999/html">Contact Details</h2>

<p>We were able to determine the following details for you:</p>

<style>
    form {
        width: 500px;
        clear both;
        text-align: right;
        color: darksalmon;
        font-weight: bold;
    }
    form input {
        width: 50%;
        clear: both;
        background-color: magenta;
        color: lime;
        font-weight: bold;
        margin: 10px;
    }
</style>

<form method="POST" action="@controllers.agent.routes.AgentController.postContacts()">
    <div><label for='id'>Title:</label><input disabled='true' id='title' name="title" value='@form.data("title")'/></div>
    <div><label for='firstName'>First name:</label><input disabled='true' id='firstName' name="firstName" value='@form.data("firstName")'/></div>
    <div><label for='middleName'>Middle name:</label><input disabled='true' id='middleName' name="middleName" value='@form.data("middleName")'/></div>
    <div><label for='lastName'>Last name:</label><input disabled='true' id='lastName' name="lastName" value='@form.data("lastName")'/></div>
    <div><label for='dateOfBirth'>Date of birth:</label><input disabled='true' id='dateOfBirth' name="dateOfBirth" value='@form.data("dateOfBirth")'/></div>
    <div><label for='nino'>National Insurance Number:</label><input disabled='true' id='nino' name="nino" value='@form.data("nino")'/></div>

    <p>Please provide at least one of the following details in case we need to contact you:</p>
    <div><label for='daytimePhoneNumber'>Daytime phone number:</label><input id='daytimePhoneNumber' name="daytimePhoneNumber" value='@form.data("daytimePhoneNumber")'/></div>
    <div><label for='mobilePhoneNumber'>Mobile phone number:</label><input id='mobilePhoneNumber' name="mobilePhoneNumber" value='@form.data("mobilePhoneNumber")'/></div>
    <div><label for='emailAddress'>Email address:</label><input id='emailAddress' name="emailAddress" value='@form.data("emailAddress")'/></div>

    <div><input type="submit" value="Next"/></div>
</form>


}