@(utr: String, personalDetails: uk.gov.hmrc.common.microservice.sa.domain.SaPerson, nameFromGovernmentGateway: String)

@main(title = "My Details", nav = true) {

    <h1><span class="pre-heading">service</span> Your tax account</h1>

    <h2 class="heading-36">Notification information</h2>

    <ul class="default-list no-bullets">
	<li>Name: @personalDetails.name</li>
	<li>UTR: @personalDetails.utr</li>
    </ul>

    <p>Notifications will be sent by email.<br>
	<a href="#">Change notifications</a>
    </p>

    <h3>Adresses</h3>

    <ol>
	<li>
	    <p>
		@if( personalDetails.address.addressLine1 ) { @personalDetails.address.addressLine1<br /> }
		@if( personalDetails.address.addressLine2 ) { @personalDetails.address.addressLine2<br /> }
		@if( personalDetails.address.addressLine3 ) { @personalDetails.address.addressLine3<br /> }
		@if( personalDetails.address.addressLine4 ) { @personalDetails.address.addressLine4<br /> }
		@if( personalDetails.address.addressLine5 ) { @personalDetails.address.addressLine5<br /> }
		@if( personalDetails.address.postcode ) { @personalDetails.address.postcode }
	    </p>
	    @if( personalDetails.address.additionalDeliveryInformation ) {
		<p>Additional delivery information: @personalDetails.address.additionalDeliveryInformation</p>
	    }

	    <p>This is your main address and communication address for Corporation Tax and PAYE.</p>

	    <p><a href="@controllers.sa.routes.SaController.changeAddress">Change this address</a></p>
	</li>
    </ol>

}
