@(transactionId: uk.gov.hmrc.common.microservice.sa.domain.write.TransactionId)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "My Details - Update main address confirmation receipt", nav = true, user = Some(user)) {

    <h1>Change your address with HMRC</h1>
    <h2>Thanks.</h2>

    <p>Your main address has been changed for your Self-Assessment (SA).<br>Please allow 48 hours for this change to take effect.</p>

    <p>Transaction ID: <b>@transactionId.oid</b></p>

    <p>@helpers.link(None, controllers.sa.routes.SaController.details.url, "Back to your tax account homepage")</p>

}
