@(changeAddressForm: Form[controllers.sa.ChangeAddressForm], changeAddressFormData: controllers.sa.ChangeAddressForm)
@main(title = "Update My Details - Confirmation") {

<h2>My details</h2>
<div id="sa-details">
    <h3>You entered:</h3>


    <ul class="level-1">
            <li><p>Additional delivery information:</p><span>@changeAddressFormData.additionalDeliveryInformation</span></li>
            <li><p>Address line 1:</p><span>@changeAddressFormData.addressLine1</span></li>
            <li><p>Address line 2:</p><span>@changeAddressFormData.addressLine2</span></li>
            <li><p>Address line 3:</p><span>@changeAddressFormData.addressLine3</span></li>
            <li><p>Address line 4:</p><span>@changeAddressFormData.addressLine4</span></li>
            <li><p>Postcode:</p><span>@changeAddressFormData.postcode</span></li>
    </ul>

    <br/>

    <h3>for the following regimes:</h3>

    <h4>Self Assessment (SA)</h4>

    <ul class="level-1">
       <li><p>Main Address</p></li>
    </ul>

    <br/>
    @helper.form(action = controllers.sa.routes.SaController.submitConfirmChangeMyAddressForm) {

        @defining(changeAddressForm("additionalDeliveryInformation")) { additionalDeliveryInformation =>
        <input type="hidden" name="@additionalDeliveryInformation.name" id="@additionalDeliveryInformation.id" value="@changeAddressFormData.additionalDeliveryInformation" />
        }

        @defining(changeAddressForm("addressLine1")) { addressLine1 =>
        <input type="hidden" name="@addressLine1.name" id="@addressLine1.id" value="@changeAddressFormData.addressLine1" />
        }

        @defining(changeAddressForm("addressLine2")) { addressLine2 =>
        <input type="hidden" name="@addressLine2.name" id="@addressLine2.id" value="@changeAddressFormData.addressLine2" />
        }

        @defining(changeAddressForm("optionalAddressLines.addressLine3")) { addressLine3 =>
        <input type="hidden" name="@addressLine3.name" id="@addressLine3.id" value="@changeAddressFormData.addressLine3" />
        }

        @defining(changeAddressForm("optionalAddressLines.addressLine4")) { addressLine4 =>
        <input type="hidden" name="@addressLine4.name" id="@addressLine4.id" value="@changeAddressFormData.addressLine4" />
        }

        @defining(changeAddressForm("postcode")) { postcode =>
        <input type="hidden" name="@postcode.name" id="@postcode.id" value="@changeAddressFormData.postcode" />
        }

        <p>
                <input type="button" onclick="history.back()" value="Back"/>
                <input type="submit" value="Submit"/>
        </p>
    }
</div>

}
