@(user: Option[uk.gov.hmrc.common.microservice.domain.User])
<div class="beta-banner">
    <p><b>BETA:</b> This is a trial service

        @defining(user.map{_ => controllers.common.support.routes.FeedbackController.feedbackForm().url}.getOrElse(controllers.common.support.routes.FeedbackController.unauthenticatedFeedbackForm().url))  { link =>
            - your
            @helpers.link("feedback-link", link, "feedback", true)
            will help us to improve it
        }
        .
        @helpers.link("", "https://www.gov.uk/service-manual/phases/beta.html", "Find out more", true).
    </p>
</div>