<div class="report-error">
    <a class="report-error__toggle" href="#">Is there anything wrong with this page?</a>
    <div class="report-error__content js-hidden">
        <p>Please don't include any personal or financial information, for example your National Insurance or credit card numbers.</p>
        @helper.form(action = common.routes.ProblemReportsController.report) {
            <fieldset>
                <div class="form-field">
                    <label for="report-action"><strong>What were you doing?</strong></label>
                    <input id="report-action" class="input--fullwidth" name="report-action" type="text">
                </div>
                <div class="form-field">
                    <label for="report-error"><strong>What went wrong?</strong></label>
                    <input id="report-error" class="input--fullwidth" name="report-error"  type="text">
                </div>
                <input type="hidden" name="isJavascript" value="false"/>
                <div class="form-field">
                    <button class="button" type="submit">Send</button>
                </div>
            </fieldset>
        }
    </div>
</div>