<div class="report-error">
    <a class="report-error__toggle" href> Is there anything wrong with this page?</a>
    <div class="report-error__content visuallyhidden">
        <p>Please don't include any personal or financial information, for example your National Insurance or credit card numbers.</p>
        <form action="@common.routes.ErrorReportsController.report" method="POST">
            <fieldset>
                <div class="form-field">
                    <label for="action"><strong>What were you doing?</strong></label>
                    <input class="input--fullwidth" name="action" type="text">
                </div>
                <div class="form-field">
                    <label for="error"><strong>What went wrong?</strong></label>
                    <input class="input--fullwidth" name="error"  type="text">
                </div>
                <input type="hidden" name="isJavascript" value="false"/>
                <div class="form-field">
                    <button class="button" type="submit">Send</button>
                </div>
            </fieldset>
        </form>
    </div>

</div>