<ul class="platform-help-links">
    <li>@helpers.link("", Messages("common.links.help_page.url"), Messages("common.links.help_page.text"))</li>
    <li>@helpers.link("", Messages("common.links.cookies.url"), Messages("common.links.cookies.text"))</li>
    <li>@helpers.link("", Messages("common.links.privacy_policy.url"), Messages("common.links.privacy_policy.text"))</li>
    <li>@helpers.link("", Messages("common.links.terms_and_conditions.url"), Messages("common.links.terms_and_conditions.text"), true)</li>
</ul>