<ul class="platform-help-links">
    <li>@helpers.link(None, Messages("common.links.help_page.url"), Messages("common.links.help_page.text"), true)</li>
    <li>@helpers.link(None, Messages("common.links.cookies.url"), Messages("common.links.cookies.text"), true)</li>
    <li>@helpers.link(None, Messages("common.links.privacy_policy.url"), Messages("common.links.privacy_policy.text"), true)</li>
    <li>@helpers.link(None, Messages("common.links.terms_and_conditions.url"), Messages("common.links.terms_and_conditions.text"), true)</li>
</ul>