@(current: String)

<a href="#proposition-links" class="js-header-toggle menu">Menu</a>
<nav class="proposition-menu">
    <a href="/service-manual" class="proposition-name">Service name</a>
    <ul class="proposition-links">
        <li><a href="" class="">About this service</a></li>
        <li><a href="" class="">Support</a></li>
        <li><a href="" class="">Settings</a></li>
    </ul>
</nav>

<nav role='navigation' class='content'>
    <ul id='navigation'>
        <li>@if(current == "Home") { <span class='current-page'>Home</span> } else { <a href='@common.routes.HomeController.home'>Home</a>}</li>
        <li>@if(current == "Statements") { <span class='current-page'>Statements</span> } else { <a href='#' >Statements</a> }</li>
        <li>@if(current == "Messages") { <span class='current-page'>Messages</span> } else { <a href='#' >Messages</a> }</li>
        <li>@if(current == "Calendar") { <span class='current-page'>Calendar</span> } else { <a href='#' >Calendar</a> }</li>
        <li><a href='@common.routes.LoginController.logout'>Sign out</a></li>
    </ul>
</nav>
