@(nav: Boolean)

@if( nav ) {
<nav class="header__menu" role="navigation">
    <a href="#" class="js-header-toggle menu visuallyhidden">Menu</a>
    <span class="header__menu__proposition-name">Your tax account</span>
    <a href="https://www.gov.uk/service-manual" class="phase-tag beta">Beta</a>
    <ul class="header__menu__proposition-links">
        <li><a id="homeNavHref" href="@{controllers.common.FrontEndRedirect.businessTaxHome}">Home</a></li>
        <li><a id="accountDetailsNavHref" href="@{controllers.common.FrontEndRedirect.businessTaxHome}/account-details">Account details</a></li>
        <li><a id="otherServicesNavHref" href="@{controllers.common.FrontEndRedirect.businessTaxHome}/other-taxes">Other taxes</a></li>
        <!-- Not for MVP - HMTB-2628 -->
        <!--<li><a id="importantDatesNavHref" href="/business-tax/important-dates">Important Dates</a></li>-->
        <li><a href="@common.support.routes.ContactController.index ">Contact HMRC</a></li>
        <li><a id="logOutNavHref" href="@common.routes.LoginController.logout">Sign out</a></li>
    </ul>
</nav>
} else {
<a href="https://www.gov.uk/service-manual" class="phase-tag beta">Beta</a>
}

