@(nav: Boolean)
<!--start header-->
<header role="banner" class="header">
    <div class="l-constrained--header">
	<h1 class="header__logo">
	    <a href="https://www.gov.uk/" title="Go to the gov.uk homepage" id="logo" class="content">
		<img alt="GOV.UK" src="@common.routes.Assets.at("images/gov.uk_logotype-2x.png")" />
	    </a>
	</h1>
	@if( nav ) {
	    <nav class="header__menu" role="navigation">
		<a href="#" class="js-header-toggle menu visuallyhidden">Menu</a>
		<a href="index_johndensmore.html" class="header__menu__proposition-name">Your tax account</a>
		<a href="/service-manual" class="phase-tag">Beta</a>
		<ul class="header__menu__proposition-links">
		    <li><a href="/">Home</li>
		    <li><a href="/sa/home">Account details</a></li>
		    <li><a href="#">Contact HMRC</a></li>
		    <li><a href="@common.routes.LoginController.logout">Log out</a></li>
		</ul>
	    </nav>
	} else {
	    <a href="/service-manual" class="phase-tag">Beta</a>
	}
    </div>
</header>
<!--end header-->
