@(content: Html, user: Option[uk.gov.hmrc.common.microservice.domain.User], sidebarLinks: Option[Html], supportLinkEnabled: Boolean = true, nav: Boolean = false, header: Option[Html] = None)
<main id="content" class="l-constrained--topBordered">

    @includes.loginStatus(user, nav)
    @if( header.isDefined ) {
         <header class="page-header">
             <h1>@header.get</h1>
         </header>
    }
        <article>
            @content
        </article>

    @if( sidebarLinks.isDefined ) {
        <aside>
            @sidebarLinks.get
        </aside>
    }
    @if(supportLinkEnabled && user.isDefined) {
        @includes.error_feedback()
    }


</main>