@(content: Html, user: Option[uk.gov.hmrc.common.microservice.domain.User], sidebarLinks: Option[Html], supportLinkEnabled: Boolean = true, nav: Boolean = false)
<section id="content" class="l-constrained--topBordered">

    @includes.loginStatus(user, nav)
    <div class="l-bodyLeftColumn">
        <article>
            @content
        </article>
        @if(supportLinkEnabled && user.isDefined) {
            @includes.error_feedback()
        }
    </div>
    @if( sidebarLinks.isDefined ) {
        <aside>
            @sidebarLinks.get
        </aside>
    }


</section>