@(enableLanguageSwitching: Boolean)(implicit lang : Lang, messages: Messages)

    <li>
    @if(lang.code == "en") {
        <a id="switch-language" href="@controllers.routes.LanguageController.switchToWelsh" data-journey-click="Language:Click:Welsh">@Messages("language-switcher.welsh")</a>
    } else {
        <a id="switch-language" href="@controllers.routes.LanguageController.switchToEnglish" data-journey-click="Language:Click:English">@Messages("language-switcher.english")</a>
    }
    </li>
