@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import controllers.LanguageController

@(enableLanguageSwitching: Boolean)(implicit messages: Messages)

  <nav aria-label="@messages("language-switcher.nav")" class="language-switcher">
    <ul>
      <li>
        @if(messages.lang == Lang("en")) {
          <span>@messages("language-switcher.english")</span>
          <span aria-hidden="true"> | </span>
          <a id="switch-language" href="/paperless/help/switch-to-welsh" data-journey-click="Language:Click:Welsh">
            <span class="visuallyhidden">@messages("language-switcher.welsh.hidden")</span>
            <span aria-hidden="true">@messages("language-switcher.welsh")</span>
          </a>
        } else {

          <a id="switch-language" href="/paperless/help/switch-to-english" data-journey-click="Language:Click:English">
            <span class="visuallyhidden">@messages("language-switcher.english.hidden")</span>
            <span aria-hidden="true">@messages("language-switcher.english")</span></a>
          <span aria-hidden="true"> | </span>
          <span>@messages("language-switcher.welsh")</span>
        }
      </li>
    </ul>
  </nav>
