@(title: String, nav: Boolean = false, sidebarLinks: Option[Html] = None, user: Option[uk.gov.hmrc.common.microservice.domain.User] = None, supportLinkEnabled: Boolean = true, header:Option[Html] = None)(mainContent: Html)


@head = {
@_root_.views.html.includes.head()
}
@insideHeader = {
@_root_.views.html.includes.header(nav)
}
@afterHeader = {
@_root_.views.html.includes.betaBanner(user)
}
@content = {
@_root_.views.html.includes.main_content(mainContent, user, sidebarLinks, supportLinkEnabled, nav, header)
}
@footerTop = {

}
@bodyEnd = {
@_root_.views.html.includes.footer()
}

@layouts.govuk_template(Some(title), None)(head, bodyEnd, insideHeader, afterHeader, footerTop, None, nav)(content)