@(emailForm: Form[controllers.sa.prefs.EmailPreferenceData], token: String, redirectUrl: com.netaporter.uri.Uri)(implicit request: Request[_])


@main(title = Messages("sa_printing_preference.title")) {

    <h1>@Messages("sa_printing_preference.heading")</h1>

    <p>@Messages("sa_printing_preference.paragraph.1")</p>
    <ul class="bullets">
        <li>@Messages("sa_printing_preference.list.1.item.1")</li>
        <li>@Messages("sa_printing_preference.list.1.item.2")</li>
        <li>@Messages("sa_printing_preference.list.1.item.3")</li>
    </ul>
    <p>@Messages("sa_printing_preference.paragraph.2")</p>

    <h2>@Messages("sa_printing_preference.heading.2")</h2>
    <p>@Messages("sa_printing_preference.paragraph.3")</p>

    <p>@Messages("sa_printing_preference.paragraph.4")</p>

    <p>@Messages("sa_printing_preference.paragraph.5")</p>

    @_root_.views.html.helpers.form(action = controllers.sa.prefs.routes.SaPrefsController.submitPrefsForm(token, redirectUrl.toString)) {

	@helpers.input(
	    emailForm("email.main"),
        '_label -> "",
	    '_divClass -> "form-field",
	    '_inputClass -> "input--medium",
        'parentField -> emailForm("email")
	)

    <p>Confirm email address</p>
    @helpers.input(
        emailForm("email.confirm"),
        '_label -> "",
        '_divClass -> "form-field",
        '_inputClass -> "input--medium"
    )

    <p>@Messages("sa_printing_preference.paragraph.6.start") <a href="@controllers.common.routes.CommonController.termsAndConditions()" target="_blank">@Messages("sa_printing_preference.paragraph.6.linkText")</a>@Messages("sa_printing_preference.paragraph.6.end")</p>

    <div class="form-field">
        <button id="submitEmailButton" class="button" type="submit">@Messages("sa_printing_preference.submitButton")</button>
    </div>

    }

    @_root_.views.html.helpers.form(action = controllers.sa.prefs.routes.SaPrefsController.submitKeepPaperForm(token, redirectUrl.toString)) {
    <div class="form-field">
        <input id="keep-paper-link" class="input--link" type="submit" value="@Messages("sa_printing_preference.cancelButton")" />
    </div>

    }

}
