@(current: String)
<!--start header-->
<a href="#content" class="visuallyhidden">Skip to main content</a>

<header role="banner" id="global-header-3" class="global-header beta with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <div class="content">
          <a href="/" title="Go to the gov.uk homepage" id="logo-crown">
            <img src="@routes.Assets.at("images/gov.uk_logotype-2x.png")" alt="GOV.UK">
          </a>
        </div>
      </div>
    </div>

    <div class="header-proposition">
      <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav class="proposition-menu">
	  <a href="#" class="proposition-name" id="username">Tax Platform</a>
          <a href="/service-manual" class="phase-tag">Beta</a>
          <ul class="proposition-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">My details</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--end header-->
