@(emailForm: Form[controllers.common.domain.EmailPreferenceData],
  submitPrefsFormAction: Call,
  submitKeepPaperAction: Call)(implicit request: Request[_])

@import views.helpers.Link

@main(title = Messages("sa_printing_preference.title")) {

   <header class="page-header">
       <h1>@Messages("sa_printing_preference.heading")</h1>
   </header>


    <p>@Messages("sa_printing_preference.paragraph.1")</p>
    <ul class="bullets">
        <li>@Messages("sa_printing_preference.list.1.item.1")</li>
        <li>@Messages("sa_printing_preference.list.1.item.2")</li>
        <li>@Messages("sa_printing_preference.list.1.item.3")</li>
    </ul>
    <p>@Messages("sa_printing_preference.paragraph.2")</p>

    <h2>@Messages("sa_printing_preference.heading.2")</h2>
    <p>@Messages("sa_printing_preference.paragraph.3")</p>

    <p>@Messages("sa_printing_preference.paragraph.4")</p>

    <p>@Messages("sa_printing_preference.paragraph.5")</p>

    @helpers.form(action = submitPrefsFormAction, 'id -> "form-submit-email-address") {

        <fieldset>
        @helpers.input(
            emailForm("email.main"),
            '_label -> "Email address",
            '_labelHighlight -> true,
            '_divClass -> "form-field",
            '_inputClass -> "input--medium input--cleared",
            'parentField -> emailForm("email")
        )

        @helpers.input(
            emailForm("email.confirm"),
            '_label -> "Confirm email address",
            '_labelHighlight -> true,
            '_divClass -> "form-field",
            '_inputClass -> "input--medium input--cleared"
        )
        </fieldset>
        <p class="form-field">
            @Html(Messages("sa_printing_preference.paragraph.6",
            Link.toExternalPage(url = controllers.common.routes.CommonController.termsAndConditions().url, value = Some(Messages("sa_printing_preference.paragraph.6.linkText"))).toHtml))
        </p>

        <div class="form-field">
            <button id="submitEmailButton" class="button" type="submit">@Messages("sa_printing_preference.submitButton")</button>
        </div>

    }

    @_root_.views.html.helpers.form(action = submitKeepPaperAction) {
    <div class="form-field">
        <input id="keep-paper-link" class="input--link" type="submit" value="@Messages("sa_printing_preference.cancelButton")" />
    </div>

    }

}
