@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import controllers.ExternalUrlPrefixes
@this(externalUrlPrefixes: ExternalUrlPrefixes)
@(changeEmailAddressLinkId: String)(implicit request: Request[_], messages: Messages, hostContext: model.HostContext)
@import uk.gov.hmrc.urls.Link

<p class="govuk-body">
    @Link.toInternalPage(
        id = Some(changeEmailAddressLinkId),
        url = externalUrlPrefixes.pfUrlPrefix + controllers.internal.routes.ManagePaperlessController.displayChangeEmailAddress(None, hostContext),
        value = Some(Messages("manage.paperless.change.email")),
        dataAttributes = Some(Map("journey-click" -> "self-assessment-preferences:Click:Change your email address"))
    ).toHtml
</p>
