@(regimeRoots: microservice.domain.RegimeRoots, utr: Option[microservice.auth.domain.Utr], vrn: Option[microservice.auth.domain.Vrn], ggwName: String, previouslyLoggedInAt : Option[org.joda.time.DateTime])
@import views.formatting.Dates._
@main(title = "Your tax home") {

    @if(ggwName != ""){
        <h2>Welcome @ggwName</h2>
    }
    <p>@if(!previouslyLoggedInAt.isEmpty) {
        Last logged in on @formatEasyReadingTimestamp(previouslyLoggedInAt, "")
    } else {
        First ever login
    }</p>

    @if(utr.isDefined) {
        <p>UTR: @utr.get.utr</p>
    }

    @if(vrn.isDefined) {
        <p>VRN: @vrn.get.vrn</p>
    }

    @if(regimeRoots.hasBusinessTaxRegime) {
        <p>Services you have enrolled for and activated via the Government Gateway:</p>
        <ul style="list-style-type:none;">
            @if(regimeRoots.sa.isDefined){
            <li><a href="/sa/details">Self-assessment (SA)</a></li>
            }
            @if(regimeRoots.vat.isDefined){
            <li><a href="#">Value Added Tax (VAT)</a></li>
            }

        </ul>
    } else {
        <p>You are not currently actively enrolled for any online services</p>
    }


}
