@main(title = "Your tax home") {

    <h2>Login to your tax</h2>

    <p>Login <a href="/samllogin">here</a></p>

    <p><a href="@routes.LoginController.businessTaxLogin">Login via Government Gateway to access the Business Tax homepage</a></p>

    <p><a href="@routes.AgentController.reasonForApplication">Apply for a Unique Agent Reference</a></p>

    <h2>... or enter as</h2>
    <p>
        <a href="@routes.LoginController.enterAsJohnDensmore">John Densmore</a>
    </p>
    <p>
        <a href="@routes.LoginController.enterAsGeoffFisher">Geoff Fisher</a>
    </p>
}
