@(title: String)(content: Html)
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class=""><!--<![endif]-->
<head>
    @includes.head(title)
</head>
<body class="mainstream full-width wide home">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a href="#content" class="visuallyhidden">Skip to main content</a>

    @includes.header(title)

    <div id="wrapper" class="service">

        <div class="phase-warning beta">
            <p><b>BETA:</b> This is a prototype, designed to be simpler, clearer and faster. <a href="#">Find out more</a></p>
        </div>

        <section id="content" role="main" class="group beta">
            <div class="article-container group">
                <article role="article" class="group">
                    <div class="inner">
                        @content
                    </div>
                </article>
            </div>
        </section>
    </div>

    @includes.footer()

</body>
</html>
