@(displayBenefit: controllers.DisplayBenefit, field: Field)

@import views.formatting.Dates._
@import config.RefData._
@import org.joda.time.LocalDate

@main(title = "Your tax home") {

    <h2>Remove your company benefit</h2>
<p>Car provided by @displayBenefit.employment.employerName<br/>
Registered on @formatDate(displayBenefit.car.get.dateCarRegistered.get).<br/>
Value of car benefit: £ @displayBenefit.benefit.grossAmountToString()</p>

<p>If @displayBenefit.employment.employerName have stopped providing you with a company car, you can remove the car from your taxable benefits.</p>

<p>Removing your company car and fuel benefit will increase your Personal Allowance by £9999.
    Your new Personal Allowance will be £9999.
    This means we will need to issue you with a new tax code.</p>

<form method="POST">
    <p>
        <div @if(field.error.isDefined){ class="error-notification" }>
    <label>
        Date you gave back the car:
        <input type="date" name="return_date" placeholder="@shortDate(LocalDate.now)">
        @field.error.map { error =>
        <p>Invalid Date: Use format YYYY-MM-DD, e.g. @shortDate(LocalDate.now)</p>
        }
    </label>
    </div>
        </p>
    <p>
    <label>@displayBenefit.employment.employerName no longer provide me with a company car. </br>
        <input type="submit" value="Confirm" />
    </label>
    </p>

</form>

}

