@(errors:Map[String, Seq[String]] = Map[String, Seq[String]]())

@main(title = "Log in to Self Assessment (SA) via Government Gateway") {

    <form action="@routes.LoginController.ggwLogin" method="POST">
        <label for="userId">Government Gateway user ID<input type="text" id="userId" name="userId" /></label>

        @errors.get("userId").map{ errorMessage =>
            <p class="error userId">Invalid user ID: @errorMessage</p>
        }

        <label for="password">Government Gateway password<input type="password" id="password" name="password" /></label>

        @errors.get("password").map{ errorMessage =>
            <p class="error password">Invalid password: @errorMessage</p>
        }
        <input type="submit" value="Log in"/>

        @errors.get("global").map{ errorMessage =>
            <p class="error password">@errorMessage</p>
        }
    </form>

}
