@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@(form: play.api.data.Form[_], title: String)(implicit messages: Messages)

@if(form.hasErrors) {
    <div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            @title
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list" id="qa-error-summary-list">
            @for(error <- form.errors) {
                @for(m <- error.messages) {
                    <li><a href="#error-@error.key" class="govuk-link">@Messages(s"${m}.error", error.args:_*).capitalize</a></li>
                }
            }
            </ul>
        </div>
    </div>
}