@()(implicit request: Request[_])

@main(title = "Your email address has been verified", footerLinks=None) {

<header class="page-header">
    <h1 id="success-heading">@Messages("sa_printing_preference.verification.heading")</h1>
</header>

<p>@Messages("sa_printing_preference.verification.paragraph.1")</p>
<p id="hmrc-update">@Messages("sa_printing_preference.verification.paragraph.2")</p>
<p>@Messages("sa_printing_preference.verification.paragraph.3")</p>
<ol>
    <li>@Messages("sa_printing_preference.verification.action_list.1")</li>
    <li>@Messages("sa_printing_preference.verification.action_list.2")</li>
</ol>


}