@()(implicit request: Request[_])
@import uk.gov.hmrc.urls.Link

@main(title = "Email address already verified", navTitle = "", navLinks = HtmlFormat.empty) {
<header class="page-header">
    <h1 id="failure-heading">@Messages("sa_printing_preference.verification.heading.already")</h1>
</header>
<p id="success-message">@Messages("sa_printing_preference.verification.already.paragraph.1")</p>
<p id="link-to-home">@Link.toInternalPage(
    url = controllers.ExternalUrls.businessTaxHome,
    value = Some(Messages("sa_printing_preference.verification.action"))
    ).toHtml</p>
}
