@main(title = "Your details - This email address has already been verified", footerLinks=None, logout=Call("GET", controllers.sa.prefs.ExternalUrls.survey)) {
<header class="page-header">
    <h1>This email address has already been verified</h1>
</header>

<h2 id="failureHeading">This email address has already been verified.</h2>

<p id="failureMessage">@Messages("sa_printing_preference.verification.paragraph.1")</p>
<p id="failureMessage">@Messages("sa_printing_preference.verification.paragraph.2")</p>
<p id="failureMessage">@Messages("sa_printing_preference.verification.paragraph.3")</p>
<ol>
    <li>@Messages("sa_printing_preference.verification.action_list.1")</li>
    <li>@Messages("sa_printing_preference.verification.action_list.2")</li>
</ol>

}
