@(emailAddress: uk.gov.hmrc.emailaddress.EmailAddress, token: controllers.sa.prefs.Token, redirectUrl: com.netaporter.uri.Uri)(implicit request: Request[_])

@import uk.gov.hmrc.common.crypto.Encrypted
@main(title = "My Preferences", footerLinks=None, logout=Call("GET", controllers.sa.prefs.ExternalUrls.survey)) {

    <h1>Sign up for email reminders</h1>

    <h2 id="emailAddress">@emailAddress</h2>

    <p>We have checked the address you have entered and we can’t validate that it is correct - are you sure it is right?</p>

    <p>Please confirm below that you are happy to continue.</p>

    @_root_.views.html.helpers.form(action = controllers.sa.prefs.external.routes.SaPrefsController.submitPrefsForm(token.encryptedToken, redirectUrl.toString)) {
        <div class="form-field">
            <p>
                <button id="email-is-correct-link" class="button" type="submit">My email is correct</button>
            </p>
        </div>
        <input type="hidden" name="opt-in" value="true" />
        <input type="hidden" name="email.main" value="@emailAddress" />
        <input type="hidden" name="email.confirm" value="@emailAddress" />
        <input type="hidden" name="emailVerified" value="true" />
    }

    <a id="email-is-not-correct-link" href="@controllers.sa.prefs.external.routes.SaPrefsController.index(token.encryptedToken, redirectUrl.toString, Some(Encrypted(emailAddress)))">No, my email address is not correct</a>

}