@()(implicit request: Request[_])

@import uk.gov.hmrc.urls.Link

@main(title = "Your email address is NOT verified") {
    <header class="page-header">
        <h1 id="failure-heading">@Messages("sa_printing_preference.verification.heading.expired")</h1>
    </header>
        <p id="link-to-home">@Link.toExternalPage(
            url = controllers.ExternalUrls.businessTaxHome,
            value = Some(Messages("sa_printing_preference.verification.action"))).toHtml
            and request a new verification link</p>
}
