@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import play.api.i18n.Messages.Implicits._
@this(
  iPage7: views.html.sa.prefs.cohorts.i_page7,
  iPage8: views.html.sa.prefs.cohorts.i_page8,
  tcPage9: views.html.sa.prefs.cohorts.tc_page9,
  reOptInPage10: views.html.sa.prefs.cohorts.reoptin_page10
)
@(emailForm: Form[_], submitPrefsFormAction: Call, cohort: controllers.internal.OptInCohort)(implicit request: AuthenticatedRequest[_], messages: Messages)

@import views.html.sa.prefs.cohorts._
@import controllers.internal._

@{cohort match {
        case IPage7 => iPage7(emailForm, submitPrefsFormAction)
        case IPage8 => iPage8(emailForm, submitPrefsFormAction)
        case TCPage9 => tcPage9(emailForm, submitPrefsFormAction)
        case ReOptInPage10 => reOptInPage10(emailForm, submitPrefsFormAction)
    }
}
