@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import play.api.i18n.Messages.Implicits._
@this(iPage: views.html.sa.prefs.cohorts.i_page, tcPage: views.html.sa.prefs.cohorts.tc_page)
@(emailForm: Form[_], submitPrefsFormAction: Call, cohort: controllers.internal.OptInCohort)(implicit request: AuthenticatedRequest[_], messages: Messages)

@import views.html.sa.prefs.cohorts._
    @import controllers.internal._

@{cohort match {
        case IPage => iPage(emailForm, submitPrefsFormAction)
        case TCPage => tcPage(emailForm, submitPrefsFormAction)
    }
}
