@()(implicit request: Request[_])
@import uk.gov.hmrc.urls.Link

@main(title = "Self Assessment terms and conditions", sidebarLinks = Some(sidebarLinks)) {

    <header class="page-header">
        <h1 id="success-heading">@Messages("sa_printing_preference.tc.heading")</h1>
    </header>

    <div class="application-notice help-notice" style="background: url(@{controllers.sa.prefs.ExternalUrls.assets}/images/icons/icon-important.png) no-repeat scroll 0 0.5em">
        <p style="margin-top: 0.15em; padding-left: 1.2em">@Messages("sa_printing_preference.tc.extract.1") <a id="full-terms-link" href="https://online.hmrc.gov.uk/information/terms">@Messages("sa_printing_preference.tc.extract.2")</a> @Messages("sa_printing_preference.tc.extract.3")</p>
    </div>

    <section class="divider--bottom">
        <h2 id="secure-mailbox">@Messages("sa_printing_preference.tc.secure_mailbox")</h2>
        <div class="separator">
            <p id="7.1">@Messages("sa_printing_preference.tc.7.1")</p>

            <p id="7.2">@Messages("sa_printing_preference.tc.7.2")</p>

            <p id="7.3">@Messages("sa_printing_preference.tc.7.3")</p>
        </div>

        <h2 id="statutory">@Messages("sa_printing_preference.tc.statutory_notices")</h2>
        <div class="separator last">
            <p id="8.1">@Messages("sa_printing_preference.tc.8.1")</p>

            <p id="8.2">@Messages("sa_printing_preference.tc.8.2.1") <a href="#7.3">7.3</a>@Messages("sa_printing_preference.tc.8.2.2")</p>

            <p id="8.3">@Messages("sa_printing_preference.tc.8.3.1") <a href="#8.2">8.2</a> @Messages("sa_printing_preference.tc.8.3.2")</p>
        </div>
    </section>
}

@sidebarLinks = {
<div class="brand-border--top" style="margin-top: 30px"></div>
<h2>Contents</h2>
<p><a id="secure-mailbox-link" href="#secure-mailbox">@Messages("sa_printing_preference.tc.secure_mailbox")</a></p>
<p><a id="statutory-link" href="#statutory">@Messages("sa_printing_preference.tc.statutory_notices")</a></p>
}
