@()(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@signoutLink = {
  <li><a id="logOutNavHref" href="/tai/signout" data-journey-click="primary-navigation:Click:Sign out">Sign out</a></li>
}

@betaBanner = {
    @uiLayouts.betaBanner(
      userLoggedIn = true,
      betaFeedbackUrl = "/contact/beta-feedback",
      betaFeedbackUnauthenticatedUrl = "/contact/beta-feedback-unauthenticated",
      showFeedbackLinkInBetaBanner = true)
}

@main(title = "", navTitle = "", navLinks = signoutLink, betaBanner = betaBanner) {

	<h1 class="email-notifications__heading">You've updated your preferences</h1>

  	<p class="email-notifications__p font-medium">You've signed up for email notifications for the 'Check your Income Tax' service.</p>

  	<div class="email-notifications__indent panel-indent">
		<p>If you don't receive any notifications, check your spam or junk folder.</p>
		<p>Add noreply@@tax.service.gov.uk to your contact list to stop this from happening.</p>
  	</div>

  	<p class="email-notifications__p">You can manage your message settings and keep your email address up to date using 'Your tax account'.</p>

 	<a href="" class="button">Check your Income Tax Estimate</a>

}
