@(emailAddress: Option[String],
  returnUrl: controllers.sa.prefs.Encrypted[String],
  tandc: Form[_],
  appConfig: controllers.sa.prefs.config.AppConfig = controllers.sa.prefs.config.YtaConfig
)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@betaBanner = {
    @uiLayouts.betaBanner(
      userLoggedIn = true,
      betaFeedbackUrl = appConfig.betaFeedbackUrl,
      betaFeedbackUnauthenticatedUrl = appConfig.betaFeedbackUnauthenticatedUrl,
      showFeedbackLinkInBetaBanner = true)
}

@main(title = Messages(s"sa_printing_preference.fg_page.title")) {

    <header class="page-header">
        <h1>Go paperless with HMRC</h1>
    </header>

    <h2>We're expanding our electronic communications</h2>
    <p>You are already receiving electronic communications instead of paper for some HMRC services. We are now expanding this service to include other areas of your tax affairs. You now need to accept the updated terms and conditions.</p>

    @form(action = controllers.sa.prefs.internal.routes.UpgradeRemindersController.upgrade(returnUrl), 'id -> "form-submit-email-address",
    'class -> "form") {
        <label class="selectable">
            <input
            id="opt-in-in"
            type="radio"
            name="opt-in"
            value="true"
            class="email-prefs__toggle"
            checked="checked"
            />
            Yes, I want to continue to receive electronic communications.
        </label>
        <fieldset class="connected">
            @emailAddress.map { emailAddress =>
                <p id="opted-in-email" class="form-hint font-small">Email address:  @emailAddress.</p>
            }

            <p>You gave us this email address to receive reminders about your message. You can change this by going to Manage Account in Your Tax Account.</p>
            <p>By signing up, you confirm that you:</p>
            <ul class="bullets">
            <li>wish to continue to receive statutory notices, decisions, estimates and reminders electronically in connection with your tax affairs.</li>
            <li>will keep your contact details up to date using "Your tax account" to make sure you receive email notifications.</li>
            </ul>
        </fieldset>
        <label class="selectable">
            <input
            id="opt-in-out"
            type="radio"
            name="opt-in"
            value="false"
            class="email-prefs__toggle"
                @if(tandc("opt-in").value == Some("false")) { checked="checked" }
            />
            No, ask me later.
        </label>
        <div class="email-form-errors">
            @tandc("opt-in").errors.map { error => <label class="error-notification">@Messages(error.message)</label>}
            @tandc.globalErrors.map { error => <label class="error-notification">@Messages(error.message)</label>}
        </div>
        <br>
        <div class="form-field">
            <button id="submitUpgrade" class="button" name="submitButton" type="submit">@Messages("sa_printing_preference.submitButton")</button>
        </div>

    }

}

