@(emailAddress: Option[String],
  returnUrl: model.Encrypted[String],
  tandc: Form[_],
  appConfig: config.AppConfig = config.YtaConfig
)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@main(title = Messages(s"sa_printing_preference.fg_page.title"), navTitle = "", navLinks = Html("")) {

    <header class="page-header">
        <h1>@Messages(s"sa_printing_preference.fg_page.title")</h1>
    </header>

    <p class="lede">We're expanding our communications.</p>
    <p>You have already chosen to receive electronic communications instead of paper for some HMRC services. We are now expanding this service to include other areas of your tax affairs. You now need to accept the updated terms and conditions.</p>

    @form(action = controllers.internal.routes.UpgradeRemindersController.submitUpgrade(returnUrl), 'id -> "form-submit-email-address",
    'class -> "form") {
        <label class="selectable">
            <input
            id="opt-in-in"
            type="radio"
            name="opt-in"
            value="true"
            class="email-prefs__toggle"
            checked="checked"
            />
            Yes, I want to continue to receive electronic communications
        </label>
        <fieldset class="connected">
            @singleCheckbox(
                tandc("accept-tc"),
                '_label -> Html(Messages("sa_printing_preference.tc.preLinkText", Link.toExternalPage(id = Some("terms-and-conditions"), url = "https://www.tax.service.gov.uk/information/terms#secure", value = Some(Messages("sa_printing_preference.tc.linkText"))).toHtml)),
                '_labelClass -> "label--inline"
            )

            @emailAddress.map { emailAddress =>
                <p id="opted-in-email" class="form-hint font-small">Email address:  @emailAddress.</p>
            }

            <p>You gave us this email address to receive notifications of messages in your secure mailbox. You can change this by going to Manage Account in your HMRC online account.</p>
            <p>By signing up, you confirm that you:</p>
            <ul class="bullets form-hint">
                <li>wish to continue to receive statutory notices, decisions, estimates and reminders electronically in connection with your tax affairs</li>
                <li>will keep your communications preferences and email address up to date using your HMRC online account to make sure you get your email notifications</li>
            </ul>
        </fieldset>
        <label class="selectable">
            <input
            id="opt-in-out"
            type="radio"
            name="opt-in"
            value="false"
            class="email-prefs__toggle"
                @if(tandc("opt-in").value == Some("false")) { checked="checked" }
            />
            No, stop sending electronic communications
        </label>
        <div class="email-form-errors">
            @tandc("opt-in").errors.map { error => <label class="error-notification">@Messages(error.message)</label>}
            @tandc.globalErrors.map { error => <label class="error-notification">@Messages(error.message)</label>}
        </div>
        <br>
        <div class="form-field">
            <button id="submitUpgrade" class="button" name="submitButton" type="submit">@Messages("sa_printing_preference.submitButton")</button>
        </div>

    }

}

