@(returnUrl: String,
  appConfig: config.AppConfig = config.YtaConfig
)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@main(title = "You're signed up", navTitle = "", navLinks = HtmlFormat.empty) {

    <h1 class="page-header">You're signed up</h1>

    <p class="lede">Moving all your communications online is a big job and will take us a while. You’ll keep getting some communications by post in the meantime.</p>

    <p>You’ll get an email telling you to log in to your online HMRC account each time we send you a message, such as a statutory notice.</p>

    <p>You can change your details at any time using 'Manage Account'.</p>


    <a href="@returnUrl" class="button">Continue</a>

}
