@(benefits: Seq[controllers.DisplayBenefit])

@import views.formatting.Dates._
@import config.RefData._

@main(title = "Your tax home") {

    <h2>Current benefits-in-kind</h2>
    <table>

        <tr>
            <th align="left" width="30%">Employment reference</th>
            <th align="left" width="15%">Benefit Type</th>
            <th align="left" width="40%">Description</th>
            <th align="left" width="15%">Cash equivalent/Taxable amount</th>
            <th>Actions</th>
        </tr>


        @for(displayBenefit <- benefits) {

            <tr>
                <td>@displayBenefit.employment.taxDistrictNumber / @displayBenefit.employment.payeNumber<br>
                    From @formatDate(displayBenefit.employment.startDate) to @formatDate(displayBenefit.employment.endDate, "present")
                </td>
                <td>@iabdTypeFor(displayBenefit.benefit.benefitType)</td>

                @displayBenefit.car.map { car =>
                    <td>
                            Engine size: @engineSizeFor(car.engineSize)<br>
                            Fuel type: @fuelTypeFor(car.fuelType)<br>
                            Date car registered: @formatDate(car.dateCarRegistered.get)<br>
                    </td>
                }.getOrElse {
                    <td>@iabdTypeFor(displayBenefit.benefit.benefitType)</td>
                }
                <td align="right" >£ @displayBenefit.benefit.grossAmountToString()</td>
                @displayBenefit.car.map { car =>
                <td>
                    <ul>
                        <li>Change</li>
                        <li><a href="@routes.PayeController.carBenefit(displayBenefit.benefit.taxYear, displayBenefit.benefit.employmentSequenceNumber)">Remove</a></li>
                </ul>
                }.getOrElse {
                <td>
                    More Information
                </td>
                }
            </tr>
            }

    </table>
}

