@(currentEmail : String, emailForm: Form[controllers.bt.EmailPreferenceData])(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.CustomHelpers._
@import helper._
@import views.helpers._

@main(title = "My preferences - Change your email address", nav = true, user= Some(user)) {

<h1>Account details</h1>

<h2> Change email address </h2>

   <p>Your current email address is <span id="current-email-address">@{currentEmail}</span></p>

    @helper.form(action = controllers.bt.routes.AccountDetailsController.submitEmailAddress) {

        <p>Email address</p>
        @helpers.input(
            emailForm("email.main"),
            '_label -> "",
            '_divClass -> "form-field",
            '_inputClass -> "input--medium",
            'parentField -> emailForm("email")
        )

        <p>Confirm email address</p>
        @helpers.input(
            emailForm("email.confirm"),
            '_label -> "",
            '_divClass -> "form-field",
            '_inputClass -> "input--medium"
        )


        <div class="form-field">
            <button id="submit-email-button" class="button" type="submit">Submit</button>
        </div>

    }

}