@(emailAddress: uk.gov.hmrc.domain.ObfuscatedEmail)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "Account details - Your email address has been changed", user = Some(user)) {

    <h1>Account Details</h1>

    <h2>Your email address has been changed</h2>

    <p>Your Self Assessment email reminders will now be sent to <span id="updated-email-address">@emailAddress</span></p>

    <p id="verification-mail-message">A verification email has been sent to this address.</p>

    <hr />

    <p>@helpers.link("return-to-dashboard-button", controllers.bt.routes.BusinessTaxController.home.url, "Return to your tax account")</p>

}