@(emailAddress: uk.gov.hmrc.domain.ObfuscatedEmail)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "Account details - Your email address has been changed", nav = true, user = Some(user)) {

    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>
    </header>
    <h2>Your email address has been changed</h2>

    <p>Your reminders will now be sent to <span id="updated-email-address">@emailAddress</span></p>

    <p>You must verify this email address to activate the service. </p>

    <p id="verification-mail-message">You’ve been sent an email telling you how to do this.</p>

        <ul class="action-list">
            <li>@helpers.link("return-to-dashboard-button", controllers.bt.routes.BusinessTaxController.home.url, "Go to your tax account")</li>
        </ul>



}