@(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "Your details - Thanks", user = Some(user), nav = true) {
    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>

        <h2>Thank you</h2>
    </header>
    <p id="verification-mail-message">You’ve been sent a verification email.</p>
    <p>Check your inbox and verify your email to activate the service.</p>

    <ul class="action-list">
        <li>@helpers.link(Some("return-to-dashboard-button"), controllers.bt.routes.BusinessTaxController.home.url, "Go to your tax account")</li>
    </ul>



}