@(currentEmail : String, emailForm: Form[controllers.bt.EmailPreferenceData])(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.CustomHelpers._
@import helper._

@main(title = "Your tax home", nav = true, user= Some(user)) {

<h1><span class="pre-heading">service</span> Account details </h1>

<h2> Change email address </h2>

   <p>
      Your current email address is <span id="currentEmailAddress">@{currentEmail}</span>
   </p>
    @helper.form(action = controllers.bt.routes.AccountDetailsController.submitEmailAddress) {

    @helpers.input(
    emailForm("email"),
    '_label -> "",
    '_divClass -> "form-field",
    '_inputClass -> "input--medium"
    )

    <div class="form-field">
        <button id="submitEmailButton" class="button" type="submit">Submit</button>
    </div>

}

}