@(accountSummaries: controllers.bt.accountsummary.AccountSummaries)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.RenderableMessageProperty.Link._
@import views.formatting.Dates._
@import config.PortalConfig
@import uk.gov.hmrc.common.PortalUrlBuilder

@main(title = "Tax overview", nav = true, sidebarLinks = Some(sidebarLinks), user= Some(user)) {

    <h1>@Messages("bt.home.title")</h1>

    @for(ac <- accountSummaries.regimes) {
        <div id="@ac.regimeName" class="account-summary">
            <h2>@Messages(ac.regimeName)</h2>

            @for(message <- ac.messages) {
                <p class="@message.messageKey">@Html(Messages(message.messageKey, message.params.map(_.render):_*))</p>
            }
                <p>
                @for(addendum <- ac.addenda) {
                 @helpers.link(addendum.id, addendum.url, addendum.text, addendum.newWindow, addendum.sso)
                 <br />
                }
            </p>
        </div>
    }

    <h2>@Messages("bt.home.otherTaxes")</h2>
    <p>@Messages("bt.home.mergeAccounts.1")</p>

    @if(accountSummaries.regimes.size != 4) {
        <p>@Html(Messages("bt.home.mergeAccounts.2"))</p>
        <p>@helpers.link("mergeGGHref", controllers.bt.routes.MergeGGAccountsController.mergeGGAccounts.url, "Merge your Government Gateway accounts")</p>
    }
    <p>
        @Messages("bt.home.everythingElse.1")
        @helpers.link("otherServicesHref", controllers.bt.routes.OtherServicesController.otherServices.url, "bt.home.everythingElse.linkText")
        @Messages("bt.home.everythingElse.2")
    </p>
}

@sidebarLinks = {
    <div class="service-info__related-subsection">

	<h2>@Messages("bt.home.sidebarLinks.title")</h2>

	<p class="service-info__help">@Messages("bt.home.sidebarLinks.info")</p>

	<nav class="service-info__navigation" role="navigation" aria-labelledby="parent-subsection">
	    <ul>
            <li>
                @helpers.link("browseTax", "https://www.gov.uk/browse/tax", "bt.home.sidebarLinks.money.text", true)
            </li>
            <li>
                @helpers.link("webminars", "http://www.hmrc.gov.uk/webinars/", "bt.home.sidebarLinks.webinars.text", true)
            </li>
            <li>
                @helpers.link("youtube", "http://www.youtube.com/hmrcgovuk", "bt.home.sidebarLinks.youtube.text", true)
            </li>
            <li>
                @helpers.link("moreLink", "https://www.gov.uk/browse/tax/self-assessment", "bt.home.sidebarLinks.more.text", true, false, "service-info__navigation__more")
            </li>
	    </ul>
	</nav>
    </div>
}
