@(emailAddress: String)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@main(title = "My Preferences - opt to receive paper notifications", user = Some(user)) {

<h1>Account details</h1>

<h2 id="email-address">@emailAddress</h2>

<p>
    You are currently opted into receiving email notifications from HMRC at the address above, we send you notifications
    when there is an action for you to complete.
</p>
<p>
    Please confirm below that you would like to opt out this email notification and instead, receive paper notifications.
</p>

@helpers.form(action = controllers.bt.routes.AccountDetailsController.confirmOptOutOfEmailReminders) {
<div class="form-field">
    <button id="confirm-opt-out" class="button" type="submit">Opt me out of digital</button>
</div>
}
@helper.form(action = controllers.bt.routes.AccountDetailsController.accountDetails) {

    @helpers.link("cancel-opt-out-link", controllers.bt.routes.AccountDetailsController.accountDetails.url, "Never mind - I want to stay digital")
}
}