@(ePayeOnlineAccountLink: views.helpers.Link)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.RenderableMessageProperty.Link._

@main(title = "Pay your Employers PAYE", nav = true, user= Some(user)) {

<h1>Pay your Employers PAYE</h1>

<div>
    <p>You can pay by Direct Debit, online or telephone banking, BACS or CHAPS.</p>
    <p>Companies with 250 or more employees must pay electronically.</p>
    <p>It’s your responsibility to make sure payments reach HM Revenue & Customs (HMRC) on time – you may have to pay a @helpers.link("contactHmrcHref", "http://www.hmrc.gov.uk/payinghmrc/cumbernauld.htm", "penalty", true) and be charged interest if they don’t.</p>
</div>

<div>
    <h2>Paying PAYE and class 1 National Insurance</h2>
    <p>You need your accounts office reference number to make a payments. You can find this on:</p>

    <ul class="bullets">
      <li>the letter HMRC sent you when you first registered as an employer</li>
        <li>the letter HMRC sends you instead of a payment booklet</li>
      <li>the front of your payment booklet if you still get one</li>
    </ul>
    <p>You have to enter the number without gaps between the characters.</p>
    <p>All end of year balancing payments must show in month 12. You can only use month 13 to pay National Insurance class 1 you owe on your P11D.</p>
</div>

<div>
    <h2>Direct Debit</h2>
    <p>Use your company’s
        @helpers.link("ePayeOnlineAccountHref1", ePayeOnlineAccountLink.url, "HMRC online account", ePayeOnlineAccountLink.newWindow, ePayeOnlineAccountLink.sso).</p>
    <p>Once the Direct Debit is set up, payments will leave your account 3 days before they’re due. They’ll show on your statements as ‘HMRC NDDS’.</p>
    <p>You can change your Direct Debit through your @helpers.link("ePayeOnlineAccountHref2", ePayeOnlineAccountLink.url, "HMRC online account", ePayeOnlineAccountLink.newWindow, ePayeOnlineAccountLink.sso).</p>
</div>

<div>
    <h2>Online with a debit or credit card</h2>
    <p>You can @helpers.link("payOnlineHref", "https://www.santanderbillpayment.co.uk/hmrc/scripts/nrpaynow.asp", "pay online", true) with a card from a UK issuer - not American Express or Diners Club.</p>
    <p>Allow 3 working days for payments to reach HMRC.</p>
    <p>There’s a 1.4% fee if you pay by credit card.</p>
</div>

<div>
    <h2>Online or telephone banking, BACS, CHAPS or standing order</h2>
    <p>Check which @helpers.link("hmrcBankAccountHref", "http://www.hmrc.gov.uk/tools/bankaccounts/p/", "HMRC bank account to use for payments", true).</p>
    <p>Very large employers who want to pay by CHAPS should
        @helpers.link("contactHmrcHref", "http://www.hmrc.gov.uk/payinghmrc/cumbernauld.htm", "contact HMRC about multiple and composite payments", true).</p>
</div>

}
