@(ctOnlineAccountLink: views.helpers.Link, ddLink: views.helpers.Link)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.RenderableMessageProperty.Link._

@main(title = "Pay your Corporation Tax", nav = true, user= Some(user)) {

<header class="page-header">
    <h1>Pay your Corporation Tax</h1>
</header>
<div id="paymentOptionsSection">
    <p>Options to pay your Corporation Tax are shown below.</p>
    <div class="application-notice info-notice">
        <p>
            It’s your responsibility to
            @helpers.link(Some("timeHref"), "https://www.gov.uk/prepare-file-annual-accounts-for-limited-company", "make sure payments reach HM Revenue and Customs (HMRC) on time", NewWindow) - you may be charged interest if they're late.
        </p>
    </div>
</div>

<div id="ctPaymentRefNumberSection">
    <h2>Your Corporation Tax payment reference number</h2>
    <p>You must use the 17-character Corporation Tax payment reference number specific to the period you're paying.</p>
    <p>
        You'll find the reference on your payslip or @helpers.link(Some("ctOnlineAccountHref"), ctOnlineAccountLink.url, "accounting period", ctOnlineAccountLink.newWindow, ctOnlineAccountLink.sso).
    </p>
    <p>Payments will be delayed if you don’t use the reference or get it wrong (@helpers.link(Some("ctReferenceHref"), "http://www.hmrc.gov.uk/tools/payinghmrc/ct.htm", "check your reference", NewWindow) is correctly formatted).</p>
</div>

<div id="directDebitSection">
    <h2>Direct Debit</h2>
    <p>@helpers.link(Some("btDirectDebitsHref"), ddLink.url, "Set up a Direct Debit", ddLink.newWindow, ddLink.sso).</p>
    <p>Allow 5 working days to process a Direct Debit the first time you set one up. After that, it's 3 working days.</p>
    <p>Payments will appear on your bank statements as "HMRC NDDS".</p>
    <p>You can also @helpers.link(Some("btDirectDebitsHref"), ddLink.url, "change or arrange a new Direct Debit", ddLink.newWindow, ddLink.sso) online. </p>
</div>

<div id="cardSection">
    <h2>Online with a debit or credit card</h2>
    <p>You can @helpers.link(Some("payOnlineHref"), "https://www.santanderbillpayment.co.uk/hmrc/scripts/nrpaynow.asp", "pay online by card", NewWindow). You must have your Corporation Tax payment reference number.</p>
    <p>Allow 3 working days for payments to reach HMRC.</p>
    <p>You must use a card issued by a UK card issuer - not American Express or Diners Club.</p>
    <p>There’s a 1.4% credit card fee.</p>
</div>

<div id="othersSection">
    <h2>Online, telephone banking, Bacs or CHAPS</h2>
    <div class="application-notice help-notice">
        <p>Check your bank’s transaction limits and processing times.</p>
    </div>
    <p>If you make a Faster Payment it will clear the same day if the amount is within your bank’s limits.</p>
    <p>The back of your payslip tells you which HMRC account to use. If you're not sure, use Cumbernauld.</p>
    <p>You must use your Corporation Tax payment reference number.</p>
    <p>If you want to pay by CHAPS, you can fill in an instruction to your bank online. CHAPS payments usually reach HMRC the same day if your bank sends them between 9am and 3pm.</p>


    <table>
        <thead>
            <tr>
                <th scope="col">Account name</th>
                <th scope="col">Sort code</th>
                <th scope="col">Account number</th>
                <th scope="col">CHAPS instruction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HMRC Cumbernauld</td>
                <td>083210</td>
                <td>12001039</td>
                <td>
                    @helpers.link(Some("chapsFormCumbernauldHref"), "http://www.hmrc.gov.uk/payinghmrc/cotaxCumbernauld.htm", "CHAPS form - Cumbernauld", NewWindow)
                </td>
            </tr>
            <tr>
                <td>HMRC Shipley</td>
                <td>083210</td>
                <td>12001020</td>
                <td>
                    @helpers.link(Some("chapsFormChipleyHref"), "http://www.hmrc.gov.uk/payinghmrc/cotaxShipley.htm", "CHAPS form - Shipley", NewWindow)
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Overseas accounts</h3>
    <p>Use the details below to pay from an overseas account.</p>

    <table>
        <thead>
        <tr>
            <th scope="col">Account name</th>
            <th scope="col">IBAN</th>
            <th scope="col">BIC</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>HMRC Cumbernauld</td>
            <td>GB74CITI08321012001039</td>
            <td>CITIGB2L</td>
        </tr>
        <tr>
            <td>HMRC Shipley</td>
            <td>GB05CITI08321012001020</td>
            <td>CITIGB2L</td>
        </tr>
        </tbody>
    </table>

    <p>If asked for the IBAN, you must also give the BIC.</p>
    <p>HMRC's banking address is Citi, Citigroup Centre, Canada Square, Canary Wharf, London E14 5LB.</p>

    <h2>Multiple CHAPS payments</h2>
    <p>To make a single payment for multiple Corporation Tax references, contact either the
        @helpers.link(Some("cumbernauldHref"), "http://www.hmrc.gov.uk/payinghmrc/cumbernauld.htm", "Cumbernauld", NewWindow) or
        @helpers.link(Some("shipleyHref"), "http://www.hmrc.gov.uk/payinghmrc/shipley.htm", "Shipley", NewWindow) accounts office. </p>
</div>

<div id="nothingToPaySection">
    <h2>Nothing to pay</h2>
    <p>You must @helpers.link(Some("nothingToPayHref"), "http://www.hmrc.gov.uk/payinghmrc/ct-nil.htm", "tell HMRC if you have nothing to pay", NewWindow).
       You will need your Corporation Tax payment reference number.</p>
</div>

<div id="moreThanOneCompanySection">
    <h2>Payments for more than 1 company</h2>
    <p>If companies in a group pay under a @helpers.link(Some("groupPaymentsHref"), "http://www.hmrc.gov.uk/ct/managing/pay-repay/group-pay.htm", "Group Payment Arrangement", NewWindow)
        HMRC will write telling you the correct payment reference.</p>
</div>
}
