@(btDirectDebitsLink: views.helpers.RenderableMessage, utr: String)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.RenderableMessageProperty.Link._

@main(title = "Pay your Self Assessment tax bill", nav = true, user= Some(user)) {

<h1 xmlns="http://www.w3.org/1999/html">Pay your Self Assessment tax bill</h1>

<div>
    <p>Pay your Self Assessment tax bill by Direct Debit, debit or credit card, budget payment plan or through your PAYE tax code.</p>

    <p>It’s your responsibility to make sure payments reach HMRC by the <a id="deadlineHref" href="http://www.gov.uk/self-assessment-tax-return-deadlines" target="_blank">deadline</a>. You may have to pay  <a id="penaltiesAndInterestHref" href="http://www.gov.uk/self-assessment-tax-returns/penalties" target="_blank">penalties and interest</a> if it’s late.</p>

    <p/>You need your Self Assessment Reference number, known as Unique Taxpayer Reference number (UTR) <span class="utr">@utr</span>.</p>
</div>

<div>
    <h2>Direct Debit</h2>

    <p>Set up a Direct Debit through your company’s @{btDirectDebitsLink.set(ID, "btDirectDebitsHref1").set(TEXT, "HMRC online account").render}.</p>

    <p>Allow 5 working days to process a Direct Debit the first time you set one up. After that, it’s 3 working days.</p>

    <p>Payments will appear on your bank statements as “HMRC NDDS”.</p>

    <p>To make changes to a Direct Debit or arrange new payment use your @{btDirectDebitsLink.set(ID, "btDirectDebitsHref2").set(TEXT, "HMRC online account").render}.</p>

    <h3>Flexible payments</h3>

    <p>You can make flexible payments if you’re on a ‘budget payment plan’. It lets you:</p>
    <ul class="bullets">
        <li>decide how much to pay each week or month</li>
        <li>stop paying for up to 6 months</li>
    </ul>

    <p>Set up a budget payment plan using your @{btDirectDebitsLink.set(ID, "btDirectDebitsHref3").set(TEXT, "HMRC online account").render} - you must be up-to-date with your payments and pay by Direct Debit.</p>

    <p>If the total you’ve paid during the year doesn’t cover your bill in full, you’ll have to pay the difference.</p>
</div>


<div>
    <h2>Online with a debit or credit card</h2>

    <p>You can <a id="payOnlineHref" href="https://www.santanderbillpayment.co.uk/hmrc/scripts/nrpaynow.asp" target="_blank">pay online</a>. You need your UTR <span class="utr">@utr</span></p>

    <p>You must use a card from a UK card issuer - not American Express or Diners Club.  Allow 3 working days for payments to reach HMRC.</p>

    <p>There’s a 1.4% fee if you pay by credit card.</p>
</div>


<div>
    <h2>Online or telephone banking, BACS, CHAPS or standing order</h2>

    <p>Check your bank’s transaction limits and processing times.</p>

    <p>Your payslip tells you which HMRC account to use. If you’re not sure, use HMRC Cumbernauld.</p>

    <p>You must use your UTR as the payment reference. <span class="utr">@utr</span>.</p>

    <table>
        <thead>
        <tr>
            <th>Sort code</th>
            <th>Account number</th>
            <th>Account name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>083210</td>
            <td>12001039</td>
            <td>HMRC Cumbernauld</td>
        </tr>
        <tr>
            <td>083210</td>
            <td>12001020</td>
            <td>HMRC Shipley</td>
        </tr>
        </tbody>
    </table>

    <h3>Overseas accounts</h3>

    <p>If you're paying from an overseas account use the details as below.</p>

    <table>
        <thead>
        <tr>
            <th>Account name</th>
            <th>IBAN</th>
            <th>BIC</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>HMRC Cumbernauld</td>
            <td>GB74CITI08321012001039</td>
            <td>CITIGB2L</td>
        </tr>
        <tr>
            <td>HMRC Shipley</td>
            <td>GB05CITI08321012001020</td>
            <td>CITIGB2L</td>
        </tr>
        </tbody>
    </table>

    <p>If asked for the IBAN, you must also give the BIC.</p>

    <p>HMRC’s banking address is Citi, Citigroup Centre, Canada Square, Canary Wharf, London E14 5LB.</p>
</div>

<div>
    <h2>Your PAYE tax code</h2>
    <p>You may be able to <a id="payeTaxCodeHref" href="http://www.hmrc.gov.uk/payinghmrc/" target="_blank">pay your Self Assessment tax bill through your PAYE tax code</a> (Pay As You Earn) if you owe less than £3,000. The tax you owe is deducted from your salary or pension.</p>
</div>

}
