@(deEnrolLink: views.helpers.Link, enrolLink: views.helpers.Link)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.RenderableMessageProperty.Link._
@import views.formatting.Dates._
@import config.PortalConfig
@import uk.gov.hmrc.common.PortalUrlBuilder

@main(title = "Merge your Government Gateway accounts", nav = true, user= Some(user)) {

    <h1><span class="pre-heading">service</span>@Messages("bt.mergeggaccount.title")</h1>

    <p>@Messages("bt.mergeggaccount.text.1")</p>

    <ol>
        <li>@Messages("bt.mergeggaccount.step1")</li>
        <li>@Messages("bt.mergeggaccount.step2")</li>
        <li>@helpers.link("deEnrolHref", deEnrolLink.url, "Remove the tax from the account you don't want to use anymore", deEnrolLink.newWindow, deEnrolLink.sso)</li>
        <li>
            @Messages("bt.mergeggaccount.step4")
            @helpers.link("enrolHref", enrolLink.url, "bt.mergeggaccount.step4.linkText", enrolLink.newWindow, enrolLink.sso)
        </li>
        <li>@Messages("bt.mergeggaccount.step5")</li>
    </ol>

    <p>
        @{Html(Messages("bt.mergeggaccount.lostGgNumbers"))}
        @helpers.link("getGGBackHref", "https://online.hmrc.gov.uk/user/credentials/userid", "bt.mergeggaccount.lostGgNumbers.linkText", true).
    </p>

    <p>
        @Messages("bt.mergeggaccount.contact.1")
        @helpers.link("onlineHelpHref", "http://hmrc.gov.uk/online/problem-resolution.htm", "bt.mergeggaccount.contact.2.linkText", true).
        @Messages("bt.mergeggaccount.contact.3")
    </p>

}