@(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "My Preferences", user = Some(user)) {

    <h1>Account Details</h1>

    <h2>Your preferences have been updated.</h2>

    <p>
        We have updated your account and you will now receive paper notifications from HMRC.
    </p>
    <p>
        Remember, you can opt into email notifications at any time by clicking on the link in the 'My Account' section of the site.
    </p>
    <hr />

    <p><a id="homepageLink" class="button" href="@controllers.bt.routes.BusinessTaxController.home">Return to your tax account</a></p>

}