@(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "My Preferences", nav = true, user = Some(user)) {
    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>

        <h2>Thank you</h2>
    </header>
    <p>You’ll now get your Self Assessment reminders in the post.</p>
    <p>You can now sign up for email reminders again at any time</p>

    <p>@helpers.link(Some("return-to-dashboard-button"), controllers.bt.routes.BusinessTaxController.home.url, "Go to your tax account", false, false)</p>

}