@(linksO : Option[List[views.helpers.Link]])(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.Link
@import views.helpers.NoSso
@import config.PortalConfig

@main(title = "Other taxes", nav = true, user= Some(user)) {
<header class="page-header">
    <h1>Other taxes </h1>
</header>
<p>
    To see your other taxes here you must be registered for the tax and enrolled for the online service.
</p>
<p>
    If you've done this and your taxes aren't displayed below you may have different Government Gateway accounts for them. You'll need to merge these accounts.<br>
    @Link.toInternalPage(
        id = Some("mergeGGHref"),
        url = controllers.bt.routes.MergeGGAccountsController.mergeGGAccounts.url,
        value = Some("Merge your Government Gateway accounts"
    )).toHtml.
</p>

@linksO.map { links =>
<div id="manageYourTaxesSection">
    <h2>Manage your other taxes</h2>
    @if(links.isEmpty) {
    <p id="noOtherServices">There are no other taxes.</p>
    }else{
    <p id="availableServices">
        @for(link <- links){
            @link.toHtml
            @if(link.sso == NoSso) { @Messages("otherservices.manageTaxes.postLink.additionalLoginRequired") }
            <br>
        }
    </p>
    }
</div>
}

<div>
    <h2>Get online access</h2>
    <p>You must already be registered for a tax to get online access to it.<br>
            @Link.toPortalPage(
                url = PortalConfig.getDestinationUrl("otherServicesEnrolment"),
                id = Some("other-services-enrolment"),
                value = Some("Enrol for other services")
            ).toHtml.
    </p>
</div>
<div>
    <h2>Stop using an online service</h2>
    <p>To stop using one of the online services you can
            @Link.toPortalPage(
                url = PortalConfig.getDestinationUrl("servicesDeEnrolment"),
                id = Some("other-services-deenrolment"),
                value = Some("remove it")
            ).toHtml.
    </p>
</div>
<div>
    <h2 id="registration-heading">Register for new business taxes</h2>

    @controllers.bt.otherservices.OtherServicesFactory.createRegistrationText(user).map { registrationText =>

            <p>
                @Link.toPortalPage(
                    id = Some("business-registration"),
                    url = PortalConfig.getDestinationUrl("businessRegistration"),
                    value = Some(registrationText)
                ).toHtml
            </p>
            <p id="registration-message">
                You can’t use this service if you’re setting up a limited liability partnership or you’re not the 'nominated partner'
                in a self-employed business partnership. There are also a few other situations when you’ll need to register a different way.
    }.getOrElse {
            <p id="registration-generic-message">
    }

            Find out about <span id="hmrcWebsiteLink">@Link.toExternalPage(id = Some("hmrc-website"), url = "http://www.hmrc.gov.uk/online/new.htm#2", value = Some("registering for taxes")).toHtml</span>.
        </p>

</div>


}