@(emailForm: Form[controllers.common.domain.EmailPreferenceData])(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@import views.helpers.CustomHelpers._
@import helper._

@main(title = "Sign up for Self Assessment email reminders", user = Some(user)) {

    <header class="page-header">
        <h1>@Messages("sa.heading.signup.emailreminders")</h1>
    </header>

    <p>@Messages("sa_printing_preference.paragraph.1")</p>
    <ul class="bullets">
        <li>@Messages("sa_printing_preference.list.1.item.1")</li>
        <li>@Messages("sa_printing_preference.list.1.item.2")</li>
        <li>@Messages("sa_printing_preference.list.1.item.3")</li>
    </ul>
    <p>@Messages("sa_printing_preference.paragraph.2")</p>

    <h2>What’s in the email</h2>
    <p>@Messages("sa_printing_preference.paragraph.3")</p>

    <p>@Messages("sa_printing_preference.paragraph.4")</p>

    <p>@Messages("sa_printing_preference.paragraph.5")</p>

    @helpers.form(action = controllers.bt.prefs.routes.BizTaxPrefsController.submitPrefsForm, 'id -> "form-submit-preferences-email") {

	@helpers.input(
	    emailForm("email.main"),
        '_label -> "Email address",
        '_labelHighlight -> true,
	    '_divClass -> "form-field",
	    '_inputClass -> "input--medium input--cleared",
        'parentField -> emailForm("email")
	)


    @helpers.input(
        emailForm("email.confirm"),
        '_label -> "Confirm email address",
        '_labelHighlight -> true,
        '_divClass -> "form-field",
        '_inputClass -> "input--medium input--cleared"
    )

    <p class="form-field">@Messages("sa_printing_preference.paragraph.6.start")&nbsp;<a href="@controllers.common.routes.CommonController.termsAndConditions()" target="_blank">@Messages("sa_printing_preference.paragraph.6.linkText")</a>.</p>

	<div class="form-field">
            <button id="submitEmailButton" class="button" type="submit">@Messages("sa_printing_preference.submitButton")</button>
	</div>

    }

    @helpers.form(action = controllers.bt.prefs.routes.BizTaxPrefsController.submitKeepPaperForm, 'id -> "form-submit-keep-paper") {
	<p class="form-field">
        <input id="keep-paper-link" class="input--link" type="submit" value="@Messages("sa_printing_preference.cancelButton")" />
    </p>
    }

}
