@(emailForm: Form[controllers.bt.prefs.EmailPreferenceData])(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.CustomHelpers._
@import helper._

@main(title = "My Preferences", user = Some(user)) {

    <h1>Sign up for email reminders</h1>

    <p>You can soon get Self Assessment email reminders when:</p>
    <ul class="bullets">
        <li>tax returns are due</li>
        <li>payments are due</li>
        <li>new tax statements are online</li>
    </ul>
    <p>Email reminders will replace letters you currently get about these updates from HMRC.</p>

    <h2>What’s in the email</h2>
    <p>The reminders will ask you to log into your online tax account and check for updates.</p>

    <p>They're secure and will never include any information about your personal tax affairs.</p>

    <p>Enter your email address to sign up for email reminders.</p>

    @helper.form(action = controllers.bt.prefs.routes.SaPrefsController.submitPrefsForm) {

	@helpers.input(
	    emailForm("email"),
            '_label -> "",
	    '_divClass -> "form-field",
	    '_inputClass -> "input--medium"
	)

	<div class="form-field">
            <button class="button" type="submit">Submit</button>
	</div>

    }

    @helper.form(action = controllers.bt.prefs.routes.SaPrefsController.submitKeepPaperForm) {
	<p><input id="keepPaperLink" class="input--link" type="submit" value="No thanks, I don’t want to switch to email" /></p>
    }

}
