@(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "Sign up for email reminders", user = Some(user)) {

   <header class="page-header">
       <h1>@Messages("sa.heading.signup.emailreminders")</h1>

        <h2>Thank you</h2>
   </header>

    <p>You must verify your email address to activate this service.</p>

    <p>You’ve been sent an email telling you how to do this.</p>

    <p>HM Revenue & Customs will never put personal information in an email.</p>

    <p>Always go to GOV.UK to sign in to your account.</p>

    <p>@helpers.link(Some("sa-home-link"), controllers.bt.routes.BusinessTaxController.home.url, "Go to your tax account", false, false, Some("button"))</p>

}