@(emailAddress: String)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "My Preferences", user = Some(user)) {

    <h1>Sign up for email reminders</h1>

    <h2 id="emailAddress">@emailAddress</h2>

    <p>We have checked the address you have entered and we can't validate that it is correct - are you sure it is right?</p>

    <p>Please confirm below that you are happy to continue.</p>

    @helper.form(action = controllers.bt.prefs.routes.SaPrefsController.submitPrefsForm) {
        <div class="form-field">
            <button id="emailIsCorrectLink" class="button" type="submit">My email is correct</button>
        </div>
        <input type="hidden" name="email" value="@emailAddress" />
        <input type="hidden" name="emailVerified" value="true" />
    }

    <a id="emailIsNotCorrectLink" href="@controllers.bt.prefs.routes.SaPrefsController.displayPrefsForm(Some(emailAddress))">No, my email address is not correct</a>

}