@(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@main(title = "My Preferences", user = Some(user)) {

    <h1>Sign up for email reminders</h1>

    <h2>Thank you</h2>

    <p>We’ve sent you an email to activate the service.</p>

    <p>Follow the instructions in the email to verify your email address.</p>

    <p>HMRC will never put personal information in an email.<br>Always go to GOV.UK to log in to your tax account.</p>

    <p><a class="button" href="@controllers.bt.routes.BusinessTaxController.home">Go to your tax account</a></p>

}