@(emailAddress: String)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@import views.helpers.Link
@import uk.gov.hmrc.common.crypto.Decrypted

@main(title = "Sign up for email reminders", user = Some(user)) {
   <header class="page-header">
       <h1>@Messages("sa.heading.signup.emailreminders")</h1>

        <h2>Check your email address</h2>
   </header>
    <p>Are you sure <span id="emailAddress">@emailAddress</span> is correct?</p>


    @helpers.form(action = controllers.bt.prefs.routes.BizTaxPrefsController.submitPrefsForm, 'id -> "form-submit-preferences-verify-email") {
        <div class="form-field">
            <button id="email-is-correct-link" class="button" type="submit">The email is correct</button>
        </div>
        <input type="hidden" name="email.main" value="@emailAddress" />
        <input type="hidden" name="email.confirm" value="@emailAddress" />
        <input type="hidden" name="emailVerified" value="true" />
    }

    @Link.toInternalPage(id = Some("email-is-not-correct-link"), url = controllers.bt.prefs.routes.BizTaxPrefsController.displayPrefsForm(Some(Decrypted(emailAddress))).url, value = Some("Change this email address")).toHtml

}