@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.channelpreferencesfrontend.controllers.routes.LanguageSwitchController._
@import uk.gov.hmrc.channelpreferencesfrontend.config.AppConfig
@import uk.gov.hmrc.channelpreferencesfrontend.models.Language
@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcLanguageSelect
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.language.LanguageSelect

@this(hmrcLanguageSelect: HmrcLanguageSelect)

@()(implicit messages: Messages, appConfig: AppConfig)
@hmrcLanguageSelect(LanguageSelect(
    if (messages.lang.code == "cy") Cy else En,
    (En, selectLanguage(Language.English).url),
    (Cy, selectLanguage(Language.Cymraeg).url)
))

