$govuk-assets-path: "/paperless/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/paperless/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-heading-xl {
  word-break: break-word;
}

.button-as-link,
.button-as-link:hover {
  background: none!important;
  border: none;
  padding: 0!important;
  margin-bottom: 0;
  color: #1d70b8;
  box-shadow: none;
  vertical-align: baseline!important;
  text-decoration: underline;
  line-height: 1em;
  cursor: pointer;
  width: auto;
}

.skip-link,
.skip-link:link,
.skip-link:visited,
.skip-link:active,
.skip-link:hover {
  color: #1d70b8!important;;
  text-decoration: none!important;;
  background: none!important;;
  box-shadow: none!important;;

  &:hover,
  :focus {
    text-decoration: underline!important;;
  }
}