@(email: String)(implicit context: Option[uk.gov.hmrc.play.frontend.auth.AuthContext], request: Request[_], hostContext: hostcontext.HostContext)

@import uk.gov.hmrc.urls.Link

@main(title = "Manage account - Verification email sent") {
    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>

        <h2>Verification email sent</h2>
    </header>
    <p id="verification-mail-message">A new email has been sent to @email. Click on the link in the email to verify your email address with HMRC.</p>

    <ul class="action-list">
        <li>@Link.toInternalPage(id = Some("return-to-dashboard-button"), url = hostContext.returnUrl, value = Some(hostContext.returnLinkText)).toHtml</li>
    </ul>
}