@import org.joda.time.DateTime
@(currentEmail : String, emailForm: Form[_])(implicit context: Option[uk.gov.hmrc.play.frontend.auth.AuthContext], request: Request[_], messages: Messages, hostContext: model.HostContext)

@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.play.views.html.helpers._

@main_with_headers(title = Messages("account.details.update.email.title")) {

    <header class="page-header">
        <h1>@Messages("account.details.update.email.title")</h1>
    </header>
   <p>@Messages("account.details.update.email.sent_to") <span id="current-email-address">@{currentEmail}.</span></p>

    @form(action = controllers.internal.routes.ManagePaperlessController.submitChangeEmailAddress(hostContext), 'id -> "form-submit-email-address") {
        <fieldset>
        @input(
            emailForm("email.main"),
            '_label -> Messages("account.details.update.email.new"),
            '_divClass -> "form-field",
            '_inputClass -> "input--medium input--cleared",
            '_type -> "email",
            'parentField -> emailForm("email")
        )
        @input(
            emailForm("email.confirm"),
            '_label -> Messages("account.details.update.email.confirm"),
            '_divClass -> "form-field",
            '_type -> "email",
            '_inputClass -> "input--medium input--cleared"
        )
        </fieldset>

        <div class="form-field">
            <button id="submit-email-button" class="button" type="submit">@Messages("account.details.update.email.submit.text")</button>
            <p>@Link.toInternalPage(id = Some("cancel-link"), url = hostContext.returnUrl, value = Some(Messages("cancel.text"))).toHtml</p>
        </div>
    }
}