@(currentEmail : String, emailForm: Form[_])(implicit user: uk.gov.hmrc.common.microservice.domain.User, request: Request[_])

@main(title = "Your details - Change your email address", nav = true, user= Some(user)) {

    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>

        <h2>Change  your email address</h2>
    </header>
   <p>Your reminders are sent to <span id="current-email-address">@{currentEmail}.</span></p>

    @helpers.form(action = controllers.sa.prefs.internal.routes.AccountDetailsController.submitEmailAddress, 'id -> "form-submit-email-address") {
        <fieldset>
        @helpers.input(
            emailForm("email.main"),
            '_label -> "New email address",
            '_divClass -> "form-field",
            '_inputClass -> "input--medium input--cleared",
            'parentField -> emailForm("email")
        )
        @helpers.input(
            emailForm("email.confirm"),
            '_label -> "Confirm email address",
            '_divClass -> "form-field",
            '_inputClass -> "input--medium input--cleared"
        )
        </fieldset>

        <div class="form-field">
            <button id="submit-email-button" class="button" type="submit">Confirm new email address</button>
        </div>

    }

}