@(user: Option[uk.gov.hmrc.common.microservice.domain.User], redirectUrl: String, cohort: controllers.sa.prefs.internal.EmailOptInCohorts.Cohort)

@import views.helpers.Link

@main(title = Messages(s"sa_printing_preference.title"), headerNav = Some(views.helpers.HeaderNav.yta), userLoggedIn = user.isDefined) {

<header class="page-header">
    <h1>@Messages(s"sa_printing_preference.heading")</h1>

    <h2>@Messages("sa_printing_preference_confirm.heading.2")</h2>
</header>

<p>@Messages("sa_printing_preference_confirm.paragraph.1")</p>

<p>@Messages("sa_printing_preference_confirm.paragraph.2")</p>

<p>
    @Link.toInternalPage(
        id = Some("sa-home-link"),
        url = redirectUrl,
        value = Some(Messages("sa_printing_preference_confirm.linkText")),
        cssClasses = Some("button")
    ).toHtml
</p>


}