@(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.helpers.Link

@main(title = "Your details - Thanks", user = Some(user), nav = true) {
    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>

        <h2>Thank you</h2>
    </header>
    <p id="verification-mail-message">You’ve been sent a verification email.</p>
    <p>Check your inbox and verify your email address to complete the sign up process.</p>

    <ul class="action-list">
        <li>@Link.toInternalPage(id = Some("return-to-dashboard-button"), url = controllers.sa.prefs.businessTaxHome, value = Some("Go to your tax account")).toHtml</li>
    </ul>



}