@(cohort: controllers.internal.OptInCohort, email: Option[uk.gov.hmrc.emailaddress.EmailAddress])(implicit request: Request[_], messages: Messages, hostContext: model.HostContext)

@import uk.gov.hmrc.urls.Link

@main_with_headers(title = Messages("sa_printing_preference_confirm.title")){
    <header class="page-header">
        <h1>@Messages("sa_printing_preference_confirm.heading")</h1>
    </header>

    <p>@Messages("sa_printing_preference_confirm.paragraph", email.getOrElse("your email address"))</p>

    <p>
        @Link.toInternalPage(
            id = Some("sa-home-link"),
            url = hostContext.returnUrl,
            value = Some(hostContext.returnLinkText)
        ).toHtml
    </p>
}