@(user: Option[uk.gov.hmrc.play.frontend.auth.User], redirectUrl: String, cohort: controllers.sa.prefs.internal.OptInCohort, email: Option[uk.gov.hmrc.emailaddress.EmailAddress])(implicit request: Request[_])

@import uk.gov.hmrc.urls.Link

@main(title = Messages("sa_printing_preference_confirm.title"), headerNav = Some(views.html.YtaHeaderNav()), userLoggedIn = user.isDefined) {

<header class="page-header">
    <h1>@Messages("sa_printing_preference_confirm.heading")</h1>

    <h2>@Messages("sa_printing_preference_confirm.heading.2")</h2>
</header>

<p>@Messages("sa_printing_preference_confirm.paragraph", email.getOrElse("your email address"))</p>

<p>
    @Link.toInternalPage(
        id = Some("sa-home-link"),
        url = redirectUrl,
        value = Some(Messages("sa_printing_preference_confirm.linkText"))
    ).toHtml
</p>


}