@(emailAddress: uk.gov.hmrc.domain.ObfuscatedEmail)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@import views.helpers.Link

@main(title = "Your details - opt to receive paper notifications", user = Some(user), nav = true) {

    <header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>

        <h2>Stop your email reminders </h2>
    </header>

<p>
    Your Self Assessment reminders will be sent in the post.
</p>

@helpers.form(action = controllers.sa.prefs.routes.AccountDetailsController.confirmOptOutOfEmailReminders) {
<div class="form-field">
    <button id="confirm-opt-out" class="button" type="submit">@Messages("bt.account.stopreminders")</button>
</div>
}
@helper.form(action = controllers.sa.prefs.routes.AccountDetailsController.accountDetails) {
    <p class="form-field">
        @Link.toInternalPage(id = Some("cancel-opt-out-link"), url = controllers.sa.prefs.routes.AccountDetailsController.accountDetails.url, value = Some("Don’t stop your email reminders")).toHtml
    </p>
}
}