@(emailAddress: uk.gov.hmrc.emailaddress.ObfuscatedEmailAddress)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@import uk.gov.hmrc.urls.Link
@import uk.gov.hmrc.play.views.html.helpers._

@main(title = "Your details - Stop your Self Assessment email reminders", headerNav = Some(views.html.YtaHeaderNav()), userLoggedIn = true) {


<header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>
        <h2>Stop your email reminders</h2>
    </header>

<p>Your Self Assessment reminders will be sent in the post.</p>

@form(action = controllers.sa.prefs.internal.routes.AccountDetailsController.confirmOptOutOfEmailReminders) {
<div class="form-field">
    <button id="confirm-opt-out" class="button" type="submit">@Messages("bt.account.stopreminders")</button>
</div>
}
@form(action = play.api.mvc.Call("GET", controllers.sa.prefs.ExternalUrls.accountDetails)) {
    <p class="form-field">
        @Link.toInternalPage(id = Some("cancel-opt-out-link"), url = controllers.sa.prefs.ExternalUrls.accountDetails, value = Some("Don’t stop your email reminders")).toHtml
    </p>
}
}