@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import uk.gov.hmrc.play.views.html.helpers._
@import views.sa.prefs.helpers.DateFormat.longDateFormat
@import controllers.internal.routes._

@import uk.gov.hmrc.urls.Link

@this(externalUrlPrefixes: ExternalUrlPrefixes, digitalTrueLinks: digital_true_links, mainWithHeaders: views.html.main_with_headers)

@(emailPref: connectors.EmailPreference)(implicit request: AuthenticatedRequest[_], messages: Messages, hostContext: model.HostContext)

@changeEmailAddressLink = @{externalUrlPrefixes.pfUrlPrefix + controllers.internal.routes.ManagePaperlessController.displayChangeEmailAddress(None, hostContext).url}

@mainWithHeaders(title = Messages("manage.paperless.email.notification.header")) {

    <h1 class="govuk-heading-xl">@Messages("manage.paperless.email.delivery.failed.header", emailPref.email)</h1>

    <p class="govuk-body">@Messages("manage.paperless.email.delivery.failed.para1")</p>

    <p class="govuk-body"><strong>@Messages("manage.paperless.email.delivery.failed.sub-header")</strong></p>

    <p class="govuk-body">@Messages("manage.paperless.email.delivery.failed.options"):</p>

    <ul class="list list-bullet govuk-body">
         <li>@Messages("manage.paperless.email.delivery.failed.check.account.text")&nbsp;<a href="@changeEmailAddressLink">@Messages("manage.paperless.email.delivery.failed.confirm.email.link.text")</a></li>
         <li><a href="@changeEmailAddressLink">@Messages("manage.paperless.email.delivery.failed.change.email.link.text")</a></li>
    </ul>

    <p class="govuk-body">
         @Link.toInternalPage(
             cssClasses=Some("govuk-button"),
             id = Some("sa-home-link"),
             url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url,
             value = Some(Messages("manage.paperless.check.settings.linkText"))
         ).toHtml
    </p>
}

