@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@this(govukWrapper: views.html.govuk_wrapper, ytaConfig: config.YtaConfig)
@(pageTitle: String, heading: String, message: String)(implicit request: AuthenticatedRequest[_], messages: Messages)

@contentHeader = {
    <h1>@heading</h1>
}

@mainContent = {
    <p>@message</p>
}

@govukWrapper(appConfig = ytaConfig, title = pageTitle, navTitle = "", contentHeader = Some(contentHeader), mainContent = mainContent)
