@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import uk.gov.hmrc.play.views.html.helpers._
@import uk.gov.hmrc.urls.Link
@import views.sa.prefs.helpers.DateFormat.longDateFormat

@this(externalUrlPrefixes: ExternalUrlPrefixes,
    digitalTrueLinks: digital_true_links,
    mainWithHeaders: views.html.main_with_headers,
    govukButton: GovukButton)

@(emailPref: connectors.EmailPreference)(implicit request: AuthenticatedRequest[_], messages: Messages, hostContext: model.HostContext)

@resendVerificationEmailLink = @{externalUrlPrefixes.pfUrlPrefix + controllers.internal.routes.ManagePaperlessController.resendVerificationEmail(hostContext).url}
@changeEmailAddressLink = @{externalUrlPrefixes.pfUrlPrefix + controllers.internal.routes.ManagePaperlessController.displayChangeEmailAddress(None, hostContext).url}

@mainWithHeaders(title = Messages("manage.paperless.email.notification.header")) {

 <h1 class="govuk-heading-xl">@Messages("manage.paperless.email.notification.verify.header")</h1>

 <p class="govuk-body">@Html(Messages("manage.paperless.email.para.below.header"))</p>

 <p class="govuk-body">@Messages("manage.paperless.email.search.email.for")</p>

 @form(action = play.api.mvc.Call("POST", resendVerificationEmailLink)) {
   <p class="govuk-body">@Messages("message.paperless.email.request.new.email.text")
        @govukButton(Button(
            name = Some("submitButton"),
            inputType = Some("submit"),
            content = Text(Messages("message.paperless.email.request.new.email.link")),
            attributes = Map(
                "id" -> "resend-email-button",
                "data-journey-click" -> "self-assessment-preferences-page:Click:Send a new verification email"
            )
        ))
   </p>
 }
<p class="govuk-body">@Messages("message.paperless.email.request.if.you.want.text") <a class="govuk-link" href=@changeEmailAddressLink>@Messages("message.paperless.email.request.if.you.want.link")</a></p>

<p class="govuk-body"><strong>@Messages("manage.paperless.email.use.header")</strong></p>

<p class="govuk-body">@Messages("manage.paperless.email.use.explanation")</p>

<p id="link-to-home" class="govuk-body">
 @Link.toInternalPage(id = Some("go-to-cys"), cssClasses = Some("govuk-button"), url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url, value = Some(Messages("manage.paperless.email.button"))).toHtml
</p>
}

