@import play.api.i18n.Messages.Implicits._
@(title: String,
        navTitle: String = "",
        betaBanner: Html = HtmlFormat.empty,
        sidebarLinks: Option[Html] = None,
        contentHeader: Option[Html] = None,
        bodyClasses: Option[String] = None,
        mainClass: Option[String] = None)(mainContent: Html)(implicit authContext: Option[uk.gov.hmrc.play.frontend.auth.AuthContext] = None, request: Request[_], lang:Lang, messages: Messages)

    @main(
        title = title,
        navTitle = Some(navTitle),
        navLinks = Some(views.html.includes.header_nav_links()),
        betaBanner = betaBanner,
        sidebarLinks = sidebarLinks,
        contentHeader = contentHeader,
        bodyClasses = bodyClasses,
        mainClass = mainClass
    )(mainContent = mainContent)