@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import play.twirl.api.HtmlFormat
@import play.api.i18n.Messages.Implicits._
@this(mainTemplate:main, headerNavLinks : views.html.includes.header_nav_links)
@(title: String,
        navTitle: String = "",
        betaBanner: Html = HtmlFormat.empty,
        sidebarLinks: Option[Html] = None,
        contentHeader: Option[Html] = None,
        bodyClasses: Option[String] = None,
        mainClass: Option[String] = None)(mainContent: Html)(implicit  request: AuthenticatedRequest[_] , messages: Messages)

@mainTemplate(
        title = title,
        navTitle = Some(navTitle),
        navLinks = Some(headerNavLinks()),
        betaBanner = betaBanner,
        sidebarLinks = sidebarLinks,
        contentHeader = contentHeader,
        bodyClasses = bodyClasses,
        mainClass = mainClass
    )(mainContent = mainContent)
