@import controllers.auth.AuthenticatedRequest
@(title: String,
  navTitle: Option[String] = None,
  navLinks: Option[Html] = None,
  betaBanner: Html = HtmlFormat.empty,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None)(mainContent: Html)(implicit request : AuthenticatedRequest[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.layouts


@serviceInfoContent = {
    @if(request.previousLoginTime.isDefined) {
        @includes.last_sign_in(request.previousLoginTime.get, request.fullName)
    }
}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}



@govuk_wrapper(appConfig = config.YtaConfig,
               title = title,
               navTitle = navTitle.getOrElse(Messages("default.nav.links.text")),
               navLinks = navLinks.getOrElse(includes.yta_header_nav_links()),
               betaBanner = betaBanner,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               serviceInfoContent = serviceInfoContent)

