@()(implicit context: Option[uk.gov.hmrc.play.frontend.auth.AuthContext], request: Request[_], messages: Messages, hostContext: model.HostContext)

@import uk.gov.hmrc.urls.Link

@main_with_headers(title = Messages("opted.back.into.paperless.title")) {
    <header class="page-header">
        <h1>@Messages("opted.back.into.paperless.title")</h1>
    </header>
    <p>@Messages("opted.back.into.paperless.para_1")</p>
    <p>@Messages("opted.back.into.paperless.para_2")</p>
    <p>@Messages("opted.back.into.paperless.para_3")</p>
    <ul class="action-list">
        <li>@Link.toInternalPage(id = Some("return-to-dashboard-button"), url = hostContext.returnUrl, value = Some(hostContext.returnLinkText)).toHtml</li>
    </ul>
}