@()(implicit user: uk.gov.hmrc.common.microservice.domain.User, request: Request[_])

@import uk.gov.hmrc.urls.Link

@main(title = "Your details - Self Assessment email reminders have stopped", headerNav = Some(views.helpers.HeaderNav.yta), userLoggedIn = true) {

<header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>
        <h2>Email reminders have stopped</h2>
    </header>
    <p>You’ll now get your Self Assessment reminders in the post.</p>
    <p>You’ve been sent an email confirming this.</p>
    <p>You can sign up for email reminders again at any time.</p>
    <ul class="action-list">
        <li>@Link.toInternalPage(id = Some("return-to-dashboard-button"), url = controllers.sa.prefs.ExternalUrls.businessTaxHome, value = Some("Go to your tax account")).toHtml</li>
    </ul>

}