@()(implicit context: Option[uk.gov.hmrc.play.frontend.auth.AuthContext], request: Request[_])

@import uk.gov.hmrc.urls.Link

@main(title = "Manage account - Paperless notifications have stopped") {

<header class="page-header">
        <h1>@Messages("bt.account.yourdetails")</h1>
        <h2>Paperless notifications have stopped</h2>
    </header>
    <p>You’ll get letters again, instead of emails.</p>
    <p>You’ve been sent an email confirming this.</p>
    <p>You can go paperless again at any time.</p>
    <ul class="action-list">
        <li>@Link.toInternalPage(id = Some("return-to-dashboard-button"), url = controllers.sa.prefs.ExternalUrls.businessTaxHome, value = Some("Go to your tax account")).toHtml</li>
    </ul>

}