@(emailAddress: String)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@import views.helpers.Link
@import uk.gov.hmrc.crypto.Encrypted
@import uk.gov.hmrc.emailaddress.EmailAddress

@main(title = "Check your email is correct", userLoggedIn = true) {

    <header class="page-header">
       <h1>@Messages("sa_printing_preference.title")</h1>

        <h2>@Messages("sa_printing_preferences.confirm_correct_email.title")</h2>
   </header>
    <p>@Html(Messages("sa_printing_preferences.confirm_correct_email.paragraph.1", s"<span id='emailAddress'>$emailAddress</span>"))</p>


    @helpers.form(action = controllers.sa.prefs.internal.routes.BizTaxPrefsController.submitPrefsFormForInterstitial, 'id -> "form-submit-preferences-verify-email") {
        <div class="form-field">
            <p>
                <button id="email-is-correct-link" class="button" type="submit">@Messages("sa_printing_preferences.confirm_correct_email.confirm")</button>
            </p>
        </div>
        <input type="hidden" name="opt-in" value="true" />
        <input type="hidden" name="email.main" value="@emailAddress" />
        <input type="hidden" name="email.confirm" value="@emailAddress" />
        <input type="hidden" name="emailVerified" value="true" />
    }

    @Link.toInternalPage(id = Some("email-is-not-correct-link"), url = controllers.sa.prefs.internal.routes.BizTaxPrefsController.displayPrefsForm(Some(Encrypted(EmailAddress(emailAddress)))).url, value = Some("Change this email address")).toHtml

}