


<div>

  <table class="statement">
    <thead><tr>
<th colspan="4">Current benefits-in-kind<br></th>
      </tr>
    <tr>
<th>Benefit</th><th>Description</th><th>Cash equivalent/Taxable amount</th><th>Actions</th>
      </tr></thead>
    <tbody>
      <tr>
        <td>Company car</td>
        <td>Ford Focus Estate</td><td>£4066</td><td>Removal requested on 13 March. This is being processed.</td>
      </tr>
       <tr>
        <td>Car fuel</td>
        <td>For Ford Focus Estate</td><td>£3384</td><td>Removal requested on 13 March. This is being processed.</td>
      </tr>
      <tr>
        <td>Private medical insurance</td>
        <td>Cost to you: £234.12<br>Amount made good: £0.00</td><td>£234.12</td><td><a href="#">More information</a><br><a href="#">Change insurance</a><br><a href="#">Delete insurance</a></td>
      </tr>
  </table>
  <p><a href="#">See previous years' benefits submissions (P11d)</a></p>
  <p><a href="messages_benefits.html">Tell us about a change to your benefits-in-kind</a></p>

</div>


