
  <table class="statement">
    <thead><tr>
<th colspan="4">Current benefits-in-kind<br></th>
      </tr>
    <tr>
<th>Benefit</th><th>Description</th><th>Cash equivalent/Taxable amount</th><th>Actions</th>
      </tr></thead>
    <tbody>
      <tr>
        <td>Company car</td>
        <td>Ford Focus</td><td>£2934.32</td><td><a href="#">More information</a><br><a href="#">Change car</a><br><a href="#">Delete car</a></td>
      </tr>
       <tr>
        <td>Car fuel</td>
        <td>For Ford Focus</td><td>£984.34</td><td><a href="#">More information</a><br><a href="#">Change fuel benefit</a><br><a href="#">Delete fuel benefit</a></td>
      </tr>
      <tr>
        <td>Private medical insurance</td>
        <td>Cost to you: £234.12<br>Amount made good: £0.00</td><td>£234.12</td><td><a href="#">More information</a><br><a href="#">Change benefit</a><br><a href="#">Delete benefit</a></td>
      </tr>
  </table>
  <p><a href="#">See complete expenses and benefits submission (P11d) for 2011/2012</a></p>

  <p><a href="#">See benefits-in-kind for previous years</a></p>

  <p><a href="messages_benefits.html">Tell us about other benefits-in-kind you are receiving</a></p>
</div>

