

<div class="login-message">
  <p>Your last login was at 08:34 on 21st February 2013.</p>
</div>


<div>
  <h1>Recent changes</h1>
  <ul>
    <li>
      On 14th March, you removed your company car and fuel allowance from your benefits-in-kind from Sainsbury's Ltd. This is being processed and a new tax code will be sent to you within a week.</li>
  </ul>
</div>


<div>
  <h1>Things you need to do</h1>
  <ul>
    <li><p>No actions needed at this time.</p></li>
  </ul>
</div>



<div>
  <h1>Overview</h1>
  <ul>
    <li><h2>Income tax</h2><p>UTR: 1234567890</p>

      <ul>
        <li><h3>Pay As You Earn</h3>
          <ul>
            <li>
              <p>Employer: Sainsbury's Ltd.<br>
                    Tax code: 42L<br>
                    Last payment: £241.34 on 20th February 2013</p>

              <p>Total paid so far for the tax year 2012/2013: £3431.34</p>

            </li>
          </ul>


          <p><a href="#">Tell HMRC about a change to your employment</a> or <a href="benefits_johndensmore.html">update an employee benefit you receive</a>.</p>

          <p><a href="#">See all PAYE statements</a></p>
        </li>

        <li><h3>Other income</h3>

          <p>You are not registered for Self Assessment. All tax payments are made through your employer.</p>

          <p><a href="#">Register for Self Assessment</a></p>

        </li>
      </ul>
    </li>



    <li><h2>National Insurance</h2>

      <p>Total paid this year so far: £3431.34</p>
    </li>
  </ul>
</div>

