<div>
    
            <table>
                <tr>
                    <td> Status </td>
                    <td> Date </td>
                    <td> Tax </td>
                    <td> Subject </td>
                </tr>
                


                <tr>
                    <td>
                    
                        Read
                    
                    </td>
                    <td> 20th December 2012  </td>
                    <td> PAYE </td>
                    <td> <a href="#">Response to your question about tax codes</a> </td>
                </tr>

                <tr>
                    <td>
                    
                        Read
                    
                    </td>
                    <td> 6th April 2012  </td>
                    <td> PAYE </td>
                    <td> <a href="#">You can now view your tax statement for 2011/12</a> </td>
                </tr>
                

            </table>
        
    

    <ul>
        <li> <p> <a href="#"> Older messages </a> </p> </li>
        <li> <p> <a href="#"> View sent messages </a> </p> </li>
    </ul>
    <ul>
        <li> <p> <a href="#"> Send a new message to HMRC </a> </p> </li>
        <li><p><a href="#">Change your notifications</a></p></li>
    </ul>
</div>
 