

<div>
  <h1>Pay As You Earn</h1>

  <table class="statement">
    <thead><tr>
<th colspan="3">2012/2013 payments from Sainsbury's Ltd.<br></th>
      </tr>
      <tr>
<th colspan="3">Employer reference 392/D56<br></th>
      </tr>
    <tr>
<th>Date</th><th>Tax code</th><th>Amount</th>
      </tr></thead>
    <tbody>
      <tr>
        <td>20th February 2013</td>
        <td>42L</td><td>£241.34</td>
      </tr>
       <tr>
        <td>20th January 2013</td>
        <td>42L</td><td>£241.34</td>
      </tr>
      <tr>
        <td>19th December 2012</td>
        <td>42L</td><td>£241.34</td>
      </tr>
      <tr>
        <td>20th November 2012</td>
        <td>42L</td><td>£241.34</td>
      </tr>
      <tr>
        <td>20th October 2012</td>
        <td>42L</td><td>£241.34</td>
      </tr>
      <tr>
        <td>20th September 2012</td>
        <td>42L</td><td>£241.34</td>
      </tr>
      <tr>
        <td>20th August 2012</td>
        <td>42L</td><td>£241.74</td>
      </tr>
      <tr>
        <td>21st July 2012</td>
        <td>42L</td><td>£241.89</td>
      </tr>
      <tr>
        <td>20th June 2012</td>
        <td>42L</td><td>£202.21</td>
      </tr>
      <tr>
        <td>20th May 2012</td>
        <td>42L</td><td>£264.95</td>
      </tr>
      <tr>
        <td>20th April 2012</td>
        <td>42L</td><td>£269.56</td>
      </tr>
      <tr>
        <td colspan="2"><strong>Year total so far</strong></td>
        <td><strong>£3431.34</strong></td>
      </tr>     
  </table>
  <p><a href="benefits_johndensmore.html">View current benefits-in-kind from Sainsbury's Ltd.</a></p>
  <p><a href="#">See PAYE statements for previous years</a></p>
</div>

<div>
  <h1>National Insurance</h1>

  <table class="statement">
    <thead><tr>
<th colspan="3">2012/2013 National Insurance contributions from Sainsbury's Ltd.<br></th>
      </tr>
    <tr>
<th>Date</th><th>Amount</th>
      </tr></thead>
    <tbody>
      <tr>
        <td>20th February 2013</td>
        <td>£241.34</td>
      </tr>
       <tr>
        <td>20th January 2013</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td>19th December 2012</td>
        <td>£241.34</td>
      </tr>
      <tr>
        <td>20th November 2012</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td>20th October 2012</td>
         <td>£241.34</td>
     </tr>
      <tr>
        <td>20th September 2012</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td>20th August 2012</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td>21st July 2012</td>
         <td>£241.34</td>
     </tr>
      <tr>
        <td>20th June 2012</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td>20th May 2012</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td>20th April 2012</td>
        <td>£241.34</td>
     </tr>
      <tr>
        <td colspan="1"><strong>Year total so far</strong></td>
        <td><strong>£3431.34</strong></td>
      </tr>     
  </table>
  <p><a href="#">See National Insurance contributions for previous years</a></p>
</div>

