

<div>
  <h1>Tell us about a change to your benefits-in-kind</h1>

<p>What change do you want to tell HMRC about?</p>

  <ul>
    <li><p><a href="#">A change to my company car or car fuel</a></p></li>
    <li><p><a href="messages_newcar.html">Adding a new company car</a></p></li>
    <li><p><a href="#">A change to my private medical insurance</a></p></li>
    <li><p><a href="#">Adding a new company benefit</a></p></li>
    <li><a href="#">Send HMRC a message about a different issue</a></p></li>
  </ul>
</div>

