

<div>
  <h1>Remove your company car benefit</h1>

  <h2>Ford Focus Estate</h2>

<p>Provided by Sainsbury's Ltd.<br>
Registered on 3 February 2011.</p>

<p>
Cash equivalent value: £4066</p>

<p>If Sainsbury's Ltd. have stopped providing a Ford Focus Estate as your company car, you can tell HMRC about this change. Sainsbury's Ltd. will tell us about your new company car through their PAYE submissions by May 2013, but you can inform us now if you wish.</p>

<form action="removecompanycar2_johndensmore.html">

<p><input type="checkbox" name="declare" value="yes"> The Ford Focus Estate is no longer a company car provided to me.</input></p>

<p>Date you gave back the car: <input type="text"><p>

<p>You also receive a fuel benefit for this car of £3384. Do you want to remove this benefit too?<br>
  <input type="radio" name="fuel" value="yes"> Yes</input><br>
  <input type="radio" name="fuel" value="no"> No</input>
</p>

<p><input type="submit" value="Next"><p>

</form>

  <p><a href="#">Back to my company car details</a></p>
  <p><a href="#">Back to benefits-in-kind</a></p>
</div>
