

<div>
  <h1>Remove your company car benefit</h1>

  <h2>Confirm removal</h2>

<p>Removing the Ford Focus Estate and your fuel benefit will mean a reduction in your benefits-in-kind of £7450. This will mean that your tax code will change from <strong>42L</strong> to <strong>787L</strong>. </p>

  <p>Please confirm you wish to remove your company car and fuel benefit.</p>

<form action="removecompanycardone_johndensmore.html">

<p><input type="submit" value="Confirm"><p>

</form>

  <p><a href="#">Back to my company car details</a></p>
  <p><a href="#">Back to benefits-in-kind</a></p>
</div>

