@(mailBoxFull: Boolean, returnUrl: String, returnLinkText: String)(implicit messages: Messages)

@import uk.gov.hmrc.urls.Link

<details id="sa-prefs-status">
    <summary role="alert">There's a problem with your paperless notification emails <span class="flag flag--urgent">Urgent</span></summary>
    <div class="panel-indent">
        @if(mailBoxFull) {
            <p>Your inbox is full.</p>
        }
        <p>Go to
            @Link.toInternalPage(
            id = Some("remindersProblem"),
            url = returnUrl,
            value = Some(returnLinkText)
            ).toHtml for more information.</p>
    </div>
</details>