@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@(emailPreference: connectors.EmailPreference, returnUrl: String, returnLinkText: String)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.urls.Link
@import views.sa.prefs.helpers.DateFormat.longDateFormat

<details id="sa-prefs-status">
    <summary>@Messages("pending.email.verification.summary")<span class="flag flag--urgent">@Messages("pending.email.verification.now")</span></summary>
    <div class="panel-indent">
        <p>@Html(Messages("pending.email.verification.para_1", emailPreference.email, longDateFormat(emailPreference.linkSent).getOrElse("")))</p>
        <p>@Messages("pending.email.verification.para_2")
            @Link.toInternalPage(
            id = Some("remindersProblem"),
            url = returnUrl,
            value = Some(returnLinkText)
            ).toHtml </p>
    </div>
</details>