@(utr: String, saName: String, ggwName: String, previouslyLoggedInAt : Option[org.joda.time.DateTime])
@import views.formatting.Dates._
@main(title = "Your tax home") {

    @if(ggwName != ""){
        <h2>Welcome @ggwName (UTR: @utr)</h2>
    }
    <p>@if(!previouslyLoggedInAt.isEmpty) {
        Last logged in on @formatEasyReadingTimestamp(previouslyLoggedInAt, "")
    } else {
        First ever login
    }</p>
    <p>Services you have enrolled for and activated via the Government Gateway:</p>
    <ul style="list-style-type:none;">
        <li><a href="/sa/details">Self-assessment (SA)</a></li>
    </ul>

}
