@(data: uk.gov.hmrc.common.microservice.paye.domain.AddCarBenefitConfirmationData)

@import views.formatting.Money._
@import views.formatting.Dates._
<table id="new-company-car-details">
    <tbody>
    <tr>
        <th scope="row">@Messages("paye.add_car_benefit_review.date_provided")</th>
        <td>@{formatDate(data.providedFrom)}</td>
    </tr>
    <tr>
        <th scope="row">@Messages("paye.add_car_benefit_review.list_price")</th>
        <td>@pounds(data.listPrice)</td>
    </tr>
    <tr>
        <th scope="row">@Messages("paye.add_car_benefit_review.fuel_type")</th>
        <td>@{Messages(s"paye.add_car_benefit.fuel_type.${data.fuelType}")}</td>
    </tr>
    <tr>
        <th scope="row">@Messages("paye.add_car_benefit_review.emissions")</th>
        @if(data.co2Figure.isDefined) {
            <td>@data.co2Figure.get g/km</td>
        } else {
            <td>@Messages("paye.add_car_benefit_review.none")</td>
        }
    </tr>
    <tr>
        <th scope="row">@Messages("paye.add_car_benefit_review.engine_capacity")</th>
        @if(data.engineCapacity.isDefined){
            <td>@Messages(s"paye.add_car_benefit.engine_capacity.${data.engineCapacity.get}")</td>
        } else {
            <td>@Messages("paye.add_car_benefit_review.none")</td>
        }
    </tr>
    <tr id="employee_contributions">
        <th scope="row">@Messages("paye.add_car_benefit_review.employee_contributions")</th>
        @if(data.employeeContributions.isDefined) {
            <td>@pounds(data.employeeContributions.get)</td>
        } else {
            <td>@Messages("paye.add_car_benefit_review.none")</td>
        }
    </tr>
    <tr>
        <th scope="row">@Messages("paye.add_car_benefit_review.date_registered")</th>
        @if(data.dateRegistered.isDefined) {
            <td>@formatDate(data.dateRegistered.get)</td>
        } else {
            <td>@Messages("paye.add_car_benefit_review.none")</td>
        }
    </tr>
    <tr>
        <th scope="row">Private fuel</th>
        @if(data.employerPayFuel.isDefined){
            <td>@{Messages(s"paye.add_car_benefit_review.employer_pay_fuel.${data.employerPayFuel.get}", data.employerName, formatDate(data.dateFuelWithdrawn, ""))}</td>
        } else {
            <td>@Messages("paye.add_car_benefit_review.none")</td>
        }
    </tr>
    </tbody>
</table>