@(data: uk.gov.hmrc.common.microservice.paye.domain.AddFuelBenefitConfirmationData, currentUri:String, currentTaxYearYearsRange: Range, taxYear: Int, employmentSequenceNumber: Int, user: uk.gov.hmrc.common.microservice.domain.User)

@import views.formatting.Strings._
@import views.formatting.Money._
@import views.formatting.Dates._

@main(title = "Confirm", user = Some(user)) {
    <h1><span class="pre-heading">service</span> Tell HMRC about a change to your company car</h1>
    <h2 id="second-heading">Check your private fuel details before submitting them</h2>

    @defining(optionalValue(data.employerName, "your.employer", false)) { employerNameString =>
    <table>
        <tbody>
        @if(data.providedFrom.isDefined){
        <tr><td>Date provided</td><td id="provided-from">@{formatDate(data.providedFrom.get)}</td></tr>
        }
        <tr><td>Private fuel</td><td id="private-fuel"> @{Messages(s"paye.add_car_benefit.employer_pay_fuel.${data.employerPayFuel}", employerNameString) + " " + formatDate(data.dateFuelWithdrawn, "")}</td></tr>
        <tr><td>Fuel benefit taxable value</td><td><span id="fuelBenefitTaxableValue">@pounds(data.carFuelBenefitValue.taxableValue)</span></td></tr>
        </tbody>
    </table>
    }

    <a id="edit-data" href=@currentUri>This information is wrong</a>

    <p>Based on the information your private fuel benefit value is @pounds(data.carFuelBenefitValue.taxableValue).</p>
    <p>In order to calculate the actual tax you will pay on this benefit, we need to add it to your other income and tax information, and recalculate your tax code.</p>

    <p>However the following provides an indication of the tax you will pay if you are a basic rate (20%), higher rate (40%) or additional rate (45%) taxpayer:</p>

    <table>
        <thead>
        <tr>
            <th>@{s"${currentTaxYearYearsRange(0)}/${currentTaxYearYearsRange(1)}"}</th>
            <th>20%</th>
            <th>40%</th>
            <th>45%</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Private fuel tax</td>
            <td>@pounds(data.carFuelBenefitValue.basicRateValue, 2)</td>
            <td>@pounds(data.carFuelBenefitValue.higherRateValue, 2)</td>
            <td>@pounds(data.carFuelBenefitValue.additionalRateValue, 2)</td>
        </tr>

        </tbody>
    </table>

    @helper.form(action = controllers.paye.routes.AddFuelBenefitController.confirmAddingBenefit(taxYear, employmentSequenceNumber)) {
        <div class="form-field">
            <input type="submit" class="button" value="Submit">
        </div>
    }
}


