@(addedData: models.paye.BenefitUpdatedConfirmationData)

    @main(title = "Tell HMRC about a change to your company car - confirmation") {
        <h1>Tell HMRC about a change to your company car</h1>
        <h2 id="headline">Your company car details have been changed.</h2>

        <p>
            Your tax code has changed from <span id="old-tax-code">@{addedData.oldTaxCode}</span>.
            @addedData.newTaxCode.map { taxCode =>
            Your new tax code is <span id="new-tax-code">@taxCode</span>.
        }
        </p>

        <p id="epilogue">HMRC will write to you to confirm your new tax code within 7 days.</p>

        <p id="home-page-link">@helpers.link("", s"${controllers.paye.routes.CarBenefitHomeController.carBenefitHome}", "See your updated company car information.")</p>

        <p>More about @helpers.link("tax-codes", "https://www.gov.uk/tax-codes", "tax codes", true) and @helpers.link("tax-on-company-benefits", "https://www.gov.uk/tax-company-benefits", "tax on company benefits", true).</p>

    }


