@(data: uk.gov.hmrc.common.microservice.paye.domain.AddCarBenefitConfirmationData, user: uk.gov.hmrc.common.microservice.domain.User, currentUri: String, taxYear: Int, employmentSequenceNumber: Int)

@import views.formatting.Strings._
@import views.formatting.Money._
@import views.formatting.Dates._

@main(title = "Review your company car details", user = Some(user)) {
    <h1 id="main-heading">Tell HMRC about a change to your company car</h1>
    <h2>Check your company car details before submitting them</h2>
    @defining(optionalValue(data.employerName, "your.employer", false)) { employerNameString =>
        <table>
            <tbody>
            <tr><th scope="row">Date provided</th><td>@{formatDate(data.providedFrom)}</td></tr>
            <tr><th scope="row">List price including accessories</th><td>@pounds(data.listPrice)</td></tr>
            <tr><th scope="row">Fuel type</th><td>@{Messages(s"paye.add_car_benefit.fuel_type.${data.fuelType}")}</td></tr>
            @if(data.co2Figure.isDefined) {
             <tr><th scope="row">Emission figure</th><td>@data.co2Figure.get g/km</td></tr>
            }
            @if(data.engineCapacity.isDefined){
            <tr><th scope="row">Engine capacity</th><td>@Messages(s"paye.add_car_benefit.engine_capacity.${data.engineCapacity.get}")</td></tr>
            }
            @if(data.employerPayFuel.isDefined){
            <tr><th scope="row">Private fuel</th><td>@{Messages(s"paye.add_car_benefit.employer_pay_fuel.${data.employerPayFuel.get}", employerNameString) + " " + formatDate(data.dateFuelWithdrawn, "")}</td></tr>
            }
            </tbody>
        </table>
        @helpers.link("edit-data", currentUri, "This information is wrong")
    }

  @helper.form(action = controllers.paye.routes.AddCarBenefitController.confirmAddingBenefit(taxYear, employmentSequenceNumber)) {
    <div class="form-field">
        <input type="submit" class="button" value="submit">
    </div>
  }
}


