@(fuelBenefitForm: Form[controllers.paye.FuelBenefitData],  taxYear: Int, employmentSequenceNumber: Int, employerName: Option[String])(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.formatting.Strings._
@import views.helpers._
@import controllers.paye.FuelBenefitFormFields._

@main(title = "Changes to your private fuel benefit", user = Some(user)) {

<h1><span class="pre-heading">service</span> Tell HMRC about a change to your company car</h1>

@defining(optionalValue(employerName, "your.employer", true)) { employerNameString =>

<h2 id="heading"><span id="company-name">@employerNameString</span> have given you a company fuel benefit.</h2>

    <p>We need some information about the private fuel provided by @employerNameString.</p>

    @helper.form(action = controllers.paye.routes.AddFuelBenefitController.reviewAddFuelBenefit(taxYear, employmentSequenceNumber), 'id -> "form-add-fuel-benefit") {
    <ol class="list--numbered">
        <li>
            @helpers.fieldGroup(
                fuelBenefitForm,
                Seq(
                    FormField(
                        fuelBenefitForm(employerPayFuel),
                        Seq(
                            RadioButton("true", Messages("paye.add_car_benefit.employer_pay_fuel.true"), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-contextual-helper=disable")),
                            RadioButton("date", Messages("paye.add_car_benefit.employer_pay_fuel.date", employerNameString), Some("form-field--inline-spaced-right"), Some("label--inlineRadio-right"), Some(""), Some("data-contextual-helper=enable"))
                        )
                    ),
                    FormField(
                        fuelBenefitForm(dateFuelWithdrawn),
                        Seq(DateControl((2013 to 2014), Some("js-input--contextual")))
                    ),
                    FormField(
                        fuelBenefitForm(employerPayFuel),
                        Seq(
                            RadioButton("again", Messages("paye.add_car_benefit.employer_pay_fuel.again", employerNameString), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-contextual-helper=disable"))
                        )
                    )
                ),
                '_label -> Messages("paye.add_car_benefit.employer_pay_fuel.label", employerNameString),
                '_groupDivClass -> "form-field js-includes-contextual",
                '_valueAfter -> true
            )
        </li>
    </ol>
        <div class="form-field">
            <input type="submit" class="button" value="Next"/>
        </div>
    }
}
}

