@(addedData: models.paye.BenefitUpdatedConfirmationData)

    @main(title = Messages("paye.add_car_benefit_confirmation.title")) {
        <h1>@Messages("paye.add_car_benefit.h1")</h1>
        <h2 id="headline">@Messages("paye.add_car_benefit_confirmation.h2")</h2>

        <p>
            @Html(Messages("paye.add_car_benefit_confirmation.tax_code_changed", s"""<span id=\"old-tax-code\">${addedData.oldTaxCode}</span>"""))
            @addedData.newTaxCode.map { taxCode =>
                @Html(Messages("paye.add_car_benefit_confirmation.new_tax_code", s"""<span id="new-tax-code">${taxCode}</span>"""))
            }
        </p>

        <p id="epilogue">@Messages("paye.add_car_benefit_confirmation.confirmation")</p>

        <p id="home-page-link">@helpers.link("", s"${controllers.paye.routes.CarBenefitHomeController.carBenefitHome}", Messages("paye.add_car_benefit_confirmation.updated_info"))</p>

        <p>@Html(Messages("paye.add_car_benefit_confirmation.tax_codes_info",
            helpers.link("tax-codes",
                Messages("paye.add_car_benefit_confirmation.tax_codes_link_url"),
                Messages("paye.add_car_benefit_confirmation.tax_codes_link_text"), true),
            helpers.link("tax-on-company-benefits",
                Messages("paye.add_car_benefit_confirmation.tax_on_company_benefits_link_url"),
                Messages("paye.add_car_benefit_confirmation.tax_on_company_benefits_link_text"), true)))</p>

        @includes.end_of_journey_questionnaire()
}


