@(carBenefitForm: Form[models.paye.CarBenefitData], employerName: Option[String], taxYear: Int, employmentSequenceNumber: Int, currentTaxYearYearsRange: Range)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.formatting.Strings._
@import controllers.paye.CarBenefitFormFields._
@import views.helpers.CustomHelpers._
@import helper._
@import views.helpers._

@main(title = "Tell HMRC about a change to your company car", user = Some(user)) {

<h1>Tell HMRC about a change to your company car</h1>

@defining(optionalValue(employerName, "your.employer", true)) { employerNameLowercaseString =>

    <p>We need some information about the company car provided by <span id="company-name">@employerNameLowercaseString</span>.</p>

    @helper.form(action = controllers.paye.routes.AddCarBenefitController.reviewAddCarBenefit(taxYear, employmentSequenceNumber), 'id -> "form-add-car-benefit") {

    <fieldset>
        <h2>How long you have had the new company car</h2>
        <ol class="list--numbered">
            <li>
                @helpers.dateFields(carBenefitForm,
                                    providedFrom,
                                    Messages("paye.add_car_benefit.question1", employerNameLowercaseString),
                                    currentTaxYearYearsRange,
				    Some(""),
                                    '_groupDivClass -> "form-field-group")
            </li>
            <li>
                @helpers.dateFieldsFreeYear(carBenefitForm,
                                            carRegistrationDate,
                                            "When was the car first registered with the DVLA?",
                                            '_groupDivClass -> "form-field-group")

            </li>
        </ol>
    </fieldset>
    <fieldset>
        <h2>Cost of the car</h2>
        <ol class="list--numbered">
            <li>
                @helpers.fieldGroup(
                    carBenefitForm,
                    Seq(
                        FormField(carBenefitForm(listPrice), Seq(InputType("text", "", "£", Some("form-field--inline"), Some(""), Some("input--small"))))
                    ),
                    '_label -> "What is the list price of the car including VAT and accessories?",
                    '_groupDivClass -> "form-field--inline",
                    '_valueAfter -> false
                )
            </li>
            <li>
                @helpers.fieldGroup(
                    carBenefitForm,
                    Seq(
                        FormField(carBenefitForm(employeeContributes), Seq(
                            RadioButton("false", "No", Some("form-field clear"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=disable")),
                            RadioButton("true", "Yes: £ ", Some("form-field--inline"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=enable")))),
                        FormField(carBenefitForm(employeeContribution), Seq(InputType("text", "", "", Some("form-field--inline js-input--contextual"), Some(""), Some("input--small"))))
                    ),
                    '_label -> "Did you pay anything towards the cost of the car?",
                    '_groupDivClass -> "form-field  js-includes-contextual",
                    '_valueAfter -> true
                )
            </li>
            <li>
                 @helpers.fieldGroup(
                    carBenefitForm,
                    Seq(
                        FormField(carBenefitForm(employerContributes), Seq(
                            RadioButton("false", "No", Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=disable")),
                            RadioButton("true", "Yes: £ ", Some("form-field--inline"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=enable")))),
                        FormField(carBenefitForm(employerContribution), Seq(InputType("text", "", "a year", Some("form-field--inline js-input--contextual"), Some(""), Some("input--xsmall"))))
                    ),
                    '_label -> "Do you pay your employer for private use of the company car?",
                    '_groupDivClass -> "form-field js-includes-contextual",
                    '_valueAfter -> true
                )
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <h2>Car fuel and emissions</h2>
        <ol class="list--numbered">
            <li>
                @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(
                        carBenefitForm(fuelType),
                        Seq(
                            RadioButton("diesel", Messages("paye.add_car_benefit.fuel_type.diesel"), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-iselectric=false")),
                            RadioButton("electricity", Messages("paye.add_car_benefit.fuel_type.electricity"), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-iselectric=true")),
                            RadioButton("other", Messages("paye.add_car_benefit.fuel_type.other"), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-iselectric=false"))
                        )
                    )
                ),
                '_label -> "What type of fuel does the car run on?",
                '_groupDivClass -> "form-field",
                '_valueAfter -> true
                )
            </li>
            <li>
                @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(
                        carBenefitForm(co2Figure),
                        Seq(
                            InputText("g/km", divClass = Some("form-field--inline"), inputClass = Some("input--small flush--left"), label = Some(""))
                        )
                    ),
                    FormField(
                        carBenefitForm(co2NoFigure),
                        Seq(
                            InputType("checkbox", "", "The DVLA does not have an emission figure for your car", Some("form-field--inline"), Some(""), Some("input--small"), Some("data-default"))
                        )
                    )
                ),
                '_label -> new String("The " + helpers.link("", "https://www.taxdisc.direct.gov.uk/EvlPortalApp/app/home/intro", "DVLA Vehicle Enquiry website", true) + " lists approved emission figures for cars."),
                '_groupDivClass -> "form-field--inline",
                '_valueAfter -> true
                )
            </li>
            <li>
                @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                FormField(carBenefitForm(engineCapacity), Seq(
                    RadioButton("1400", Messages("paye.add_car_benefit.engine_capacity.1400"), Some("form-field"), Some("label--inlineRadio-right")),
                    RadioButton("2000", Messages("paye.add_car_benefit.engine_capacity.2000"), Some("form-field"), Some("label--inlineRadio-right")),
                    RadioButton("9999", Messages("paye.add_car_benefit.engine_capacity.9999"), Some("form-field"), Some("label--inlineRadio-right"))))
                ),
                '_label -> "What is your car's engine capacity?",
                '_groupDivClass -> "form-field",
                '_valueAfter -> true
                )
            </li>
            @defining(optionalValue(employerName, "your.employer", false)) { employerNameString =>
            <li>
                @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(
                        carBenefitForm(employerPayFuel),
                        Seq(
                            RadioButton("false", Messages("paye.add_car_benefit.employer_pay_fuel.false"), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-default data-contextual-helper=disable")),
                            RadioButton("true", Messages("paye.add_car_benefit.employer_pay_fuel.true"), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-contextual-helper=disable")),
                            RadioButton("date", Messages("paye.add_car_benefit.employer_pay_fuel.date", employerNameString), Some("form-field--inline-spaced-right"), Some("label--inlineRadio-right"), Some(""), Some("data-contextual-helper=enable"))
                        )
                    ),
                    FormField(
                        carBenefitForm(dateFuelWithdrawn),
                        Seq(DateControl((2013 to 2014), Some("js-input--contextual")))
                    ),
                    FormField(
                        carBenefitForm(employerPayFuel),
                        Seq(
                            RadioButton("again", Messages("paye.add_car_benefit.employer_pay_fuel.again", employerNameString), Some("form-field"), Some("label--inlineRadio-right"), Some(""), Some("data-contextual-helper=disable"))
                        )
                    )
                ),
                '_label -> Messages("paye.add_car_benefit.employer_pay_fuel.label", employerNameString),
                '_groupDivClass -> "form-field js-includes-contextual",
                '_valueAfter -> true
                )
            </li>
            }
        </ol>
     </fieldset>
    <div class="form-field">
        <input type="submit" class="button" value="Next">
    </div>

        }
    }
}

