@(carBenefitForm: Form[controllers.paye.CarBenefitData], employerName: Option[String], taxYear: Int, employmentSequenceNumber: Int, currentTaxYearYearsRange: Range)

@import views.formatting.Strings._
@import controllers.paye.CarBenefitFormFields._
@import views.helpers.CustomHelpers._
@import helper._
@import views.helpers._

@main(title = "Your Tax Home") {

<h1><span class="pre-heading">service</span> Tell HMRC about a change to your company car</h1>
<p>We need some information about the company car provided by <span id="company-name">@optionalValue(employerName, "your.employer", true)</span>.</p>

@helper.form(action = controllers.paye.routes.CarBenefitHomeController.saveAddCarBenefit(taxYear, employmentSequenceNumber)) {

<fieldset>
    <h2>How long you have had the new company car</h2>
    <ol class="list--numbered">
        <li>
            @helpers.dateFields(carBenefitForm,
                                providedFrom,
                                Messages("paye.add_car_benefit.question1", optionalValue(employerName, "your.employer", true)),
                                currentTaxYearYearsRange,
                                '_groupDivClass -> "form-field")
        </li>
        <li>
            @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(carBenefitForm(carUnavailable), Seq(
                        InputType("radio", "false", "No", Some("form-field"), Some("label--inlineRadio-right")),
                        InputType("radio", "true", "Yes: for ", Some("form-field--inline"), Some("label--inlineRadio-right")))),
                    FormField(carBenefitForm(numberOfDaysUnavailable), Seq(InputType("text", "", "days", Some("form-field--inline"), Some(""), Some("input--xsmall"))))
                ),
                '_label -> "Has the new company car been unavailable to you for at least 30 consecutive days since 6 April?",
                '_groupDivClass -> "form-field",
                '_valueAfter -> true
            )
        </li>
        <li>
            @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(carBenefitForm(giveBackThisTaxYear), Seq(
                        InputType("radio", "false", "No", Some("form-field"), Some("label--inlineRadio-right")),
                        InputType("radio", "true", "Yes: on ", Some("form-field--inline"), Some("label--inlineRadio-right")))),
                    FormField(carBenefitForm(providedTo), Seq(DateControl(currentTaxYearYearsRange)))
                ),
                '_label -> "Will you give back your new company car before 5 April?",
                '_groupDivClass -> "form-field",
                '_valueAfter -> true
            )
        </li>
    </ol>
</fieldset>
<fieldset>
    <h2>Cost of the car</h2>
    <ol class="list--numbered">
        <li>
            <p>What is the list price of the car including VAT and accessories?</p>
            @helpers.input(carBenefitForm(listPrice),
                           '_divClass -> "form-field--inline",
                           '_label -> "£",
                           '_inputClass -> "input--small",
                           '_labelClass -> "label--inlineRadio")
        </li>
        <li>
            @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(carBenefitForm(employeeContributes), Seq(
                        InputType("radio", "false", "No", Some("form-field clear"), Some("label--inlineRadio-right")),
                        InputType("radio", "true", "Yes: £ ", Some("form-field--inline"), Some("label--inlineRadio-right")))),
                    FormField(carBenefitForm(employeeContribution), Seq(InputType("text", "", "", Some("form-field--inline"), Some(""), Some("input--small"))))
                ),
                '_label -> "Did you pay anything towards the cost of the car?",
                '_groupDivClass -> "form-field",
                '_valueAfter -> true
            )
        </li>
        <li>
             @helpers.fieldGroup(
                carBenefitForm,
                Seq(
                    FormField(carBenefitForm(employerContributes), Seq(
                        InputType("radio", "false", "No", Some("form-field"), Some("label--inlineRadio-right")),
                        InputType("radio", "true", "Yes: £ ", Some("form-field--inline"), Some("label--inlineRadio-right")))),
                    FormField(carBenefitForm(employerContribution), Seq(InputType("text", "", "a year", Some("form-field--inline"), Some(""), Some("input--xsmall"))))
                ),
                '_label -> "Do you pay your employer for private use of the company car?",
                '_groupDivClass -> "form-field",
                '_valueAfter -> true
            )
        </li>
    </ol>
</fieldset>
        <p><input type="submit" value="Next"/></p>
    }
}

