@(fuelBenefitForm: Form[controllers.paye.FuelBenefitData],  taxYear: Int, employmentSequenceNumber: Int, employerName: Option[String], currentTaxYearYearsRange: Range)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

@import views.formatting.Strings._
@import views.helpers._
@import controllers.paye.FuelBenefitFormFields._

@main(title = Messages("paye.add_fuel_benefit.title"), user = Some(user)) {
    <header class="page-header">
        <h1>@Messages("paye.add_fuel_benefit.h1")</h1>
    </header>
@defining(optionalValue(employerName, "your.employer", true)) { employerNameString =>

    @helpers.form(action = controllers.paye.routes.AddFuelBenefitController.reviewAddFuelBenefit(taxYear, employmentSequenceNumber), 'id -> "form-add-fuel-benefit") {
    <fieldset class="list--numbered">
        <legend class="h2-heading">@Html(Messages("paye.add_fuel_benefit.h2", s"""<span id="company-name">$employerNameString</span>"""))</legend>

        <p>@Messages("paye.add_fuel_benefit.info", employerNameString)</p>
        @helpers.fieldGroup(
            fuelBenefitForm,
            Seq(
                FormField(
                    fuelBenefitForm(employerPayFuel),
                    Seq(
                        RadioButton("false", Messages("paye.add_fuel_benefit.employer_pay_fuel.false"), Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-default data-contextual-helper=disable")),
                        RadioButton("true", Messages("paye.add_fuel_benefit.employer_pay_fuel.true"), Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=disable"))
                    )
                )
            ),
            '_label -> Messages("paye.add_fuel_benefit.employer_pay_fuel.label", employerNameString),
            '_groupClass -> "form-field js-includes-contextual numbered",
            '_valueAfter -> true
        )
    </fieldset>
        <div class="form-field">
            <input type="submit" class="button" value="@Messages("paye.add_fuel_benefit.submit_button")"/>
        </div>
    }
}
}

