@(data: uk.gov.hmrc.common.microservice.paye.domain.AddCarBenefitConfirmationData)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.formatting.Strings._
@import views.formatting.Dates._

@main(title = "Confirm", user = Some(user)) {
    @defining(optionalValue(data.employerName, "your.employer", false)) { employerNameString =>

        <p>Date provided: @{formatDate(data.providedFrom)}</p>
        <p>List price including accessories: @data.listPrice</p>
        <p>Fuel type: @{Messages(s"paye.add_car_benefit.fuel_type.${data.fuelType}")}</p>
        <p>Emission figure: @data.co2Figure.getOrElse("")</p>
        @if(data.engineCapacity.isDefined){
            <p>Engine capacity:  @Messages(s"paye.add_car_benefit.engine_capacity.${data.engineCapacity.get}")</p>
        }
        @if(data.employerPayFuel.isDefined){
            <p>
                Private fuel: @{Messages(s"paye.add_car_benefit.employer_pay_fuel.${data.employerPayFuel.get}", employerNameString) + " " + formatDate(data.dateFuelWithdrawn, "")}
            </p>
        }

        @if(data.carBenefitValue.isDefined){
            <p>Car Benefit Taxable Value: @data.carBenefitValue.get.taxableValue @data.carBenefitValue.get.basicRateValue @data.carBenefitValue.get.higherRateValue</p>
        }
        @if(data.carFuelBenefitValue.isDefined){
            <p>Fuel Benefit Taxable Value: @data.carFuelBenefitValue.get.taxableValue @data.carFuelBenefitValue.get.basicRateValue @data.carFuelBenefitValue.get.higherRateValue</p>
        }
    }
}

