@(carBenefit: Option[uk.gov.hmrc.common.microservice.paye.domain.Benefit], fuelBenefit: Option[uk.gov.hmrc.common.microservice.paye.domain.Benefit], employerName: Option[String], employerSequenceNumber: Int, currentTaxYear: Int)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.formatting.Dates._
@import views.formatting.Strings._
@import views.formatting.Money._
@import config.RefData._

@main(title = "Your tax home", user = Some(user)) {


    <h1><span class="pre-heading">service</span> Tell HMRC about a change to your company car</h1>
    <h2>Your company Car</h2>
    @if( carBenefit.isDefined ) {
          <table>
              <tbody>
              <tr>
                  <th id="company-name">Company car provided by @optionalValue(employerName, "your.employer")</th>
                  <th></th>
              </tr>
              <tr>
                  <td>Date Provided</td>
                  <td id="car-benefit-date-available">@formatDate(carBenefit.get.car.get.dateCarMadeAvailable.get)</td>
              </tr>
              <tr>
                  <td>List Price including accessories</td>
                  <td>@pounds(carBenefit.get.car.get.carValue)</td>
              </tr>
              <tr>
                  <td>Fuel type</td>

                  <td id="car-benefit-fuel-type">@fuelTypeFor(carBenefit.get.car.get.fuelType)</td>
              </tr>
              if(carBenefit.get.car.get.co2Emissions.isDefined) {
              <tr>
                  <td>Emission figure</td>
                  <td>@{carBenefit.get.car.get.co2Emissions} g/km</td>
              </tr>
              }
              <tr>
                  <td>Engine capacity</td>
                      <td id="car-benefit-engine">@engineSizeFor(carBenefit.get.car.get.engineSize)</td>
              </tr>
              <tr>
                  <td>Car benefit taxable value</td>
                  <td id="car-benefit-amount">@pounds(carBenefit.get.grossAmount)</td>
              </tr>
              <tr>
                  <td>Private Fuel</td>
                  <td>private fuel?</td>
              </tr>
              @if(fuelBenefit.isDefined) {
              <tr>
                  <td>Fuel benefit taxable value</td>
                  <td id="fuel-benefit-amount">@pounds(fuelBenefit.get.grossAmount)</td>
              </tr>
              }
              </tbody>

          </table>
    } else {
         <p>You do not have an existing company car benefit.</p>
    }
	<h2>Make Changes</h2>
    <p>
        You can make the following changes to the information HMRC has about your company car
	</p>
    @if( carBenefit.isDefined ) {
	<ul>
	    <li><a id="rmCarLink" href="@controllers.paye.routes.RemoveBenefitController.benefitRemovalForm(carBenefit.get.benefitType.toString, carBenefit.get.taxYear, carBenefit.get.employmentSequenceNumber)">remove your company car</a></li>
	    @if( fuelBenefit.isDefined ) {
		    <li><a id="rmFuelLink" href="@controllers.paye.routes.RemoveBenefitController.benefitRemovalForm(fuelBenefit.get.benefitType.toString, fuelBenefit.get.taxYear, fuelBenefit.get.employmentSequenceNumber)">remove your car fuel benefit</a></li>
	    } else {

            <li><a id="addFuelLink" href="@controllers.paye.routes.CarBenefitAddController.startAddCarBenefit(currentTaxYear, employerSequenceNumber)">add a car fuel benefit</a></li>

        }
	</ul>
    } else {
        <div id="no-car-benefit-container">
            <ul>
                <li><a id="addCarLink" href="@controllers.paye.routes.CarBenefitAddController.startAddCarBenefit(currentTaxYear, employerSequenceNumber)">add a company car (including any fuel benefit you may have)</a></li>
            </ul>
        </div>
    }

    <p>If you do not need to make any changes you can <a href="@common.routes.LoginController.logout">log out from your account</a>.</p>

}