@(carBenefit: uk.gov.hmrc.common.microservice.paye.domain.CarBenefit, employerNameString: String, idSuffix: Option[String] = None)

@import views.formatting.Dates._
@import views.formatting.Money._

    @id(idString: String) = @{ idSuffix.map(suffix => s"$idString-$suffix").getOrElse(idString) }

<table>
    <caption id="@id("company-name")">Company car provided by @employerNameString</caption>
    <tbody>
        <tr>
            <th scope="row">Date you got the car</th>
            <td id="@id("car-benefit-date-available")">@formatDate(carBenefit.dateMadeAvailable)</td>
        </tr>
        @carBenefit.dateWithdrawn.map { dateWithdrawn =>
            <tr>
                <th scope="row">Date you gave back the car</th>
                <td id="@id("car-benefit-date-withdrawn")">@formatDate(dateWithdrawn)</td>
            </tr>
        }
        <tr>
            <th scope="row">Date Registered with DVLA</th>
            <td id="@id("car-benefit-date-registered")">@formatDate(carBenefit.dateCarRegistered)</td>
        </tr>
        <tr>
            <th scope="row">List Price including VAT & accessories</th>
            <td id="@id("car-benefit-car-value")">@pounds(carBenefit.carValue)</td>
        </tr>
        <tr>
            <th scope="row">Your contribution to the price of the car</th>
            <td id="@id("car-benefit-employee-capital-contribution")">@pounds(carBenefit.employeeCapitalContribution)</td>
        </tr>
        <tr>
            <th scope="row">Your contribution to private use of the car</th>
            <td id="@id("car-benefit-employee-payments")">@pounds(carBenefit.employeePayments)</td>
        </tr>
        <tr>
            <th scope="row">Fuel for private use</th>
            <td id="@id("private-fuel")">
            @carBenefit.fuelBenefit.map { fuelBenefit =>
                @fuelBenefit.dateWithdrawn.map { dateWithdrawn =>
                    @{Messages("paye.add_car_benefit.employer_pay_fuel.date", employerNameString) + " " + formatDate(fuelBenefit.dateWithdrawn, "")}
                }.getOrElse {
                    @Messages("paye.add_car_benefit.employer_pay_fuel.true")
                }
            }.getOrElse {
                @Messages("paye.add_car_benefit.employer_pay_fuel.false")
            }
            </td>
        </tr>
        <tr>
            <th scope="row">Fuel type</th>
            <td id="@id("car-benefit-fuel-type")">@Messages(s"paye.add_car_benefit.fuel_type.${carBenefit.fuelType}")</td>
        </tr>
        @carBenefit.co2Emissions.map { co2Emissions =>
            <tr>
                <th scope="row">CO2 Emissions</th>
                <td id="@id("car-co2-emissions")">@co2Emissions g/km</td>
            </tr>
        }
        @carBenefit.engineSize.map { engineSize =>
            <tr>
                <th scope="row">Engine capacity</th>
                <td id="@id("car-benefit-engine")">@Messages(s"paye.add_car_benefit.engine_capacity.$engineSize")</td>
            </tr>
        }
    </tbody>
</table>