@(benefits: Seq[models.paye.DisplayBenefit])

@import views.formatting.Dates._
@import views.formatting.Strings._
@import config.RefData._

@main(title = "Your tax home") {

    <h2>Current benefits-in-kind</h2>

    <table class="table table--benefits">

	<thead>
            <th align="left" width="30%">Employer</th>
            <th align="left" width="15%">Benefit Type</th>
            <th align="left" width="40%">Description</th>
            <th align="left" width="15%">Cash equivalent/Taxable amount</th>
            <th>Actions</th>
	</thead>

        @for(displayBenefit <- benefits) {

	<tr id="@hyphenate(iabdTypeFor(displayBenefit.benefit.benefitType))"
        class="@hyphenate(iabdTypeFor(displayBenefit.benefit.benefitType))">
		<td class="employment-reference">@displayBenefit.employment.employerNameOrReference</td>
		<td class="benefit-type">@iabdTypeFor(displayBenefit.benefit.benefitType)</td>

        <td id="benefit-description">
        @if(displayBenefit.car.isDefined) {
            Engine size: @engineSizeFor(displayBenefit.car.get.engineSize)<br>
            Fuel type: @fuelTypeFor(displayBenefit.car.get.fuelType)<br>
            Date car registered: @formatDate(displayBenefit.car.get.dateCarRegistered.get)<br>
        } else {
            @iabdTypeFor(displayBenefit.benefit.benefitType)
        }
        </td>

		<td class="benefit-amount" align="right" >£ @displayBenefit.benefit.grossAmountToString()</td>
        <td>
        @displayBenefit.benefit.benefitType match {
            case 31 | 29 => {
                @if(displayBenefit.transaction.isDefined) {
                   Benefit removed on <time datetime="">@formatDateTime(displayBenefit.transaction.get.createdAt)</time>
                } else {
                    <ul>
                        <li>Change</li>
                        <li><a class="cta cta--remove-benefit"
                        href="@controllers.paye.routes.RemoveBenefitController.benefitRemovalForm(displayBenefit.benefit.benefitType.toString, displayBenefit.benefit.taxYear, displayBenefit.benefit.employmentSequenceNumber)">Remove</a></li>
                    </ul>
                }
            }
            case _ => {
                More Information
            }
        }
        </td>
    </tr>
            }

    </table>
}

