@(updateForm: Form[models.paye.RemoveCarBenefitFormData],
  currentTaxYearYearsRange: Range,
  activeFuel: Boolean)

@import views.helpers._
@import views.formatting.Dates._
@import uk.gov.hmrc.utils.TaxYearResolver

<fieldset id="remove-car-benefit-fields" class="list--numbered">
    <legend class="benefit-type h2-heading">@Messages("paye.remove_car_benefit.benefit_type")</legend>
            @helpers.dateFields(updateForm,
            "withdrawDate",
            Html(Messages("paye.remove_car_benefit.withdraw_date")),
            currentTaxYearYearsRange,
            Some(""),
            '_groupClass -> "form-field-group numbered")

            @helpers.fieldGroup(updateForm,
            Seq(
            FormField(updateForm("carUnavailable"), Seq(
            RadioButton("false", Messages("paye.remove_car_benefit.car_unavailable.no"), Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=disable")),
            RadioButton("true", Messages("paye.remove_car_benefit.car_unavailable.yes"), Some("form-field--inline"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=enable")))),
            FormField(updateForm("numberOfDaysUnavailable"), Seq(
            InputType("text", "", Messages("paye.remove_car_benefit.car_unavailable.days"), Some("form-field--inline-text-input js-input--contextual"), Some(""), Some("input--xsmall"))))
            ),
            '_label -> Messages("paye.remove_car_benefit.car_unavailable"),
            '_groupClass -> "form-field-group  js-includes-contextual numbered",
            '_valueAfter -> true,
            '_hintText -> Messages("paye.remove_car_benefit.car_unavailable.hint"))

            @helpers.fieldGroup(updateForm,
            Seq(
            FormField(updateForm("removeEmployeeContributes"), Seq(
            RadioButton("false", Messages("paye.remove_car_benefit.employee_contributes.no"), Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=disable")),
            RadioButton("true", Messages("paye.remove_car_benefit.employee_contributes.yes"), Some("form-field--inline"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=enable")))),


            FormField(updateForm("removeEmployeeContribution"), Seq(InputType("text", "", "",Some("form-field--inline-text-input js-input--contextual"), Some(""), Some("input--xsmall"))))
            ),
            '_label -> Messages("paye.remove_car_benefit.employee_contributes"),
            '_groupClass -> "form-field js-includes-contextual numbered",
            '_valueAfter -> true)

        @if(activeFuel){
            @helpers.fieldGroup(updateForm,
            Seq(
            FormField(updateForm("fuelRadio"), Seq(
            InputType("radio", "sameDateFuel", Messages("paye.remove_car_benefit.fuel_benefit.same_time"), Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=disable")),
            InputType("radio", "differentDateFuel", Messages("paye.remove_car_benefit.fuel_benefit.different_time"), Some("form-field"), Some("label--inlineRadio"), Some(""), Some("data-contextual-helper=enable")))),
            FormField(updateForm("fuelWithdrawDate"), Seq(DateControl(currentTaxYearYearsRange, Some("js-input--contextual"))))
            ),
            '_label -> Messages("paye.remove_car_benefit.fuel_benefit"),
            '_groupClass -> "form-field-group js-includes-contextual numbered",
            '_valueAfter -> true,
            '_hintText -> Messages("paye.remove_car_benefit.fuel_benefit.hint"))
        }
    </fieldset>
</fieldset>
