@(displayBenefit: models.paye.DisplayBenefit, updateForm: Form[models.paye.RemoveBenefitFormData])

@import views.formatting.Dates._
@import views.formatting.Strings._
@import config.RefData._
@import org.joda.time.LocalDate
@import helper._
@main(title = "Remove your @sentence(iabdTypeFor(displayBenefit.benefit.benefitType))") {

<h2>Remove your @sentence(iabdTypeFor(displayBenefit.benefit.benefitType))</h2>


<p>Benefit provided by <span class="employer-name">@displayBenefit.employment.employerName</span><br/>
Value of benefit: <span class="amount">£ @displayBenefit.benefit.grossAmountToString()</span></p>

<p>If <span class="employer-name">@displayBenefit.employment.employerName</span> have stopped providing you with @sentence(iabdTypeFor(displayBenefit.benefit.benefitType)), you can remove it from your taxable benefits.</p>

    @helper.form(action = controllers.paye.routes.RemoveBenefitController.requestBenefitRemoval(displayBenefit.benefit.benefitType, displayBenefit.benefit.taxYear, displayBenefit.benefit.employmentSequenceNumber)) {

        @defining(updateForm("withdrawDate")) { withdrawDateField =>
        <div class="@if(withdrawDateField.error.isDefined){error-notification}">
	    @if(withdrawDateField.error.isDefined){<p class="error">@Messages(withdrawDateField.errors(0).message)</p>}
	    <label>Date you stopped receiving the benefit: </label>
	    <input class="return-date" type="date" name="withdrawDate" placeholder="@shortDate(LocalDate.now)" />
        </div>
        }
	<div>
            @checkbox(
            updateForm("agreement"),
            '_id -> "agreement",
            '_label -> s"${displayBenefit.employment.employerNameOrReference} no longer provide me with this benefit",
            '_showConstraints -> false
            )
	</div>
	<input class="button button--next" type="submit" value="Next" />
    }
}

