@(fuelBenefit: uk.gov.hmrc.common.microservice.paye.domain.FuelBenefit,
        employment: uk.gov.hmrc.common.microservice.paye.domain.Employment,
        taxYear: Int,
        updateForm: Form[models.paye.RemoveFuelBenefitFormData],
        currentTaxYearYearsRange: Range)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

    @import views.formatting.Strings._
    @import config.RefData._
    @import controllers.paye.routes._

    @main(title = "Remove your company benefit", user = Some(user)) {
        <h1>Tell HMRC about a change to your company car</h1>

        <h2><span class="employer-name">@employment.employerName</span> no longer supply private fuel</h2>

        <h2 class="benefit-type">Your old company fuel benefit</h2>

        <p>If <span class="employer-name">@employment.employerName</span>
            have stopped providing you with @sentence(iabdTypeFor(fuelBenefit.benefitCode)), you can remove it from your taxable benefits.</p>

        @helper.form(action = RemoveBenefitController.requestRemoveFuelBenefit(taxYear, employment.sequenceNumber)) {
            @helpers.dateFields(updateForm,
                "withdrawDate",
                Html("Date you stopped receiving the benefit:"),
                currentTaxYearYearsRange,
                Some(""),
                '_groupDivClass -> "form-field-group")

            <div class="form-field">
                <input class="button button--next flush--left" type="submit" value="Next" />
            </div>
        }
    }

