@(fuelBenefit: uk.gov.hmrc.common.microservice.paye.domain.FuelBenefit,
        employment: uk.gov.hmrc.common.microservice.paye.domain.Employment,
        taxYear: Int,
        formData: models.paye.RemoveFuelBenefitFormData)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request : Request[_])

    @import controllers.paye.routes._
    @import views.formatting.Dates._
    @import views.helpers.Link

    @main(title = Messages("paye.remove_fuel_benefit_review.title"), user = Some(user)) {
        <header class="page-header">
            <h1 id="main-heading">@Messages("paye.remove_fuel_benefit_review.header")</h1>
        </header>

        <h2 class="title">@Messages("paye.remove_fuel_benefit_review.check_changes")</h2>

        <table id="company-fuel-details">
            <caption id="company-name" class="table-row">
                @Messages("paye.remove_fuel_benefit_review.provided_by", employment.employerNameOrReference)</caption>
            <tbody>
                <tr>
                    <th scope="row">@Messages("paye.remove_fuel_benefit_review.fuel_withdrawn")</th>
                    <td id="car-benefit-date-fuel-withdrawn">@formatDate(formData.withdrawDate)</td>
                </tr>
            </tbody>
        </table>
        @Link.toInternalPage(
            id = Some("go-back"),
            url = s"${ShowRemoveBenefitFormController.showRemoveFuelBenefitForm(taxYear, employment.sequenceNumber)}",
            value = Some(Messages("paye.benefit_review.wrong_information"))).toHtml

        @helpers.form(action = controllers.paye.routes.RemoveBenefitController.confirmFuelBenefitRemoval(taxYear, employment.sequenceNumber)) {
            <div class="form-field">
                <input class="button button--confirm" type="submit" value="@Messages("paye.remove_fuel_benefit_review.submit_button")"/>
            </div>
        }
    }
