@(newAmount: BigDecimal, benefit: uk.gov.hmrc.microservice.paye.domain.Benefit)

@import views.formatting.Dates._
@import config.RefData._
@import org.joda.time.LocalDate
@import helper._

@main(title = "Your tax home") {

  <h2>Remove your company car benefit</h2>

  <p>Removing your company car will increase your Personal Allowance by <span class="amount">£ @{benefit.grossAmount - newAmount}</span>.<br>
  This means we will need to issue you with a new tax code.</p>

  @helper.form(action = routes.PayeController.removeCarBenefitToStep3(benefit.taxYear, benefit.employmentSequenceNumber)) {
    <input class="button button--confirm" type="submit" value="Confirm" />
  }

}

