@(benefitTypes: Seq[Int], removalData: models.paye.RemoveBenefitConfirmationData)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

@import views.formatting.Strings._
@import config.RefData._

@main(title = "Benefit removed", user = Some(user)) {
    @defining(joinList(benefitTypes.map(b => Messages(s"benefitType.${b}.title")), s" ${Messages("list.separator.and")} ")) { benefitsTitle =>
      <h1><span class="pre-heading">service</span> Tell HMRC about a change to your company <span id="benefit-type">@{benefitsTitle}</span></h1>
    }
      <h2>Thanks.</h2>

      <p>
          Your tax code has changed from <span id="old-tax-code">@{removalData.oldTaxCode}</span>.
          @if(removalData.newTaxCode.isDefined){
            Your new tax code is <span id="new-tax-code">@{removalData.newTaxCode}</span>.
          }
      </p>

      @if(removalData.personalAllowance.isDefined){
        <p>This means that you will pay tax on anything you earn above <span id="personal-allowance">£@{removalData.personalAllowance}</span> between @{removalData.taxYearStart} and @{removalData.taxYearEnd}.</p>
      }

      <p>HMRC will send you a confirmation by post within a week.</p>

      <p>If you have finished, you can <a href="@common.routes.LoginController.logout">log out of your GOV.UK account.</a></p>

}

