@(displayBenefit: models.paye.DisplayBenefit, hasFuelBenefit:Boolean, updateForm: Form[models.paye.RemoveBenefitFormData])

@import views.formatting.Dates._
@import org.joda.time.LocalDate
@import views.html.helpers.singleCheckbox

@import views.helpers.CustomHelpers._
@import helper._
@main(title = "Remove your company car benefit") {

    <h2 class="benefit-type">Remove your company car benefit</h2>

    <p>Car provided by <span class="employer-name">@displayBenefit.employment.employerName</span><br/>
    Registered on <span class="date-registered">@formatDate(displayBenefit.car.get.dateCarRegistered.get)</span>.<br/>
    Value of car benefit: <span class="amount">£@displayBenefit.benefit.grossAmountToString()</span></p>

    <p>If <span class="employer-name">@displayBenefit.employment.employerName</span> have stopped providing you with a company car, you can remove the car from your taxable benefits.</p>

    @if(hasFuelBenefit){
        <p class="fuel-benefit-info" >We will also remove your fuel benefit.</p>
    }

    @helper.form(action = controllers.paye.routes.RemoveBenefitController.requestBenefitRemoval(displayBenefit.allBenefitsToString, displayBenefit.benefit.taxYear, displayBenefit.benefit.employmentSequenceNumber)) {

        @defining(updateForm("withdrawDate")) { withdrawDateField =>
        <div class="@if(withdrawDateField.error.isDefined){error-notification}">
        @if(withdrawDateField.error.isDefined){<p class="error">@Messages(withdrawDateField.errors(0).message)</p>}
        <label>Date you gave back the car: </label>
        <input class="return-date" type="date" name="withdrawDate" placeholder="@shortDate(LocalDate.now)" />
        </div>
        }
        <div>

            @singleCheckbox(
                updateForm("agreement"),
                '_id -> "agreement",
                '_label -> s"${displayBenefit.employment.employerNameOrReference} no longer provide me with a company car",
                '_showConstraints -> false)

        </div>
        <input class="button button--next" type="submit" value="Next" />
    }
}

