@(fuelBenefit: uk.gov.hmrc.common.microservice.paye.domain.FuelBenefit,
        employment: uk.gov.hmrc.common.microservice.paye.domain.Employment,
        taxYear: Int,
        updateForm: Form[models.paye.RemoveFuelBenefitFormData],
        currentTaxYearYearsRange: Range)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

    @import views.formatting.Strings._
    @import config.RefData._
    @import controllers.paye.routes._

    @main(title = Messages("paye.remove_fuel_benefit.title"), user = Some(user)) {
        <h1>@Messages("paye.remove_fuel_benefit.header")</h1>

        <h2>@Html(Messages("paye.remove_fuel_benefit.company_name", s"""<span class="employer-name">${employment.employerName.getOrElse(Messages("your.employer"))}</span>"""))</h2>

        <h2 class="benefit-type">@Messages("paye.remove_fuel_benefit.old_benefit")</h2>

        <p>@Html(Messages("paye.remove_fuel_benefit.remove_benefit", s"""<span class="employer-name">${employment.employerName.getOrElse(Messages("your.employer"))}</span>""", sentence(iabdTypeFor(fuelBenefit.benefitCode))))</p>

        @helper.form(action = RemoveBenefitController.requestRemoveFuelBenefit(taxYear, employment.sequenceNumber)) {
            @helpers.dateFields(updateForm,
                "withdrawDate",
                Html(Messages("paye.remove_fuel_benefit.date_withdrawn")),
                currentTaxYearYearsRange,
                Some(""),
                '_groupDivClass -> "form-field-group")

            <div class="form-field">
                <input class="button button--next flush--left" type="submit" value="@Messages("paye.remove_fuel_benefit.submit_button")" />
            </div>
        }
    }

