@(activeCarBenefit: uk.gov.hmrc.common.microservice.paye.domain.CarBenefit,
        primaryEmployment: uk.gov.hmrc.common.microservice.paye.domain.Employment,
        updateForm: Form[models.paye.RemoveCarBenefitFormData],
        currentTaxYearYearsRange: Range)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request: Request[_])

    @import views.helpers._
    @import views.formatting.Dates._
    @import uk.gov.hmrc.utils.TaxYearResolver

@main(title = Messages("paye.remove_car_benefit.title"), user = Some(user)) {
    <h1>@Messages("paye.remove_car_benefit.h1")</h1>
    <h2><span class="employer-name">@primaryEmployment.employerName</span>@Messages("paye.remove_car_benefit.h2.company_info")</h2>
    <h2 class="benefit-type">@Messages("paye.remove_car_benefit.benefit_type")</h2>

    @helpers.form(action = controllers.paye.routes.RemoveBenefitController.requestRemoveCarBenefit(activeCarBenefit.taxYear, primaryEmployment.sequenceNumber)) {

        @remove_car_benefit_fields(updateForm, currentTaxYearYearsRange, activeCarBenefit.hasActiveFuel)

        <div class="form-field">
            <input class="button button--next flush--left" type="submit" value="@Messages("paye.remove_car_benefit.submit_button")" />
        </div>
    }
}

