@(activeCarBenefit: uk.gov.hmrc.common.microservice.paye.domain.CarBenefit,
        employment: uk.gov.hmrc.common.microservice.paye.domain.Employment,
        formData: models.paye.RemoveCarBenefitFormData)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request: Request[_])

    @import controllers.paye.routes._
    @import views.helpers.Link

    @main(title = Messages("paye.remove_car_benefit_review.title"), user = Some(user)) {
        <header class="page-header">
            <h1 id="main-heading">@Messages("paye.remove_car_benefit_review.header")</h1>
        </header>
        <h2 class="title">@Messages("paye.remove_car_benefit_review.check_changes")</h2>

        @remove_car_benefit_confirmation_table(formData, employment, activeCarBenefit.hasActiveFuel, activeCarBenefit.taxYear)

        @Link.toInternalPage(
            id = Some("go-back"),
            url = s"${ShowRemoveBenefitFormController.showRemoveCarBenefitForm(activeCarBenefit.taxYear, employment.sequenceNumber)}",
            value = Some(Messages("paye.benefit_review.wrong_information"))).toHtml

        @helpers.form(action = controllers.paye.routes.RemoveBenefitController.confirmCarBenefitRemoval(activeCarBenefit.taxYear, employment.sequenceNumber)) {
            <div class="form-field">
                <input class="button button--confirm" type="submit" value="@Messages("paye.remove_car_benefit_review.submit_button")"/>
            </div>
        }
    }
