@(withdrawDate: String, kind: Int, oid: String)

@import views.formatting.Strings._
@import config.RefData._

@main(title = "Benefit removed") {

  <h2>@sentenceStart(iabdTypeFor(kind)) removed</h2>
  <p>Thank you for telling us about the change to your company benefits.</p>

  <p>Your benefits have been removed from your employment from <span id="withdraw-date">@withdrawDate</span>.</p>

  <p>We need to calculate a new tax code for you. We will notify you by email when this has happened. This should take less than 1 week.</p>

  <p class="transaction-id">Transaction ID: @{oid.toUpperCase}</p>

  <p><a class="cta cta--benefits" href="@controllers.paye.routes.BenefitHomeController.listBenefits">Back to your benefits</a></p>
  <p><a class="cta cta--home" href="@controllers.paye.routes.PayeHomeController.home">Back to your tax overview</a></p>

}

