@(amount: BigDecimal, benefit: uk.gov.hmrc.microservice.paye.domain.Benefit, benefitTitle:String)

@main(title = "Confirm") {

  <h2>Remove your @{benefitTitle} benefit</h2>

  <p>Removing your @{benefitTitle} will increase your Personal Allowance by <span class="amount">£ @{amount}</span>.<br>
  This means we will need to issue you with a new tax code.</p>

  @helper.form(action = controllers.paye.routes.RemoveBenefitController.confirmBenefitRemoval(benefit.benefitType, benefit.taxYear, benefit.employmentSequenceNumber)) {
    <input class="button button--confirm" type="submit" value="Confirm" />
  }

}

