@(displayBenefit: models.paye.DisplayBenefit, updateForm: Form[models.paye.RemoveFuelBenefitFormData], currentTaxYearYearsRange: Range)(implicit user: uk.gov.hmrc.common.microservice.domain.User)

    @import views.formatting.Strings._
    @import config.RefData._
    @import views.html.helpers.singleCheckbox
    @import controllers.paye.routes._

    @main(title = "Remove your company benefit", user = Some(user)) {
        <h1><span class="pre-heading">service</span> Tell HMRC about a change to your company car</h1>

        <h2><span class="employer-name">@displayBenefit.employment.employerName</span> no longer supply private fuel</h2>

        @defining(joinList(displayBenefit.benefits.map(b => Messages(s"benefitType.${b.benefitType}.title")), s" ${Messages("list.separator.and")} ")) { benefitsTitle =>
            <h2 class="benefit-type">Your old company @benefitsTitle benefit</h2>
        }

        <p>If <span class="employer-name">@displayBenefit.employment.employerName</span>
            have stopped providing you with @sentence(iabdTypeFor(displayBenefit.benefit.benefitType)), you can remove it from your taxable benefits.</p>

        @helper.form(action = RemoveBenefitController.requestBenefitRemoval(displayBenefit.benefit.benefitType.toString, displayBenefit.benefit.taxYear, displayBenefit.benefit.employmentSequenceNumber)) {
            @helpers.dateFields(updateForm,
                "withdrawDate",
                "Date you stopped receiving the benefit:",
                currentTaxYearYearsRange,
                Some(""),
                '_groupDivClass -> "form-field-group")

            <div class="form-field">
                <input class="button button--next flush--left" type="submit" value="Next" />
            </div>
        }
    }

