@(displayBenefit: models.paye.DisplayBenefit, hasUnremovedCar:Boolean, updateForm: Form[models.paye.RemoveBenefitFormData], currentTaxYearYearsRange: Range)

@import views.formatting.Dates._
@import views.formatting.Strings._
@import config.RefData._
@import org.joda.time.LocalDate
@import views.html.helpers.singleCheckbox

@main(title = "Remove your company benefit") {
    <h1><span class="pre-heading">service</span> Tell HMRC about a change to your company car</h1>
    @defining(joinList(displayBenefit.benefits.map(b => Messages(s"benefitType.${b.benefitType}.title")), s" ${Messages("list.separator.and")} ")) { benefitsTitle =>
    <h2 class="benefit-type">Remove your company @benefitsTitle benefit</h2>
    }

    <p>Benefit provided by <span class="employer-name">@displayBenefit.employment.employerName</span><p/>
    <p>Value of benefit: <span class="amount">£@displayBenefit.benefit.grossAmountToString()</span></p>

    <p>If <span class="employer-name">@displayBenefit.employment.employerName</span> have stopped providing you with @sentence(iabdTypeFor(displayBenefit.benefit.benefitType)), you can remove it from your taxable benefits.</p>

        @helper.form(action = controllers.paye.routes.RemoveBenefitController.requestBenefitRemoval(displayBenefit.benefit.benefitType.toString, displayBenefit.benefit.taxYear, displayBenefit.benefit.employmentSequenceNumber)) {

           @helpers.dateFields(updateForm,
                                "withdrawDate",
                                "Date you stopped receiving the benefit:",
                                currentTaxYearYearsRange,
                                '_groupDivClass -> "form-field")

        <div>

            @singleCheckbox(
                updateForm("agreement"),
                '_id -> "agreement",
                '_inputClass -> "flush--left",
                '_label -> s"${displayBenefit.employment.employerNameOrReference} no longer provide me with this benefit",
                '_showConstraints -> false)

            @if(displayBenefit.benefit.benefitType == models.paye.BenefitTypes.FUEL && hasUnremovedCar) {
                @singleCheckbox(
                    updateForm("removeCar"),
                    '_id -> "removeCar",
                    '_inputClass -> "flush--left",
                    '_label -> "I would also like to remove my car benefit.",
                    '_showConstraints -> false)
            }
        </div>
        <div class="form-field">
            <input class="button button--next flush--left" type="submit" value="Next" />
        </div>
    }
}

