@(transactionId: String, oldTaxCode: String, newTaxCode: Option[String], showQuestionnaire: Boolean = true)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request: Request[_])

@import models.paye._

@main(title = Messages("paye.replace_benefit_confirmation.title"), user = Some(user)) {
    <header class="page-header">
        <h1>@Messages("paye.replace_benefit_confirmation.header")</h1>
    </header>
    <h2>@Messages("paye.replace_benefit_confirmation.thanks")</h2>
    <p>@Messages("paye.replace_benefit_confirmation.details_changed")</p>
    <p>
        @Html(Messages("paye.replace_benefit_confirmation.tax_code_changed", s"""<span id=\"old-tax-code\">${oldTaxCode}</span>"""))
        @if(newTaxCode.isDefined) {
            @Html(Messages("paye.replace_benefit_confirmation.new_tax_code", s"""<span id="new-tax-code">${newTaxCode.get}</span>"""))
        }
    </p>

    <p>@Messages("paye.replace_benefit_confirmation.confirmation")</p>

    <p>@helpers.link("", s"${controllers.paye.routes.CarBenefitHomeController.carBenefitHome}",
        Messages("paye.replace_benefit_confirmation.updated_info"))</p>
    <p>@Html(Messages("paye.replace_benefit_confirmation.tax_codes_info",
        helpers.link("tax-codes",
            Messages("paye.replace_benefit_confirmation.tax_codes_link_url"),
            Messages("paye.replace_benefit_confirmation.tax_codes_link_text"), true),
        helpers.link("tax-on-company-benefits",
            Messages("paye.replace_benefit_confirmation.tax_on_company_benefits_link_url"),
            Messages("paye.replace_benefit_confirmation.tax_on_company_benefits_link_text"), true)))</p>

     @if(showQuestionnaire) {
        @includes.end_of_journey_questionnaire(transactionId, ReplaceCar, oldTaxCode, newTaxCode)
     }
}
