@(activeCarBenefit: uk.gov.hmrc.common.microservice.paye.domain.CarBenefit,
        employment: uk.gov.hmrc.common.microservice.paye.domain.Employment,
        oldCarRemovalData: models.paye.RemoveCarBenefitFormData,
        newCarData: uk.gov.hmrc.common.microservice.paye.domain.AddCarBenefitConfirmationData)(implicit user: uk.gov.hmrc.common.microservice.domain.User, request: Request[_])

    @import controllers.paye.routes._
    @import views.formatting.Dates._
    @import views.helpers.Link

    @main(title = Messages("paye.replace_car_benefit_review.title"), user = Some(user)) {
        <header class="page-header">
            <h1>@Messages("paye.replace_car_benefit.h1")</h1>
        </header>
        <h2>@Messages("paye.replace_car_benefit_review.subheading")</h2>
        <h2 class="benefit-type">@Messages("paye.replace_car_benefit.benefit_type")</h2>
        @remove_car_benefit_confirmation_table(oldCarRemovalData, employment, activeCarBenefit.hasActiveFuel, activeCarBenefit.taxYear)

        <h2 class="benefit-type">@Messages("paye.replace_car_benefit.new_car")</h2>
        @add_car_benefit_confirmation_table(newCarData)

        @Link.toInternalPage(
            id = Some("go-back"),
            url = s"${ReplaceBenefitController.showReplaceCarBenefitForm(activeCarBenefit.taxYear, employment.sequenceNumber)}",
            value = Some(Messages("paye.benefit_review.wrong_information"))).toHtml

        @helpers.form(action = ReplaceCarBenefitConfirmController.confirmCarBenefitReplacement(activeCarBenefit.taxYear, employment.sequenceNumber)) {
            <div class="form-field">
                <input class="button button--confirm" type="submit" value="@Messages("paye.remove_car_benefit_review.submit_button")"/>
            </div>
        }


}
