<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    @includes.head("error")
</head>

<body>
@helpers.link("", "#content", "Skip to main content", false, false, "visuallyhidden")


<div class="beta-banner">
    <p><b>BETA:</b> This is a prototype, designed to be simpler, clearer and faster. <a href="https://www.gov.uk/service-manual">Find out more</a></p>
</div>

<section id="content" class="l-constrained--topBordered">
    <div class="l-bodyLeftColumn">
        <article id="report-confirmation">
            <h2 id="feedback-thank-you-header">Thank you</h2>

            <p>Your comments will be reviewed by our customer support team.</p>
        </article>
    </div>


</section>

@includes.footer()
</body>
</html>
