
@(contactForm: Form[controllers.common.ContactForm])(implicit request : Request[_])
@import views.helpers._
@main(title = "Your tax home") {

    <h1>@Messages("contact.heading")</h1>
    @helpers.form(action = common.routes.ContactController.submit) {
        <fieldset>
            <legend class="h2-heading">How can we help you?</legend>
            @helpers.input(
            contactForm("contactName"),
            '_label -> "Your Name",
            '_divClass -> "form-field",
            '_inputClass -> "input--fullwidth",
            '_error ->  Messages("error.common.problem_report.name_mandatory")
            )
            @helpers.input(
            contactForm("contactEmail"),
            '_label -> "Email address",
            '_divClass -> "form-field",
            '_inputClass -> "input--fullwidth",
            '_error ->  Messages("error.common.problem_report.email_mandatory")
            )
            @helpers.textArea(
            contactForm("contactComments"),
            '_label -> "Your comments",
            '_divClass -> "form-field",
            '_inputClass -> "input--fullwidth",
            '_error ->  Messages("error.common.comments_mandatory")
            )
            <input type="hidden" name="isJavascript" id="isJavascript" value="">

            <div class="form-field">
                <button class="button" type="submit">Send</button>
            </div>

        </fieldset>
    }

}