@(what_doing: String, what_wrong: String)
<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    @includes.head("error")
</head>

<body>
@helpers.link("", "#content", "Skip to main content", false, false, "visuallyhidden")


<div class="beta-warning">
    <p><b>BETA:</b> This is a prototype, designed to be simpler, clearer and faster. <a href="https://www.gov.uk/service-manual">Find out more</a></p>
</div>

<section id="content" class="l-constrained--topBordered">
    <div class="l-bodyLeftColumn">
        <article>
            <h2>Thank you for your Help</h2>

            <p>If you have more extensive feedback, please visit the <a href="">contact page</a></p>
        </article>
    </div>


</section>

@includes.footer()
</body>
</html>
