@(formWithErrors:Form[uk.gov.hmrc.common.microservice.governmentgateway.Credentials] = Form(
        Forms.mapping(
            "userId" -> Forms.of[String](play.api.data.format.Formats.stringFormat),
            "password" -> Forms.of[String](play.api.data.format.Formats.stringFormat)
        )(uk.gov.hmrc.common.microservice.governmentgateway.Credentials.apply)(uk.gov.hmrc.common.microservice.governmentgateway.Credentials.unapply)
    )
)

@import play.api.data.format.Formats._

@main(title = "Log in to Self Assessment (SA) via Government Gateway") {

    <h1>Sign in with your Government Gateway account</h1>

    <p>Sign in with your Government Gateway account.</p>
    <p>If you do not have a Government Gateway account, you can <a href="#">register for one</a>.</p>

    <form action="@common.routes.LoginController.governmentGatewayLogin" method="POST">
	<fieldset>
	    <div class="form-field">
		<label for="userId">Username</label>
		<input type="text" id="userId" name="userId" required />
	    </div>

	    @formWithErrors.errors("userId").map{ error =>
		<p class="error username">Invalid Username: @Messages(error.message)</p>
	    }

	    <div class="form-field">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
	    </div>

	    @formWithErrors.errors("password").map{ error =>
		<p class="error password">Invalid Password: @Messages(error.message)</p>
	    }

	    <div class="form-field">
		<button class="button" type="submit">Sign in</button>
	    </div>

	    @formWithErrors.globalErrors.map{ error =>
		<p class="error password">@Messages(error.message)</p>
	    }
	</fieldset>
    </form>

}
