@import views.helpers._

@main(title = Messages("common.help_page.title"), nav = true) {
<h1>@Messages("common.help_page.title")</h1>
<p>@Messages("common.help_page.info")</p>
<nav role="navigation" class="help-contents">
    <ul>
        <li>
            <h2>@helpers.link("", Messages("common.links.cookies.url"), Messages("common.help_page.cookies.heading"))</h2>
            <p>@Messages("common.help_page.cookies.info")</p>
        </li>
        <li>
            <h2>@helpers.link("", Messages("common.links.privacy_policy.url"), Messages("common.help_page.privacy_policy.heading"))</h2>
            <p>@Messages("common.help_page.privacy_policy.info")</p>
        </li>
        <li>
            <h2>@helpers.link("", Messages("common.links.terms_and_conditions.url"), Messages("common.help_page.terms_and_conditions.heading"))</h2>
            <p>@Messages("common.help_page.terms_and_conditions.info")</p>
        </li>
    </ul>
</nav>

}