@main(title = "Your tax home") {

    <h2>Login to your tax</h2>

    <h3>Paye</h3>
    <p style="margin-top: 0;">
        <a data-regime="paye" href="@common.FrontEndRedirect.carBenefit">Tell us about your company car</a>
    </p>


    <h3>Business Tax</h3>
    <p style="margin-top: 0;">
        <a data-regime="tfmb" href="@common.routes.LoginController.businessTaxLogin">Login via Government Gateway</a>
    </p>

    <h3>Agents</h3>
    <p style="margin-top: 0;">
        <a data-regime="agents" href="@common.FrontEndRedirect.agentRegistration">Apply for a Unique Agent Reference</a><br>
        <a data-regime="agents" href="@common.FrontEndRedirect.agentAddClient">Add a client</a>
    </p>

}