@(title: String, nav: Boolean = false, sidebarLinks: Option[Html] = None, user: Option[uk.gov.hmrc.common.microservice.domain.User] = None)(content: Html)
<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
	@includes.head(title)
    </head>

    <body>
    @helpers.link("", "#content", "Skip to main content", false, false, "visuallyhidden")

	@includes.header(nav)

	<div class="beta-warning">
	    <p><b>BETA:</b> This is a prototype, designed to be simpler, clearer and faster. <a href="#">Find out more</a></p>
	</div>

	<section id="content" class="l-constrained--topBordered">
	    <div class="l-bodyLeftColumn">
        <article>
	        @content
        </article>
	    </div>

	    @if( user.isDefined ) {
	    <aside class="l-bodyRightColumn">
		@includes.sidebar(user, sidebarLinks)
	    </aside>
	    }
	</section>

	@includes.footer()
    </body>
</html>
