@(title: String,
  nav: Boolean = false,
  sidebarLinks: Option[Html] = None,
  user: Option[uk.gov.hmrc.common.microservice.domain.User] = None,
  supportLinkEnabled: Boolean = true,
  header: Option[Html] = None,
  footerLinks: Option[Html] = Some(includes.footer_links()))(
 mainContent: Html)


@head = {
@includes.head()
}
@insideHeader = {
@includes.header(nav)
}
@afterHeader = {
@includes.betaBanner(user)
}
@content = {
@includes.main_content(mainContent, user, sidebarLinks, supportLinkEnabled, nav, header)
}
@footerTop = {

}
@bodyEnd = {
@includes.footer()
}

@layouts.govuk_template(Some(title), None)(head, bodyEnd, insideHeader, afterHeader, footerTop, footerLinks, nav)(content)

