@(formError: Boolean, url: String)
@if(formError) {
<article id="report-confirmation-no-data">
    <h2>Sorry, we're unable to send your message as you haven't given us any information.</h2>

    <p>Please tell us what you were doing or what went wrong.</p>
    <a href="@url">Return to where you were</a>
</article>
} else {
<article id="report-confirmation">
    <h2 id="feedback-thank-you-header">Thank you for your Help</h2>

    <p>If you have more extensive feedback, please visit the <a href="">contact page</a></p>
</article>
}
