@(url:String,data:String)
<html>
    <head>
        <title>Saml Processing...</title>
        <script type="text/javascript">
        function init() {
            document.forms[0].setAttribute("style", "display: none;");

            window.setTimeout(function () {
                document.forms[0].removeAttr("style")
                },
                5000
            );

            document.forms[0].submit();
        }
        </script>
    </head>
    <body onload="init()" style="background-color: #F2F2F2;">
        <form action="@url" method="POST">
            <input type="hidden" name="SAMLRequest" value="@data"/>
        <input type="submit" value="Click here to continue"/>
        </form>
    </body>
</html>
