
@import views.helpers._

@main(title = Messages("common.terms_and_conditions.title")) {
    <header class="page-header">
        <h1>@Messages("common.terms_and_conditions.title")</h1>
    </header>

    <h2>@Messages("common.terms_and_conditions.individuals.heading")</h2>
    <p>@Html(Messages("common.terms_and_conditions.individuals.paragraph.1", helpers.link(None, Messages("common.links.hmrc_online_services.url"), Messages("common.links.hmrc_online_services.text"), true)))</p>

    <h2>@Messages("common.terms_and_conditions.registration.heading")</h2>
    <p>@Messages("common.terms_and_conditions.registration.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.registration.paragraph.2")</p>
    <p>@Messages("common.terms_and_conditions.registration.paragraph.3")</p>
    <p>@Html(Messages("common.terms_and_conditions.registration.paragraph.4", helpers.link(None, Messages("common.links.privacy_policy.url"), Messages("common.links.privacy_policy.text"), true)))</p>

    <h2>@Messages("common.terms_and_conditions.user.credentials.heading")</h2>
    <p>@Messages("common.terms_and_conditions.user.credentials.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.user.credentials.paragraph.2")</p>

    <h2>@Messages("common.terms_and_conditions.deregistration.heading")</h2>
    <p>@Messages("common.terms_and_conditions.deregistration.paragraph.1")</p>

    <h2>@Messages("common.terms_and_conditions.login.heading")</h2>
    <p>@Messages("common.terms_and_conditions.login.paragraph.1")</p>

    <h2>@Messages("common.terms_and_conditions.security.heading")</h2>
    <p>@Messages("common.terms_and_conditions.security.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.security.paragraph.2")</p>
    <p>@Html(Messages("common.terms_and_conditions.security.paragraph.3", helpers.link(None, Messages("common.links.online_security.url"), Messages("common.links.online_security.text"), true)))</p>
    <p>@Html(Messages("common.terms_and_conditions.security.paragraph.4", helpers.link(None, Messages("common.links.hmrc_online_services.helpdesk.url"), Messages("common.links.hmrc_online_services.helpdesk.text"), true)))</p>

    <h2>@Messages("common.terms_and_conditions.secure.mailbox.heading")</h2>
    <p>@Messages("common.terms_and_conditions.secure.mailbox.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.secure.mailbox.paragraph.2")</p>

    <h2>@Messages("common.terms_and_conditions.statutory.notices.heading")</h2>
    <p>@Messages("common.terms_and_conditions.statutory.notices.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.statutory.notices.paragraph.2")</p>

    <h2>@Messages("common.terms_and_conditions.online.filing.heading")</h2>
    <p>@Messages("common.terms_and_conditions.online.filing.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.online.filing.paragraph.2")</p>
    <p>@Messages("common.terms_and_conditions.online.filing.paragraph.3")</p>
    <p>@Messages("common.terms_and_conditions.online.filing.paragraph.4")</p>


    <h2>@Messages("common.terms_and_conditions.general.heading")</h2>
    <p>@Messages("common.terms_and_conditions.general.paragraph.1")</p>
    <ul>
        <li class="bullets"><p>@Messages("common.terms_and_conditions.general.paragraph.1.point1")</p></li>
        <li class="bullets">@Messages("common.terms_and_conditions.general.paragraph.1.point2")</li>
    </ul>
    <p>@Messages("common.terms_and_conditions.general.paragraph.2")</p>

    <h2>@Messages("common.terms_and_conditions.authorised.use.heading")</h2>
    <p>@Messages("common.terms_and_conditions.authorised.use.paragraph.1")</p>
    <p>@Html(Messages("common.terms_and_conditions.authorised.use.paragraph.2", helpers.link(None, Messages("common.links.copyright_notice.url"), Messages("common.links.copyright_notice.text.2"), true)))</p>

    <h2>@Messages("common.terms_and_conditions.service.access.heading")</h2>
    <p>@Messages("common.terms_and_conditions.service.access.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.service.access.paragraph.2")</p>

    <h2>@Messages("common.terms_and_conditions.statutory.obligations.heading")</h2>
    <p>@Messages("common.terms_and_conditions.statutory.obligations.paragraph.1")</p>
    <p>@Html(Messages("common.terms_and_conditions.statutory.obligations.paragraph.2", helpers.link(None, Messages("common.links.legal.conditions.url"), Messages("common.links.legal.conditions.text"), true)))</p>

    <h2>@Messages("common.terms_and_conditions.liability.heading")</h2>
    <p>@Messages("common.terms_and_conditions.liability.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.liability.paragraph.2")</p>
    <p>@Messages("common.terms_and_conditions.liability.paragraph.4")</p>
    <p>@Messages("common.terms_and_conditions.liability.paragraph.4")</p>

    <h2>@Messages("common.terms_and_conditions.data.management.heading")</h2>
    <p>@Messages("common.terms_and_conditions.data.management.paragraph.1")</p>

    <h2>@Messages("common.terms_and_conditions.directdebit.payment.heading")</h2>
    <p>@Messages("common.terms_and_conditions.directdebit.payment.paragraph.1")</p>
    <ul>
        <li class="bullets">@Messages("common.terms_and_conditions.directdebit.payment.paragraph.1.list1")</li>
        <li class="bullets">@Messages("common.terms_and_conditions.directdebit.payment.paragraph.1.list2")</li>
        <li class="bullets">@Messages("common.terms_and_conditions.directdebit.payment.paragraph.1.list3")</li>
        <li class="bullets">@Messages("common.terms_and_conditions.directdebit.payment.paragraph.1.list4")</li>
    </ul>
    <p>@Messages("common.terms_and_conditions.directdebit.payment.paragraph.2")</p>


    <h2>@Messages("common.terms_and_conditions.directdebit.vat.payment.heading")</h2>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.1")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.2")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.3")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.4")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.5")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.6")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.7")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.8")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.9")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.10")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.11")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.12")</p>
    <p>@Messages("common.terms_and_conditions.directdebit.vat.payment.paragraph.13")</p>

    <h2>@Messages("common.terms_and_conditions.applicable.law.heading")</h2>
    <p>@Messages("common.terms_and_conditions.applicable.law.paragraph.1")</p>

}