@(formItem:Form[_], fieldName: String, label: String, yearRange: Range, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import controllers.common.validators.DateFields._
@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(formItem(fieldName).id, formItem(fieldName), null, args.toMap, lang) }

<p>@label</p>
@elements.errors.map { error => <span style="display: block" class="error-notification">@Messages(error)</span>}

@dateFieldsInline(formItem, fieldName, label, yearRange, args : _*)