@(formItem:Form[_], fieldName: String, label: String, yearRange: Range, extraClass: Option[String], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import controllers.common.validators.DateFields._
@import play.api.i18n._
@import views.html.helper._

@className = @{"form-field--inline" + extraClass.map(" " + _).getOrElse("")}

@dayElem = @{fieldName + "." + day}
@helpers.dropdown(
        formItem(dayElem),
        ( 1 to 31) map {  i=> (i.toString, i.toString) },
        '_label -> Messages("date.fields.day"),
	'_groupDivClass -> className,
        '_labelClass -> "label--inlineDropdown",
        '_emptyValueText -> ""
)
@monthElem = @{fieldName + "." + month}
@helpers.dropdown(
        formItem(monthElem),
        ( 1 to 12) map {  i=> (i.toString, i.toString) },
        '_label -> Messages("date.fields.month"),
	'_groupDivClass -> className,
        '_labelClass -> "label--inlineDropdown",
        '_emptyValueText -> ""
)
@yearElem = @{fieldName + "." + year}
@helpers.dropdown(
        formItem(yearElem),
        yearRange map {  i=> (i.toString, i.toString) },
        '_label -> Messages("date.fields.year"),
	'_groupDivClass -> className,
        '_labelClass -> "label--inlineDropdown",
        '_emptyValueText -> ""
)