@(formItem:Form[_], fieldName: String, label: Html, yearRange: Range, extraClass: Option[String], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import controllers.common.validators.DateFields._
@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(formItem(fieldName).id, formItem(fieldName), null, args.toMap, lang) }

<fieldset class="@elements.args.get('_groupClass) @if(elements.hasErrors) {form-field--error}">
    <legend>@label</legend>
    @if(elements.args.get('_hintText).isDefined) {
    <p class="hint">@elements.args.get('_hintText)</p>
    }
    @elements.errors.map { error => <span class="error-notification">@Messages(error)</span>}

    @dateFieldsInline(formItem, fieldName, label, yearRange, extraClass, args : _*)
</fieldset>