@(field: play.api.data.Field, elementOptions: Seq[(String, String)], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}

<div class="@elements.args.get('_groupDivClass)@if(elements.hasErrors){' ' + error}">
    <label for="@elements.field.name" class="@elements.args.get('_labelClass)">
        <span class="label__text">
            @elements.label
        </span>
        @if(elements.args.contains('_additionalTitleText)){<p>@elements.args.get('_additionalTitleText)</p>}
        <select id="@elements.field.name" name="@elements.field.name">
            <option value="">@elements.args.get('_emptyValueText)</option>
            @for(option <- elementOptions) {
                <option
                        id="@elements.field.name-@option._1"
                        value="@option._1"
                @if(value==option._1){selected="selected"}
                >
                @option._2
                </option>
            }
        </select>
    </label>
    @elements.errors.map { error => <span style="display: block" class="error-notification">@Messages(error)</span>}
</div>
