@(formItem:Form[_], fields: Seq[views.helpers.FormField], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._
@import views.helpers._


@allFieldElements = @{ fields.groupBy{_.field}.map{_._2 head}.map{ f => new FieldElements(f.field.id, f.field, null, args.toMap, lang) }.toList}
@anyFieldHasError = @{ allFieldElements.exists( _.hasErrors ) }
@argsMap = @{ args.toMap }
@valueAfter = @{ argsMap.get('_valueAfter).getOrElse(false).asInstanceOf[Boolean] }

<div class="@argsMap.get('_groupDivClass) @if(anyFieldHasError) {error}">
    <p>@Html(allFieldElements(0).label.toString())</p>
    @if(argsMap.contains('_additionalTitleText)){<p>@argsMap.get('_additionalTitleText)</p>}
    @for(elements <- allFieldElements) {
        @elements.errors.map { error => <span class="error-notification">@Messages(error)</span> }
    }
    @for(field <- fields) {
        @for(input <- field.inputs) {

             @input match {
                case dateControl: DateControl => {
                    @dateFieldsInline(formItem, field.field.id, Html(""), dateControl.yearRange, dateControl.extraClass)
                }
                case inputType: InputType => {
                    @println("Raw value of " + field.field.name + " = " + field.field.value)
                    @defining(field.field.value match { case Some(x) => x case None => "" case x => x }) { currentValue =>
                    @defining(field.field.name + (if(inputType.key != ""){"-"+ inputType.key} else ""))  { inputId =>
                    <div class='@inputType.divClass.getOrElse("")'>
                        <label for="@inputId" class='@inputType.labelClass.getOrElse("")'>

                                @if(inputType.label.isDefined) {@inputType.label}
                                @if(!valueAfter) {
                                    <span class= "label__text">
                                        @inputType.value
                                    </span>
                                }
                            @println(field.field.name + " = " + currentValue)
                                <input type="@inputType.inputType"
                                        id="@inputId"
                                        class="@inputType.inputClass"
                                        name="@field.field.name"
                                        @inputType.dataAtrribute
                                        value="@{inputType.inputType match {
                                           case "radio" => inputType.key
                                           case "checkbox" => "true"
                                           case _ => currentValue
                                            }}"

                                        @if(inputType.inputType == "radio") {
                                            @if(currentValue==inputType.key){checked="checked"}
                                        }
                                        @if(inputType.inputType == "checkbox"){
                                            @if(currentValue=="true"){checked="checked"}
                                        }
                                />
                                @if(valueAfter) {
                                    <span class= "label__text">
                                        @inputType.value
                                    </span>
                                }
                        </label>
                        @if(field.explanationText.isDefined) {
                            <p>@field.explanationText</p>
                        }
                    </div>
                    }}
                }
             }
        }
    }
</div>
