@(formItem:Form[_], fields: Seq[views.helpers.FormField], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._
@import views.helpers._


@allFieldElements = @{ fields.map{ f => new FieldElements(f.field.id, f.field, null, args.toMap, lang) } }
@anyFieldHasError = @{ allFieldElements.exists( _.hasErrors ) }
@argsMap = @{ args.toMap }
@valueAfter = @{ argsMap.get('_valueAfter).getOrElse(false).asInstanceOf[Boolean] }

<div class="@argsMap.get('_groupDivClass) @if(anyFieldHasError) {error}">
    <p>@allFieldElements(0).label</p>
    @if(argsMap.contains('_additionalTitleText)){<p>@argsMap.get('_additionalTitleText)</p>}
    @for(elements <- allFieldElements) {
        @elements.errors.map { error => <span class="error-notification">@Messages(error)</span> }
    }
    @for(field <- fields) {
        @for(input <- field.inputs) {
             @if(input.isInstanceOf[DateControl]) {
                @dateFields2(formItem, field.field.id, "", (2013 to 2015))
             }  else {

                 @defining(field.field.value match { case Some(x) => x case None => "" case x => x }) { currentValue =>
                    <div class='@input.divClass.getOrElse("")'>
                        <label for="@field.field.name-@input.key" class='@input.labelClass.getOrElse("")'>
                            @if(!valueAfter) { @input.value }
                            <input type="@input.inputType"
                                    id="@field.field.name-@input.key"
                                    class="@input.inputClass"
                                    name="@field.field.name"
                                    @if(input.inputType == "radio") {
                                        value="@input.key"
                                        @if(currentValue==input.key){checked="checked"}
                                    } else {
                                        value="@currentValue"
                                    }
                            />
                            @if(valueAfter) { @input.value }
                        </label>
                    </div>
                }
            }
        }
    }
</div>
