@(dateMessage : views.helpers.ImportantDateMessage)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._
@import views.helpers._
@import play.api.templates.HtmlFormat

@{
    def escape(str: String) = HtmlFormat.escape(str).toString
    def tag(name: String, value: String) = " " + name + "=\"" + escape(value) + "\""

    val date = dateMessage.date.render.toString.trim
    val link = if (dateMessage.link.isDefined) "<BR>" + dateMessage.link.get.render.toString.trim else ""
    val text = escape(Messages(dateMessage.text))
    val textClass = if (!dateMessage.link.isDefined) tag("class", "faded-text") else ""
    val startDate = dateMessage.startDate.render.toString.trim
    val endDate = dateMessage.endDate.render.toString.trim
    val postMessageText = if (!dateMessage.link.isDefined) " " + escape(Messages(dateMessage.postMessageText.get)) else ""

   Html("<DIV class=\"activity-list__date\"><P>" + date + "</P></DIV><DIV class=\"activity-list__description\"><P><SPAN" + textClass + ">" + text + " "+ startDate + " to " + endDate + " is due"+ "</SPAN>"+postMessageText+ "."
    + link + "</P></DIV>")

}

