@(field: Field, radioOptions: Seq[(String, String)], args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{new FieldElements(field.id, field, null, args.toMap, lang) }


<label for="@elements.field.name" class="@elements.args.get('_divClass) @elements.args.get('_labelClass) @if(elements.hasErrors) {form-field--error}">


    @elements.errors.map{error => <span class="error-notification">@Messages(error)</span>}

    @elements.args.get('_label)

        @radioOptions.map { case (value, label) =>

            @defining(s"${elements.field.name}-${value.toLowerCase.replace(" ","_")}")  { inputId =>
                <label for="@inputId">
                    @label
                    <input
                            type="radio"
                            id="@inputId"
                            name="@elements.field.name"
                            value="@value"
                            @elements.args.get('_inputClass).map{inputClass => class="@inputClass"}
                            @field.value.filter( _ == value).map{_ => checked="checked"}/>
                </label>
            }
        }
</label>