@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}

@labelAfter = @{ elements.args.get('_labelAfter).getOrElse(false).asInstanceOf[Boolean] }
<div class="@elements.args.get('_divClass) @if(elements.hasErrors) {error}">
    @elements.errors.map { error => <span style="display: block" class="error-notification">@Messages(error)</span>}
    @if(!labelAfter && elements.args.contains('_label)) {
    <label for="@elements.field.name" class="input-label @elements.args.get('_labelClass)">@elements.label</label>
    }
    <input type="@if(elements.args.contains('_type)){@elements.args.get('_type)}else{text}"
           name="@elements.field.name"
           id="@elements.field.name"
           class="@elements.args.get('_inputClass)"
           value="@value"/>
    @if(labelAfter && elements.args.contains('_label)) {
    <label for="@elements.field.name" class="input-label @elements.args.get('_labelClass)">@elements.label</label>
    }
</div>
