@(link : views.helpers.LinkMessage)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._
@import views.helpers._
@import play.api.templates.HtmlFormat

@{
    def escape(str: String) = HtmlFormat.escape(str).toString
    def tag(name: String, value: String) = " " + name + "=\"" + escape(value) + "\""

    val href = tag("href", link.href)
    val id = if (link.id.isDefined) tag("id", link.id.get) else ""
    val target = if (link.newWindow) tag("target", "_blank") else ""
    val sso = if (link.sso) tag("data-sso", "true") else ""
    val text = escape(Messages(link.text))
    val postLinkText = if (link.postLinkText.isDefined) " " + escape(Messages(link.postLinkText.get)) else ""

    Html("<A" + href + id + target + sso + ">" + text + "</A>" + postLinkText)
}

