@(field: play.api.data.Field, elementOptions: Seq[views.helpers.RadioButton], args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }

@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}

<div class="@elements.args.get('_groupDivClass) @if(elements.hasErrors) {error}">
    <p class="form-field">@elements.label</p>
    @if(elements.args.contains('_additionalTitleText)){<p>@elements.args.get('_additionalTitleText)</p>}
    @elements.errors.map { error => <span style="display: block" class="error-notification">@Messages(error)</span>}
    @for(option <- elementOptions) {
        <div class='@option.divClass.getOrElse("")'>
            <input
                    type="radio"
                    id="@elements.field.name-@option.key"
                    name="@elements.field.name"
                    value="@option.key"
                    @if(value==option.key){checked="checked"}
            >
                <label for="@elements.field.name-@option.key" class='@option.labelClass.getOrElse("")'>@option.value</label>
            </input>
        </div>
    }
</div>
