@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }
@value = @{ field.value match { case Some(x) => x case None => "false" case x => x }}
<div class=" form-field-single @if(elements.hasErrors) {error}">
    @elements.errors(elements.lang).map { error =>
    <span style="display: block" class="error-notification">@Messages(error)</span>
    }
    <input type="checkbox" id="@elements.id"
    @if( elements.args.get('_inputClass) ){ class="@elements.args.get('_inputClass)" }
    name="@elements.field.name" value="true" @if(value=="true"){checked="checked"}/>
    <label class="checkbox" for="@elements.id"> @elements.label</label>
</div>
