@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }
@parentField = @{args.toMap.get('parentField).asInstanceOf[Option[Field]]}

@parentElements = @{parentField.map(pf => new FieldElements(pf.id, pf, null, Map(), lang) )}

@labelAfter = @{ elements.args.get('_labelAfter).getOrElse(false).asInstanceOf[Boolean] }

<label for="@elements.field.name" class="@elements.args.get('_divClass) @if( elements.args.get('_labelClass) ){ @elements.args.get('_labelClass) } @if(elements.hasErrors || (parentElements.isDefined && parentElements.get.hasErrors)) {form-field--error}">
    @elements.errors.map { error => <span class="error-notification">@Messages(error)</span>}
    @if(parentElements.isDefined) {
    @parentElements.get.errors.map { error => <span class="error-notification">@Messages(error)</span>}
    }

    @if(!labelAfter && elements.args.contains('_label)) { @elements.label }
    @if( elements.args.get('_info) ) { <p>@elements.args.get('_info)</p> }
    <textarea type="text"
    @if( elements.args.get('_inputClass) ){ class="@elements.args.get('_inputClass)" }
    name="@elements.field.name"
    id="@elements.field.name">@field.value</textarea>
    @if(labelAfter && elements.args.contains('_label)) { @elements.label }
    @if(elements.args.contains('_help)) { <small>@elements.infos</small> }

</label>